body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1914px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#pwd_base {
  position:absolute;
  z-index:0;
}
#back_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
}
#back_wall {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:1920px;
  height:1080px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:35px;
}
#bgpattern {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#changepwd {
  border-width:0px;
  position:absolute;
  left:1072px;
  top:91px;
  width:800px;
  height:900px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#pwd_logo {
  border-width:0px;
  position:absolute;
  left:38px;
  top:31px;
  width:167px;
  height:106px;
  display:flex;
  font-size:30px;
}
#logoinfo_text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#forget_password {
  border-width:0px;
  position:absolute;
  left:160px;
  top:220px;
  width:600px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:30px;
  color:#333333;
  line-height:21px;
}
#tips {
  border-width:0px;
  position:absolute;
  left:160px;
  top:263px;
  width:423px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#changepwd .usr {
  border-width:0px;
  position:absolute;
  left:160px;
  top:343px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#AAAAAA;
}
#error {
  border-width:0px;
  position:absolute;
  left:160px;
  top:395px;
  width:287px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#D9001B;
}
#changepwd .mail {
  border-width:0px;
  position:absolute;
  left:160px;
  top:433px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#AAAAAA;
}
#changepwd .yname {
  border-width:0px;
  position:absolute;
  left:160px;
  top:497px;
  width:99px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#AAAAAA;
}
#confirm {
  border-width:0px;
  position:absolute;
  left:160px;
  top:581px;
  width:423px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}

input {
    height:44px;
    width: 423px;
    font-size: 14px;
    border:0;
    background-color:rgba(242, 242, 242, 1);
    padding-left:12px;
}

input::-webkit-input-placeholder {
    color:#AAAAAA;
}