body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}

.login_ground {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:900px;
  background-color: #FFFFFF;;
}
.bg_login {
  position:absolute;
  left:0px;
  top:0px;
  width:760px;
  height:900px;
}
#login {
  position:absolute;
  left:760px;
  top:0px;
  width:680px;
  height:900px;
}
#tool_name {
  position:absolute;
  left:140px;
  top:243px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  color:#333333;
  font-size:28px;
  line-height: 40px;
}
#wlc_login {
  position:absolute;
  left:140px;
  top:210px;
  color:#333333;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-size:18px;
  line-height: 25px;
}
#usr_name {
  position:absolute;
  left:140px;
  top:323px;
  color:#333333;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-size:18px;
  line-height: 25px;
}
#login .user {
  position:absolute;
  left:140px;
  top:355px;
  width:420px;
  height:48px;
  background: #F5F5F5;
  border-radius: 24px;
  border-radius: 24px;
  border:none;
  font-family: PingFangSC-Regular;
  /*-webkit-text-fill-color:#333333;*/
  font-size:16px;
  line-height: 22px;
}
#usr_pwd {
  position:absolute;
  left:140px;
  top:427px;
  color:#333333;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-size:18px;
  line-height: 25px;
}
#login .pwd {
  position:absolute;
  left:140px;
  top:459px;
  width:420px;
  height:48px;
  background: #F5F5F5;
  border-radius: 24px;
  border-radius: 24px;
  border:none;
  /* -webkit-text-fill-color:#333333; */
  font-size:16px;
  line-height: 22px;
}
#is_pick {
  position:absolute;
  left:140px;
  top:523px;
  width:16px;
  height:16px;
  background: #FFFFFF;
  border: 1px solid #D9D9D9;
  border-radius: 2px;
  border-radius: 2px;
}
#eye_img {
  border-width:0px;
  position:absolute;
  left:387px;
  top:17px;
  width:16px;
  height:10px;
}
#auto_login {
  position:absolute;
  left:164px;
  top:523px;
  font-family: PingFangSC-Regular;
  font-size: 14px;
  color: rgba(0,0,0,0.65);
  line-height: 22px;
}
#submit {
  position:absolute;
  left:140px;
  top:585px;
  width:420px;
  height:48px;
  background: #FF8F00;
  border-radius: 24px;
  border-radius: 24px;
  border:none;
  font-family: PingFangSC-Medium;
  font-size:16px;
  color:#FFFFFF;
  text-align: center;
  line-height: 24px;
}
#fg_pwd {
  position:absolute;
  left:490px;
  top:524px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
}
#fg_pwd .pwd_page {
  position: relative;;
  color: #FE6600;
  font-size:14px;
  text-decoration:none
}
.errornote {
  border-width: 0px;
  position: relative;
  left: 160px;
  top: 387px;
  color: red;
}