.menu_m5 {
    border-width: 0px;
    position: absolute;
    width:200px;
    height:46px;
    left:0px;
    top:369px;
}
.mp8 {
    width: 86px;
    text-align: left; 
  }
.mp9 {
    width: 139px;
    text-align: left; 
  }
  .mgoing_content {
    position: absolute;
    left: 40px;
    top: 442px;
    width: 1200px;
    height: 150px;
  }
  .mgoing_exam {
    position: absolute;
    left: 367px;
    top: 52px;
    width: 56px;
    height: 19px;
    font-family: 'PingFangSC-Regular', 'PingFang SC';
    font-weight: 650;
    font-size: 14px;
    color: #666666;
  }
  .mgoing_Suc2 {
    position: absolute;
    left: 390px;
    top: 38px;
    width:8px;
    height:8px;
  }
  .depart_em {
    position: absolute;
    left: 752px;
    top: 52px;
    width: 56px;
    height: 19px;
    font-family: 'MicrosoftTaiLe', 'Microsoft Tai Le';
    font-weight: 400;
    font-size: 14px;
    color: #999999;
  }
  .mgoing_Suc3 {
    position: absolute;
    left: 770px;
    top: 31px;
    width:22px;
    height:22px;
  }
  .mwait_line {
    position: absolute;
    left: 788px;
    top: 41px;
    width: 346px;
    height: 2px;
    background-color: rgba(233, 233, 233, 1);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(233, 233, 233, 1);
    border-radius: 2px;
  }
  .m_name {
    position: absolute;
    left: 752px;
    top: 84px;
    width: 23px;
    height: 54px;
    font-family: 'PingFangSC-Regular', 'PingFang SC';
    font-weight: 400;
    font-size: 12px;
    color: #989898;
    line-height: 18px;
  }
  .m_lastnm {
    position: absolute;;
    top: 1px;
  }
  .mexam_hist {
    position: absolute;
    left: 33px;
    top: 612px;
    width: 64px;
    height: 21px;
    font-family: 'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
    font-weight: 650;
    font-size: 16px;
    color: #666666;
    line-height: 21px;
  }
  .mexam_tb{
    position: relative;
    margin-top:649px;
    margin-left: 33px;
    width: 1140px;
    border-collapse: collapse;
  }
  #m_sug {
    position: absolute;
    left:33px;
    top:820px;
    width: 104px;
    height: 28px;
    background-color: rgba(16, 142, 233, 1);
    border: none;
    border-radius: 4px;
    font-family: 'PingFangSC-Regular', 'PingFang SC';
    font-weight: 400;
    font-size: 12px;
    color: #FFFFFF;
    text-align: left;
  }
  #mdload {
    position: absolute;
    left: 153px;
    top: 818px;
    width: 81px;
    height: 32px;
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(217, 217, 217, 1);
    background-color: rgba(255, 255, 255, 1);
    border-radius: 4px;
    font-family: 'PingFangSC-Regular', 'PingFang SC';
    font-weight: 400;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.647058823529412);
    text-align: center;
    line-height: 22px;
  }
  .m_mdata {
    position: absolute;
    left:21.5px;
    top:13px;
    font-family: 'PingFangSC-Regular', 'PingFang SC';
    font-weight: 400;
    font-size: 14px;
    width:56px;
    height:19px;
    color: #7F7F7F;
  }
  .manag_check {
    position: absolute;
    left: 752px;
    top: 52px;
    width: 56px;
    height: 19px;
    font-family: 'MicrosoftTaiLe', 'Microsoft Tai Le';
    font-weight: 400;
    font-size: 14px;
    color: #666666;
  }
  .gpld_exam {
    position: absolute;
    left: 367px;
    top: 52px;
    width: 56px;
    height: 19px;
    font-family: 'PingFangSC-Regular', 'PingFang SC';
    font-weight: 400;
    font-size: 14px;
    color: #666666;
  }
  .mSuc3 {
    position: absolute;
    left: 777px;
    top: 38px;
    width:8px;
    height:8px;
  }
  .mSuc_line {
    position: absolute;
    left:16px;
    top: 41px;
    width:1124px;
    height: 3px;
    background-color: rgba(16, 141, 233, 1);
    border: none;
    border-radius: 6px;
  }
  .msuc_pass {
    position: absolute;
    left: 1126px;
    top: 52px;
    width: 28px;
    height: 18px;
    font-family: 'MicrosoftTaiLe', 'Microsoft Tai Le';
    font-weight:650;
    font-size: 14px;
    color: #666666;
  }
  .mSuc4 {
    position: absolute;
    left: 1130px;
    top: 31px;
    width:22px;
    height:22px;
  }
  .m_stage {
    position: absolute;
    left: 752px;
    top: 84px;
    width: 62px;
    height: 54px;
    font-family: 'PingFangSC-Regular', 'PingFang SC';
    font-weight: 400;
    font-size: 12px;
    color: #989898;
    line-height: 18px;  
  }
  #mre_bt {
    position: absolute;
    left:33px;
    top:826px;
    width:81px;
    height:32px;
    background-color: rgba(16, 142, 233, 1);
    border: none;
    border-radius: 4px;
    font-family: 'MicrosoftYaHei', '微软雅黑';
    font-weight: 400;
    font-size: 12px;
    color: #FFFFFF;
    text-align: center;
  }
  .ste_pract {
    position: absolute;
    align-self: center;
    /* padding: 12px 16px 12px 16px; */
    width: 110px;
    height: 19px;
    top: 12px;
    left: 16px;
  }
  .ste_compt {
    position: absolute;
    align-self: center;
    width: 110px;
    height: 19px;
    top: 12px;
    left: 16px;
  }
  #ste_page1 {
    border-width: 0px;
    position: absolute;
    left: 1061px;
    top: 17px;
    width: 18px;
    height: 18px;
    background-color: rgba(16, 142, 233, 1);
    border: none;
    border-radius: 4px;
    box-shadow: none;
  }
  #ste_page {
    border-width: 0px;
    position: absolute;
    left: 1205px;
    top: 15px;
    width: 82px;
    height: 22px;
    background-color: rgba(255, 255, 255, 1);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(217, 217, 217, 1);
    border-radius: 4px;
    box-shadow: none;
    font-size: 12px;
    color: #666666;
    text-align: left;
  }
  #ste_input {
    position: absolute;
    left: 1348px;
    top: 15px;
    width: 47px;
    height: 22px;
    background-color: rgba(255, 255, 255, 1);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(217, 217, 217, 1);
    border-radius: 4px;
    box-shadow: none;
    font-size: 12px;
    -webkit-text-fill-color: #666666;
    text-align: left;
    padding-left: 11px;
  }

  .ste_total {
    position: absolute;
    left: 25px;
    top: 670px;
    width: 1415px;
    height: 40px;
  }
  .ste_content {
    position: absolute;
    left:33px;
    top:138px;
    width:1048px;
    height:180px;
  }
  .stepj_info {
    position: absolute;
    left:0px;
    top:0px;
    width:1048px;
    height:40px;
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(233, 233, 233, 1);
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
    border-radius: 2px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    text-align: left;
    line-height: 28px;
    font-family: 'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
    font-weight: 650;
    font-size: 16px;
    color: #666666;
  }
  .ste_bt {
    position: absolute;
    left:33px;
    top:789px;
    width:81px;
    height:32px;
    background-color: rgba(16, 142, 233, 1);
    border: none;
    border-radius: 4px;
    font-size: 12px;
    color: #FFFFFF;
  }
  .ste_ld {
    position: absolute;
    left: 130px;
    top: 790px;
    width: 81px;
    height: 32px;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(217, 217, 217, 1);
    background-color: rgba(255, 255, 255, 1);
    border-radius: 4px;
    font-family: 'PingFangSC-Regular', 'PingFang SC';
    font-weight: 400;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.647058823529412);
  }
  .myhv {
    position: absolute;
    left: 137px;
    top: 132px;
    width: 23px;
    height: 25px;
    font-weight: 650;
    font-size: 18px;
    color: #333333;
    background-color: rgba(255, 255, 255, 0);
    font-family: 'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  }
  .chmenu_gp1 {
    border-width: 0px;
    position: absolute;
    width:200px;
    height:46px;
    left:0px;
    top:231px;
    background-color:rgba(244, 244, 244, 1);
  }
  .tr_table {
    position:relative;
    margin-top:72px;
    width: 1200px;
    border-collapse:collapse;
    font-size:14px;
  }
  .tra1 {
    width:124px;
    text-align: center;
  }
  .tra2 {
    width:273px;
    text-align:left;
  }
  .tra3 {
    width:178px;
    text-align:left;
  }
  .tra4 {
    width:149px;
    text-align:left;
  }
  .tra5 {
    width:176px;
    text-align:left;
  }
  .tra6 {
    width:177px;
    text-align:left;
  }
  .tra7 {
    width:167px;
    text-align:left;
  }
  .tra8 {
    width:154px;
    text-align:left;
  }
  .colr {
    color: #555555;
  }
  .tratd6 {
    width:177px;
    text-align:left;
    color: #555555;
  }
  .tra_total {
    position: absolute;
    left: 24px;
    top: 700px;
    width: 1415px;
    height: 40px;
  }
  .te_data {
    position: relative;
    margin-top: 126px;
    width: 1415px;
    border-collapse: collapse;
    font-size: 14px;
  }
  .te_total {
    position: absolute;
    left: 25px;
    top: 455px;
    width: 1415px;
    height: 40px;
  }
  .te1 {
    width:116px;
    text-align: center;
  }
  .te2 {
    width:436px;
    text-align: left;
  }
  .te3 {
    width:105px;
    text-align: left;
  }
  .te4 {
    width:180px;
    text-align: left;
  }
  .te5 {
    width:246px;
    text-align: left;
  }
  .te6 {
    width:166px;
    text-align: left;
  }
  .te7 {
    width:151px;
    text-align: left;
  }
  .tag_info {
    position: relative;
    top: -2px;
  }
  .cut_compt {
    position: absolute;
    align-self: center;
    /* padding: 12px 16px 12px 16px; */
    top: 12px;
    left: 16px;
    width: 110px;
    height: 19px;
  }
  .te_table {
    position:relative;
    margin-top:126px;
    width: 1200px;
    border-collapse:collapse;
    font-size:14px;
  }
  .te_tr {
    width: 1415px;
    height:55px;
    border-top:1px solid rgba(217, 217, 217, 1);
    border-left: 1px solid rgba(217, 217, 217, 1);
    border-right: 1px solid rgba(217, 217, 217, 1);
    border-bottom:1px solid rgba(217, 217, 217, 1);
    color: #7F7F7F;
  }
  .te_th {
    height:54px;
    background-color:rgba(242, 242, 242, 1);
}
.te_th th {
    font-weight:normal;
}
.te_footer {
    border-width:0px;
    position:absolute;
    left:25px;
    top:739px;
    width:1416px;
    height:45px;
}
  .menu_cp1 {
    border-width: 0px;
    position: absolute;
    width:200px;
    height:46px;
    left:0px;
    top:25px;
  }
  .menu_cp2 {
    border-width: 0px;
    position: absolute;
    width:200px;
    height:46px;
    left:0px;
    top:71px;
    background-color:rgba(244, 244, 244, 1);
  }
  .Cp_title {
    position: relative;
    left:25px;
    top:17px;
    width:120px;
    height:55px;
  }
  .info_selt {
    border-width:0px;
    position:absolute;
    left:25px;
    top:78px;
    width:1200px;
    height:45px;
    background:inherit;
    background-color:rgba(255, 255, 255, 1);
    box-sizing:border-box;
    font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
    font-weight:650;
    font-style:normal;
  }
  .selcom {
    position: absolute;
    background-color: rgba(255, 255, 255, 1);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(217, 217, 217, 1);
    border-radius: 4px;
    font-family: 'PingFangSC-Regular', 'PingFang SC';
    font-weight: 400;
    font-size: 14px;
    text-align: left;
    line-height: 22px;
    width: 102px;
    height: 32px;
    top: 2px;
  }
  .showcont {
    position: relative;
    top: 4px;
    left: 15px;
    width:56px;
    height:19px;
    color: rgba(0, 0, 0, 0.647058823529412);
  }
  .sltimg {
    position: absolute;
    left: 81px;
    top: 11px;
    width: 8px;
    height: 8px;
  }
  .tbbd {
    position: absolute;
    left: 26px;
    top: 114px;
    width: 230px;
    height: 622px;
    background-color: rgba(255, 255, 255, 1);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(217, 217, 217, 1);
    border-radius: 4px;
    box-shadow: 0px 0px 4px rgba(217, 217, 217, 0.988235294117647);
  }
  .hidtb {
    position:relative;
    margin-top:0px;
    width: 230px;
    border-collapse:collapse;
    font-size:14px;
    border-radius: 4px;
  }
  .tiptr {
    width: 230px;
    height:40px;
  }
  .tipcont {
    position:relative;
    width: 198px;
    height:39px;
    left: 14px;
    border-bottom:1px solid rgba(217, 217, 217, 1);
  }
  .tiptext {
    position:relative;
    width: 132px;
    height:15px;
    top:14px;
    font-family: 'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
    font-weight: 200;
    font-size: 12px;
    color: #7F7F7F;
  }
  .tipselt {
    width:230px;
    height:26px;
    font-size: 13px;
  }
  .tipck {
    margin-left:15px;
    width:10px;
    height:10px;
    font-size: 13px;
    cursor: pointer;
    border-radius:0px;
}
.tipck:after {
    position: absolute;
    width:10px;
    height:10px;
    display: inline-block;
    position: absolute;
    content:"";
    display: inline-block;
    visibility: visible;
    border:1px solid rgba(121, 121, 121, 1);
    background-color: rgba(255, 255, 255, 1);
    border-radius: 0px;
}
.tipck:checked:after {
    content: '\2714';
    color:rgba(121, 121, 121, 1);
    position: absolute;
    text-align: center;
    line-height: 11px;
    font-weight: 650;
}
.linenm {
    position: relative;;
    left: 118px;
    top: 6px;
    width: 52px;
    height: 17px;
    font-family: 'PingFangSC-Regular', 'PingFang SC';
    font-weight: 400;
    font-size: 13px;
}
.lineselt {
    position:absolute;
    left:171px;
    top:2px;
    width:120px;
    height:32px;
    border-width:1px;
    border-style:solid;
    border-color:rgba(215, 215, 215, 1);
    border-radius:2px;
    font-family:'ArialMT', 'Arial';
    font-weight:400;
    font-size:13px;
    text-align:left;
    padding-left:2px;
    color:#000000;
    line-height:22px;
}
.pdtime {
    position: relative;;
    left: 263px;
    top: 6px;
    width: 65px;
    height: 17px;
    font-family: 'PingFangSC-Regular', 'PingFang SC';
    font-weight: 400;
    font-size: 13px;
}
.pdtimepick {
    position:absolute;
    left:386px;
    top:2px;
    width:120px;
    height:32px;
    border-width:1px;
    border-style:solid;
    border-color:rgba(215, 215, 215, 1);
    border-radius:2px;
    font-family:'ArialMT', 'Arial';
    font-weight:400;
    font-size:13px;
    text-align:left;
    padding-left:2px;
    color:#000000;
    line-height:22px;
}
.pdclassific {
    position: relative;;
    left:395.5px;
    top: 6px;
    width: 65px;
    height: 17px;
    font-family: 'PingFangSC-Regular', 'PingFang SC';
    font-weight: 400;
    font-size: 13px;
}
.typepick {
    position:absolute;
    left:588px;
    top:2px;
    width:120px;
    height:32px;
    border-width:1px;
    border-style:solid;
    border-color:rgba(215, 215, 215, 1);
    border-radius:2px;
    font-family:'ArialMT', 'Arial';
    font-weight:400;
    font-size:13px;
    text-align:left;
    padding-left:2px;
    color:#000000;
    line-height:22px;
}
.itsearch {
    position:absolute;
    left:724px;
    top:2px;
    width:195px;
    height:32px;
    border-width:1px;
    border-style:solid;
    border-color:rgba(215, 215, 215, 1);
    font-family:'ArialMT', 'Arial';
    font-weight:400;
    font-size:14px;
    text-align:left;
    padding-left:2px;
    color:#000000;
    padding-left:11px;
    padding-top: 2px;
    -webkit-text-fill-color:#AAAAAA;
}
.sortimg {
    position: relative;
    left:700px;
    top:8px;
    width: 16px;
    height: 16px;
    transform: rotate(345deg);
}
.sthandle {
    position: absolute;
    left:879px;
    top:22px;
    width: 2px;
    height: 4px;
    transform: rotate(315deg);
}
.cc_table {
    position:relative;
    margin-top:136px;
    width: 1415px;
    border-collapse:collapse;
    font-size:14px;
}
.cc_th {
    height:55px;
    background-color:rgba(242, 242, 242, 1);
}
.cc_th th {
    font-weight:normal;
}
.cct1 {
    width:47px;
    /* text-align: center; */
    padding-left: 16px;
}
.cct2 {
    width:45px;
    text-align:left;
}
.cct3 {
    width:288px;
    text-align:left;
}
.cct4 {
    width:94px;
    text-align:left;
}
.cct5 {
    width:79.5px;
    text-align:left;
}
.cct6 {
    width:110px;
    text-align:left;
}
.cct7 {
    width:93px;
    text-align:left;
}
.cct8 {
    width:98px;
    text-align:left;
}
.cct9 {
    width:124px;
    text-align:left; 
}
.cct10 {
    width:143px;
    text-align:left; 
}
.cct11 {
    width:148px;
    text-align:left;
}
.cct12 {
    width:106px;
    text-align:left; 
}
.ct_trwiden {
    width: 1415px;
    height:58px;
    border-top: 1px solid rgba(217, 217, 217, 1);
    border-left: 1px solid rgba(217, 217, 217, 1);
    border-right: 1px solid rgba(217, 217, 217, 1);
    color: #7F7F7F;
}
.extratr {
    width: 1415px;
    height:38px;
    border-left: 1px solid rgba(217, 217, 217, 1);
    border-right: 1px solid rgba(217, 217, 217, 1);
    border-bottom:1px solid rgba(235, 235, 235, 1);
    color: #7F7F7F;
    background-color:rgba(251, 251, 251, 1);
}
.extratd {
    text-align:left;
    font-size: 12px;
    padding-left: 87px;
    padding-bottom: 4px;
    color: #666666;
}
.cc_tr {
    width: 1415px;
    height:55px;
    border-left: 1px solid rgba(217, 217, 217, 1);
    border-right: 1px solid rgba(217, 217, 217, 1);
    border-bottom:1px solid rgba(217, 217, 217, 1);
    color: #7F7F7F;
}

.adcustomer {
  position:absolute;
  left:1016px;
  top:4px;
  width:100px;
  height:32px;
  background-color:#FF8F00;
  border:none;
  border-radius:5px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-size:13px;
  color:#FFFFFF;
  align-self:center;
  line-height:24px;
}
.caground {
  border-width:0px;
  position:absolute;
  width:1920px;
  height:1704px;
}
.cabase {
  border-width:0px;
  position:absolute;
  left:0px;
  top:64px;
  width:100%;
  height:1640px;
  background-color:rgba(244, 244, 244, 1);
}
.cabaseplate {
  border-width:0px;
  position:relative;
  top:24px;
  width:1440px;
  height:1542px;
  background-color:rgba(255, 255, 255, 1);
  margin-left: auto;
  margin-right: auto;
}
.camenuinfo {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 200px;
  height: 1542px;
  background-color: rgba(255, 255, 255, 1);
  box-sizing: border-box;
  border:2px solid rgba(244, 244, 244, 1); 
  border-top:none;
  border-bottom:none;
  border-left:none;
}
.cainfo_base {
  position: absolute;
  left: 200px;
  top: 0px;
  width: 1240px;
  height: 1542px;
  background-color: rgba(255, 255, 255, 1);
  box-sizing: border-box;
}
.catitle {
  border-width:0px;
  position:absolute;
  left:33px;
  top:79px;
  width:1174px;
  height:55px;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:2px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:left;
  line-height:24px;
}
.cainfo_title {
  border-width:0px;
  position:absolute;
  left:0px;
  top:17px;
  width:65px;
  height:22px;
  background-color:rgba(255, 255, 255, 0);
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-size:16px;
}
.caadd_info {
  position: absolute;
  left: 0px;
  top: 159px;
  width: 1200px;
  height: 188px;
  background-color: rgba(255, 255, 255, 1);
  box-sizing: border-box;
}
.cafloor1 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:0px;
  width:1200px;
  height:63px;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
.cm_name {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:22px;
}
.cmit_name {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:294px;
  height:30px;
  min-height:50px;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  padding-left:11px;
  padding-top:0px;
  line-height:22px;
}

.cmit_oanum {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:200px;
  height:38px;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  padding-left:11px;
  padding-top:0px;
  line-height:22px;
}


.cmtype {
  border-width:0px;
  position:absolute;
  left:366px;
  top:0px;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:22px;
}

.cmtype_time {
    width:200px;
    height:38px;
    top:6px;
    left:0px;
    position:relative
}


.typeselt {
  position:absolute;
  left:366px;
  top:30px;
  width:200px;
  height:32px;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  /*border-style:solid;*/
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  /*padding-left:7px;*/
  padding-bottom:2px;
  line-height:22px;
}

.product_type {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:200px;
  height:38px;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  padding-left:11px;
  padding-top:0px;
  line-height:22px;
}

.analyman {
  position:absolute;
  left:366px;
  top:30px;
  width:200px;
  height:38px;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  padding-left:7px;
  padding-bottom:2px;
  line-height:22px;
}


.pickman {
  border-width:0px;
  position:absolute;
  left:732px;
  top:0px;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:22px;
}

.submitter {
    border-width:0px;
    position:absolute;
    left:732px;
    top:30px;
    width:200px;
    height:38px;
    background-color:rgba(255, 255, 255, 1);
    box-sizing:border-box;
    border-width:1px;
    border-style:solid;
    border-color:rgba(217, 217, 217, 1);
    border-radius:4px;
    font-family:'PingFangSC-Regular', 'PingFang SC';
    font-weight:400;
    font-style:normal;
    font-size:14px;
    text-align:left;
    padding-left:11px;
    padding-top:0px;
    line-height:22px;
}

.prob_solution {
  position:absolute;
  left:366px;
  top:30px;
  width:565px;
  height:72px;
  min-height:50px;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  padding-left:7px;
  padding-bottom:2px;
  line-height:22px;
}


.selectman {
    position:absolute;
    left:732px;
    top:30px;
    width:200px;
    height:32px;
    background-color:rgba(255, 255, 255, 1);
    box-sizing:border-box;
    border-width:1px;
    /*border-style:solid;*/
    border-color:rgba(217, 217, 217, 1);
    border-radius:4px;
    font-family:'PingFangSC-Regular', 'PingFang SC';
    font-weight:400;
    font-style:normal;
    font-size:14px;
    text-align:left;
    /*padding-left:7px;*/
    padding-bottom:2px;
    line-height:22px;
}
.cafloor2 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:94px;
  width:1000px;
  height:63px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
.catitle2 {
    border-width:0px;
    position:absolute;
    left:33px;
    top:346px;
    width:1174px;
    height:55px;
    border-width:1px;
    border-style:solid;
    border-color:rgba(233, 233, 233, 1);
    border-left:0px;
    border-top:0px;
    border-right:0px;
    border-radius:2px;
    color:rgba(0, 0, 0, 0.847058823529412);
    text-align:left;
    line-height:24px;
}
.caadd_info2 {
  position: absolute;
  left: 0px;
  top: 426px;
  width: 1200px;
  height: 188px;
  background-color: rgba(255, 255, 255, 1);
  box-sizing: border-box;
}
.swversion {
    border-width:0px;
    position:absolute;
    left:732px;
    top:30px;
    width:200px;
    height:32px;
    background-color:rgba(255, 255, 255, 1);
    box-sizing:border-box;
    border-width:1px;
    border-style:solid;
    border-color:rgba(217, 217, 217, 1);
    border-radius:4px;
    font-family:'PingFangSC-Regular', 'PingFang SC';
    font-weight:400;
    font-style:normal;
    font-size:14px;
    text-align:left;
    padding-left:11px;
    padding-top:0px;
    line-height:22px;
}
.catitle3 {
    border-width:0px;
    position:absolute;
    left:33px;
    top:614px;
    width:1174px;
    height:55px;
    border-width:1px;
    border-style:solid;
    border-color:rgba(233, 233, 233, 1);
    border-left:0px;
    border-top:0px;
    border-right:0px;
    border-radius:2px;
    color:rgba(0, 0, 0, 0.847058823529412);
    text-align:left;
    line-height:24px;
}
.caadd_info3 {
  position: absolute;
  left: 0px;
  top: 694px;
  width: 1200px;
  height: 402px;
  background-color: rgba(255, 255, 255, 1);
  box-sizing: border-box;
}
.analypick {
    border-width:0px;
    position:absolute;
    left:0px;
    top:30px;
    width:200px;
    height:38px;
    background-color:rgba(255, 255, 255, 1);
    box-sizing:border-box;
    border-width:1px;
    /*border-style:solid;*/
    border-color:rgba(217, 217, 217, 1);
    border-radius:4px;
    font-family:'PingFangSC-Regular', 'PingFang SC';
    font-weight:400;
    font-style:normal;
    font-size:14px;
    text-align:left;
    /*padding-left:7px;*/
    padding-bottom:2px;
    line-height:22px;
}
.cafloor3 {
    border-width:0px;
    position:absolute;
    left:33px;
    top:188px;
    width:1000px;
    height:63px;
    background:inherit;
    background-color:rgba(255, 255, 255, 1);
    box-sizing:border-box;
    font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
    font-weight:650;
    font-style:normal;
}
.cafloor4 {
    border-width:0px;
    position:absolute;
    left:33px;
    top:281px;
    width:1416px;
    height:100px;
}
#pbtext {
    position: absolute;
    left: 0px;
    top: 30px;
    width: 931px;
    height: 72px;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(217, 217, 217, 1);
    border-radius: 4px;
    box-shadow: none;
    font-family: 'PingFangSC-Regular', 'PingFang SC';
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    text-align: left;
    padding-left: 11px;
    padding-top: 4px;
}
.cafllor5 {
    border-width:0px;
    position:absolute;
    left:33px;
    top:415px;
    width:600px;
    height:150px;
}
.upload {
    position: absolute;
    left: 0px;
    top: 30px;
    border-width: 1px;
    border-style: solid;
    border-color: white;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 2px;
    font-size: 12px;
    color: #666666;
    text-align: left;
}
.ldtext {
    position: relative;
    left: 14.5px;
    width: 48px;
    height: 16px;
}
.uparr {
    position: absolute;
    left: 7px;
    top: 9px;
    width: 12px;
    height: 12px;
}
.extenm {
    position: absolute;
    left: 0px;
    top: 52px;
    width: 284px;
    height: 18px;
    font-family: 'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
    font-weight: 200;
    font-size: 12px;
    color: #999999;
    line-height: 18px;
}
#handin {
    border-width:0px;
    position:absolute;
    top:94px;
    width:83px;
    height:32px;
    background-color:#FF8F00;
    border:none;
    border-radius:4px;
    box-shadow:none;
    font-family:'MicrosoftYaHei', 'Microsoft YaHei';
    font-weight:400;
    font-size:12px;
    color:#FFFFFF;
    text-align:left;
    line-height:24px;
  }
  #handin .hdin {
    border-width:0px;
    position:absolute;
    left:38.5px;
    top:4px;
  }
  #handin .hdin_img {
    position:absolute;
    left:16px;
    top:8px;
    width:16px;
    height:16px;
  }
.hdin_img1 {
    position:absolute;
    left:16px;
    top:8px;
    width:16px;
    height:16px;
  }
.handin {
    border-width:0px;
    position:absolute;
    top:94px;
    width:83px;
    height:32px;
    background-color:#FF8F00;
    border:none;
    border-radius:4px;
    box-shadow:none;
    font-family:'MicrosoftYaHei', 'Microsoft YaHei';
    font-weight:400;
    font-size:12px;
    color:#FFFFFF;
    text-align:center;
    line-height:24px;
  }
  #revoke {
    border-width:0px;
    position:absolute;
    left:140px;
    top:1204px;
    width:57px;
    height:32px;
    background-color:rgba(255, 255, 255, 1);
    border-width:1px;
    border-style:solid;
    border-color:rgba(217, 217, 217, 1);
    border-radius:4px;
    font-family:'PingFangSC-Regular', 'PingFang SC';
    font-weight:400;
    font-size:12px;
    color:rgba(0, 0, 0, 0.647058823529412);
    text-align:center;
    line-height:22px;
  }
  .closed_time {
    position: absolute;
    left: 366px;
    top: 30px;
    width: 294px;
    height: 32px;
    padding: 3px 2px 3px 2px;
    font-family: 'ArialMT', 'Arial';
    font-weight: 400;
    font-size: 13px;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(215, 215, 215, 1);
    border-radius: 4px;
    box-shadow: none;
  }
  .stepdate {
    position: absolute;
    left: 732px;
    top: 30px;
    width: 294px;
    height: 32px;
    padding: 3px 2px 3px 2px;
    font-family: 'ArialMT', 'Arial';
    font-weight: 400;
    font-size: 13px;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(215, 215, 215, 1);
    border-radius: 4px;
    box-shadow: none;
  }
  .timepick {
    border-width:0px;
    position:absolute;
    left:732px;
    top:30px;
    width:294px;
    height:32px;
    background-color:rgba(255, 255, 255, 1);
    border-width:1px;
    border-style:solid;
    border-color:#AAAAAA;
    border-radius:4px;
    font-family:'PingFangSC-Regular', 'PingFang SC';
    font-weight:400;
    font-size:14px;
    text-align:left;
    padding-left:7px;
    padding-bottom:2px;
    -webkit-text-fill-color:#333333;
    line-height:22px;
    -webkit-appearance: none;
    /* background: url(C:/Users/Administrator/Desktop/tdproject/images/admin/time.png) no-repeat 266px; */
    background-size: 14px;
    opacity: 0.43;
}
.cd_going {
  position: absolute;
  left: 33px;
  top: 96px;
  width: 1174px;
  height: 55px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(233, 233, 233, 1);
  border-left: 0px;
  border-top: 0px;
  border-right: 0px;
  font-family: 'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight: 650;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.847058823529412);
  text-align: left;
  line-height: 24px;
}
.cd_info {
  position: absolute;
  left: 0px;
  top: 17px;
  width: 65px;
  height: 22px;
  color: #666666;
}
.cdgoing_cont {
  position: absolute;
  left:33px;
  top:177px;
  width:1000px;
  height:60px;
}
.cdname {
  position: absolute;
  left:0px;
  top: 0px;
  font-family: 'PingFangSC-Regular', 'PingFang SC';
  font-weight: 400;
  font-size: 14px;
  color: #555555;
}
.cdtype {
  position: absolute;
  left:354px;
  top: 0px;
  font-family: 'PingFangSC-Regular', 'PingFang SC';
  font-weight: 400;
  font-size: 14px;
  color: #555555;
}
.hdname {
  position: absolute;
  left:708px;
  top: 0px;
  font-family: 'PingFangSC-Regular', 'PingFang SC';
  font-weight: 400;
  font-size: 14px;
  color: #555555;
}
.cdoa {
  position: absolute;
  left:0px;
  top: 38px;
  font-family: 'PingFangSC-Regular', 'PingFang SC';
  font-weight: 400;
  font-size: 14px;
  color: #555555;
}
.cdtime {
  position: absolute;
  left:354px;
  top: 38px;
  font-family: 'PingFangSC-Regular', 'PingFang SC';
  font-weight: 400;
  font-size: 14px;
  color: #555555;
}
.cdarea {
  position: absolute;
  left:708px;
  top: 38px;
  font-family: 'PingFangSC-Regular', 'PingFang SC';
  font-weight: 400;
  font-size: 14px;
  color: #555555;
}
.cdpdinfo {
  position: absolute;
  left: 33px;
  top: 251px;
  width: 1174px;
  height: 55px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(233, 233, 233, 1);
  border-left: 0px;
  border-top: 0px;
  border-right: 0px;
  font-family: 'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight: 650;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.847058823529412);
  text-align: left;
  line-height: 24px;
}
.cdgoing_cont2 {
  position: absolute;
  left:33px;
  top:332px;
  width:1000px;
  height:60px;
}
.cddet {
  position: absolute;
  left: 33px;
  top: 407px;
  width: 1174px;
  height: 55px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(233, 233, 233, 1);
  border-left: 0px;
  border-top: 0px;
  border-right: 0px;
  font-family: 'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight: 650;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.847058823529412);
  text-align: left;
  line-height: 24px;
}
.cdgoing_cont3 {
  position: absolute;
  left:33px;
  top:488px;
  width:1000px;
  height:60px;
}
.egcont {
  position: absolute;
  left:71px;
  top: 37px;
  width: 882px;
  height: 38px;
  font-family: 'PingFangSC-Regular', 'PingFang SC';
  font-weight: 400;
  font-size: 14px;
  color: #555555;
}
.cdgoing_cont4 {
  position: absolute;
  left:33px;
  top:582px;
  width:1000px;
  height:60px;
}
.egcont2 {
  position: absolute;
  left:71px;
  top: 37px;
  width: 729px;
  height: 44px;
  font-family: 'PingFangSC-Regular', 'PingFang SC';
  font-weight: 400;
  font-size: 14px;
  color: #555555;
}
.bklist {
  position: absolute;
  left:33px;
  top:703px;
  width: 81px;
  height: 32px;
  background-color: rgba(16, 142, 233, 1);
  border: none;
  border-radius: 3px;
  font-weight: 400;
  font-size: 12px;
  color: #FFFFFF;
  text-align: center;
}
.ddfile {
  position: absolute;
  left: 130px;
  top: 703px;
  width: 97px;
  height: 32px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(217, 217, 217, 1);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.647058823529412);
  text-align: center;
  line-height: 22px;
}
.gmenu_cp1 {
  border-width: 0px;
  position: absolute;
  width:200px;
  height:46px;
  left:0px;
  top:25px;
  background-color:rgba(244, 244, 244, 1);
}
.gmenu_cp2 {
  border-width: 0px;
  position: absolute;
  width:200px;
  height:46px;
  left:0px;
  top:71px;
}
.sortrg {
  position: relative;;
  left:1px;
  top: 6px;
  width: 65px;
  height: 17px;
  font-family: 'PingFangSC-Regular', 'PingFang SC';
  font-weight: 400;
  font-size: 13px;
}
.rgselect {
  position:absolute;
  left:67px;
  top:2px;
  width:120px;
  height:32px;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:2px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-size:13px;
  text-align:left;
  padding-left:2px;
  color:#000000;
  line-height:22px;
}
.gptime {
  position: relative;;
  left: 133px;
  top: 6px;
  width: 65px;
  height: 17px;
  font-family: 'PingFangSC-Regular', 'PingFang SC';
  font-weight: 400;
  font-size: 13px;
}
.gptimepick {
    position:absolute;
    left:269px;
    top:2px;
    width:120px;
    height:32px;
    border-width:1px;
    border-style:solid;
    border-color:rgba(215, 215, 215, 1);
    border-radius:2px;
    font-family:'ArialMT', 'Arial';
    font-weight:400;
    font-size:13px;
    text-align:left;
    padding-left:2px;
    color:#000000;
    line-height:22px;
}
.lbselect {
    position: relative;;
    left:265.5px;
    top: 6px;
    width: 65px;
    height: 17px;
    font-family: 'PingFangSC-Regular', 'PingFang SC';
    font-weight: 400;
    font-size: 13px;
}
.lbpick {
    position:absolute;
    left:471px;
    top:2px;
    width:120px;
    height:32px;
    border-width:1px;
    border-style:solid;
    border-color:rgba(215, 215, 215, 1);
    border-radius:2px;
    font-family:'ArialMT', 'Arial';
    font-weight:400;
    font-size:13px;
    text-align:left;
    padding-left:2px;
    color:#000000;
    line-height:22px;
}
.gpsearch {
    position:absolute;
    left:607px;
    top:2px;
    width:195px;
    height:32px;
    border-width:1px;
    border-style:solid;
    border-color:rgba(215, 215, 215, 1);
    font-family:'ArialMT', 'Arial';
    font-weight:400;
    font-size:14px;
    text-align:left;
    padding-left:2px;
    color:#000000;
    padding-left:11px;
    padding-top: 2px;
    -webkit-text-fill-color:#AAAAAA;
}
.gpsortimg {
    position: relative;
    left:570px;
    top:8px;
    width: 16px;
    height: 16px;
    transform: rotate(345deg);
}
.gpsthandle {
    position: absolute;
    left:786px;
    top:22px;
    width: 2px;
    height: 4px;
    transform: rotate(315deg);
}
.gd_table {
  position:relative;
  margin-top:128px;
  width: 1415px;
  border-collapse:collapse;
  font-size:14px;
}
.gdextratr {
    width: 1415px;
    height:38px;
    border-left: 1px solid rgba(217, 217, 217, 1);
    border-right: 1px solid rgba(217, 217, 217, 1);
    border-bottom:1px solid rgba(235, 235, 235, 1);
    color: #7F7F7F;
    background-color:rgba(251, 251, 251, 1);
}
.gpextratd {
  text-align:left;
  font-size: 12px;
  padding-left: 134px;
  padding-bottom: 4px;
  color: #666666;
}
.gd_th {
    height:55px;
    background-color:rgba(242, 242, 242, 1);
}
.gd_th th {
    font-weight:normal;
}
.gd_trwiden {
    width: 1415px;
    height:58px;
    border-top: 1px solid rgba(217, 217, 217, 1);
    border-left: 1px solid rgba(217, 217, 217, 1);
    border-right: 1px solid rgba(217, 217, 217, 1);
    color: #7F7F7F;
}
.gd_tr {
    width: 1415px;
    height:55px;
    border-left: 1px solid rgba(217, 217, 217, 1);
    border-right: 1px solid rgba(217, 217, 217, 1);
    border-bottom:1px solid rgba(217, 217, 217, 1);
    color: #7F7F7F;
}
.gdt1 {
    width:48px;
    /* text-align: center; */
    padding-left: 16px;
    /* padding-bottom: 3px; */
}
.gdt2 {
    width:46px;
    text-align:left;
}
.gdt3 {
    width:420px;
    text-align:left;
}
.gdt4 {
    width:115px;
    text-align:left;
}
.gdt5 {
    width:154px;
    text-align:left;
}
.gdt6 {
    width:266px;
    text-align:left;
}
.gdt7 {
    width:179px;
    text-align:left;
}
.gdt8 {
    width:143px;
    text-align:left;
}
.gd_footer {
    border-width:0px;
    position:absolute;
    left:25px;
    top:783px;
    width:1416px;
    height:45px;
    box-sizing:border-box;
    font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
    font-weight:650;
    font-style:normal;
}
.gnbd {
    position: relative;
    width: 500px;
    height: 40px;
    margin-bottom: 15px;
}
.gdname {
    position: relative;
    /* left: 49px;
    top: 12px;
    width: 91px;
    height: 17px; */
    font-family: 'PingFangSC-Regular', 'PingFang SC';
    font-weight: 400;
    font-size: 13px;
}
.input_gd {
    position: absolute;
    left: 141px;
    top: 5px;
    width: 400px;
    height: 32px;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    /* -webkit-text-fill-color:#D7D7D7; */
    padding-left: 7px;
    padding-top: 2px;
    font-size: 14px;
}

.gnbd2 {
    position: relative;
    width: 500px;
    height:40px;
    margin-bottom: 15px;
}

.authselt {
    position: absolute;
    left: 141px;
    top: 1px;
    width: 401px;
    height: 32px;
    padding-left: 7px;
    padding-bottom: 2px;
    font-size: 14px;
    border-color: rgba(215, 215, 215, 1);
    border-radius: 2px;
    /* color: #D7D7D7; */
}
.gnbd3 {
    position: relative;
    width: 500px;
    height:40px;
    margin-bottom: 15px;
}
.atgpselt {
    position: absolute;
    left: 141px;
    top: 1px;
    width: 401px;
    height: 32px;
    padding-left: 7px;
    padding-bottom: 0px;
    font-size: 13px;
    border-color: rgba(215, 215, 215, 1);
    border-radius: 2px;
}
.gnbd4 {
    position: relative;
    width: 500px;
    height:40px;
    margin-bottom: 40px;
}
.tttag {
    position: absolute;
    left: 76px;
    top: 8px;
    width: 79px;
    height: 22px;
    font-size: 13px;
}
.gnbd5 {
    position: relative;
    width: 500px;
    height:40px;
    margin-bottom: 15px;
}
.writetm {
    position: absolute;
    left: 75px;
    top: 8px;
    width: 79px;
    height: 22px;
    font-size: 13px;
}
.wtime {
    position: absolute;
    left: 141px;
    top: 1px;
    width: 400px;
    height: 32px;
    font-size: 14px;
    color: #D7D7D7;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(215, 215, 215, 1);
    border-radius: 2px;
    font-family: 'ArialMT', 'Arial';
    padding-left: 3px;
}
.gnbd6 {
    position: relative;
    width: 500px;
    height: 170px;
    margin-bottom: 15px;
}
.contsum {
    position: relative;
    left: 35px;
    top: 8px;
    width: 65px;
    height: 17px;
    font-size: 13px;
}
.sumtext {

    height: 170px;

}
.gnbd7 {
    position: relative;
    width: 600px;
    height: 70px;
    left: 0px;
}
.upextra {
    position: absolute;
    left: 109px;
    top: 7px;
    border-width: 1px;
    border-style: solid;
    border-color: white;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 2px;
    font-size: 12px;
    color: #666666;
    text-align: left;
}
.fileformt {
    position: absolute;
    left: 109px;
    top: 30px;
    width: 284px;
    height: 18px;
    font-family: 'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
    font-weight: 200;
    font-size: 12px;
    color: #999999;
    line-height: 18px;
}
#gahandin {
    border-width:0px;
    position:absolute;
    top:65px;
    left: 141px;
    width:93px;
    height:32px;
    background-color:#FF8F00;
    border:none;
    border-radius:4px;
    box-shadow:none;
    font-family:'MicrosoftYaHei', 'Microsoft YaHei';
    font-weight:400;
    font-size:16px;
    color:#FFFFFF;
    text-align:center;
    line-height:24px;
  }
  #gahandin .gahdin {
    border-width:0px;
    position:absolute;
    left:40px;
    top:4px;
  }
  #gahandin .gahdin_img {
    position:absolute;
    left:16px;
    top:8px;
    width:16px;
    height:16px;
  }
  #garevoke {
    border-width:0px;
    position:absolute;
    left:244px;
    top:65px;
    width:57px;
    height:32px;
    background-color:rgba(255, 255, 255, 1);
    border-width:1px;
    border-style:solid;
    border-color:rgba(217, 217, 217, 1);
    border-radius:4px;
    font-family:'PingFangSC-Regular', 'PingFang SC';
    font-weight:400;
    font-size:16px;
    color:rgba(0, 0, 0, 0.647058823529412);
    text-align:center;
    line-height:22px;
  }
  .texttag {
    position: absolute;
    left: 526px;
    top: 112px;
    width: 10px;
    height: 4px;
    transform: rotate(315deg);
  }
  .tagck {
    margin-left:141px;
    margin-top: 12px;
    width:10px;
    height:10px;
    font-size: 13px;
    cursor: pointer;
    border-radius:0px;
}
.tagck:after {
    position: absolute;
    width:10px;
    height:10px;
    display: inline-block;
    position: absolute;
    content:"";
    display: inline-block;
    visibility: visible;
    border:1px solid rgba(121, 121, 121, 1);
    background-color: rgba(255, 255, 255, 1);
    border-radius: 0px;
}
.tagck:checked:after {
    content: '\2714';
    color:rgba(121, 121, 121, 1);
    position: absolute;
    text-align: center;
    line-height: 11px;
    font-weight: 650;
}
.usrex {
    position: absolute;
    left: 157px;
    top: 8px;
    /* width: 84px; */
    font-size: 14px;
    font-family: 'PingFangSC-Regular', 'PingFang SC';
    font-weight: 400;
}
.tagck2 {
    margin-left:82px;
    margin-top: 12px;
    width:10px;
    height:10px;
    font-size: 13px;
    cursor: pointer;
    border-radius:0px;
}
.tagck2:after {
    position: absolute;
    width:10px;
    height:10px;
    display: inline-block;
    position: absolute;
    content:"";
    display: inline-block;
    visibility: visible;
    border:1px solid rgba(121, 121, 121, 1);
    background-color: rgba(255, 255, 255, 1);
    border-radius: 0px;
}
.tagck2:checked:after {
    content: '\2714';
    color:rgba(121, 121, 121, 1);
    position: absolute;
    text-align: center;
    line-height: 11px;
    font-weight: 650;
}
.ptl {
    position: absolute;
    left: 257px;
    top: 8px;
    width: 84px;
    font-size: 14px;
    font-family: 'PingFangSC-Regular', 'PingFang SC';
    font-weight: 400;
}
.tagck3 {
    margin-left:83px;
    margin-top: 12px;
    width:10px;
    height:10px;
    font-size: 13px;
    cursor: pointer;
    border-radius:0px;
}
.tagck3:after {
    position: absolute;
    width:10px;
    height:10px;
    display: inline-block;
    position: absolute;
    content:"";
    display: inline-block;
    visibility: visible;
    border:1px solid rgba(121, 121, 121, 1);
    background-color: rgba(255, 255, 255, 1);
    border-radius: 0px;
}
.tagck3:checked:after {
    content: '\2714';
    color:rgba(121, 121, 121, 1);
    position: absolute;
    text-align: center;
    line-height: 11px;
    font-weight: 650;
}
.methd {
    position: absolute;
    left: 357px;
    top: 8px;
    width: 84px;
    font-size: 14px;
    font-family: 'PingFangSC-Regular', 'PingFang SC';
    font-weight: 400;
}
.autom {
    position: absolute;
    left: 457px;
    top: 8px;
    width: 84px;
    font-size: 14px;
    font-family: 'PingFangSC-Regular', 'PingFang SC';
    font-weight: 400;
}
.hdsuc {
    position: absolute;
    left: 640px;
    top: 195px;
    width: 64px;
    height: 69px;
    font-size: 128px;
    color: #00A854;
}
.sbtsuc {
    position: absolute;
    left: 633.5px;
    top: 280px;
    width: 81px;
    height: 24px;
    font-family: 'MicrosoftTaiLe-Bold', 'Microsoft Tai Le Bold', 'Microsoft Tai Le';
    font-weight: 700;
    font-size: 20px;
    color: #666666; 
}
.suctext {
    position: absolute;
    left: 520px;
    top: 317px;
    width: 641px;
    height: 18px;
    font-family: 'PingFangSC-Regular', 'PingFang SC';
    font-weight: 400;
    font-size: 10px;
    color: #999999;
}
.contbg {
    position: absolute;
    left: 327px;
    top: 377px;
    width: 690px;
    height: 226px;
    background-color: rgba(247, 247, 247, 1);
    border-radius: 4px;  
}
.sucname {
    position: absolute;
    left: 36px;
    top: 20px;
    font-family: 'PingFangSC-Regular', 'PingFang SC';
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: #555555;
}
.mn1 {
    position: absolute;
    top: 48px;
    width: 690px;
    height: 20px;
}
.atnm {
    position: absolute;
    left: 36px;
    top: 1px;
    font-family: 'PingFangSC-Regular', 'PingFang SC';
    font-weight: 400;
    font-size: 12px;
    color: #999999;
}
.wtim {
    position: absolute;
    left: 137px;
    top: 1px;
    font-family: 'PingFangSC-Regular', 'PingFang SC';
    font-weight: 400;
    font-size: 12px;
    color: #999999;
}
.sucimg1 {
    position: absolute;
    left: 45px;
    top: 101px;
    width: 8px;
    height: 8px;
}
.suclin1 {
    position: absolute;
    left: 52px;
    top: 104px;
    width: 200px;
    height: 3px;
    background-color: rgba(16, 141, 233, 1);
}
.sucimg2 {
    position: absolute;
    left: 236px;
    top: 94px;
    width: 22px;
    height: 22px;
}
.suclin2 {
    position: absolute;
    left: 253.5px;
    top: 104px;
    width: 383px;
    height: 2px;
    background-color: rgba(233, 233, 233, 1);
}
.sucimg3 {
    position: absolute;
    left: 442px;
    top: 101px;
    width: 8px;
    height: 8px;
}
.sucimg4 {
    position: absolute;
    left: 637px;
    top: 101px;
    width: 8px;
    height: 8px;
}
.gscreat {
    position: absolute;
    left: 36px;
    top: 115px;
    font-family: 'MicrosoftTaiLe', 'Microsoft Tai Le';
    font-weight: 400;
    font-size: 12px;
    color: #666666;
}
.gsexam {
    position: absolute;
    left: 223px;
    top: 115px;
    font-family: 'MicrosoftTaiLe', 'Microsoft Tai Le';
    font-weight: 400;
    font-size: 12px;
    color: #666666;
}
.gsdepart {
    position: absolute;
    left: 421px;
    top: 115px;
    font-family: 'MicrosoftTaiLe', 'Microsoft Tai Le';
    font-weight: 400;
    font-size: 12px;
    color: #999999;
}
.gspass {
    position: absolute;
    left: 625px;
    top: 115px;
    font-family: 'MicrosoftTaiLe', 'Microsoft Tai Le';
    font-weight: 400;
    font-size: 12px;
    color: #999999;
}
.gsst {
    position: absolute;
    left: 36px;
    top: 147px;
    width: 62px;
    height: 54px;
    font-size: 12px;
    line-height: 18px;
}
.gssessor {
    position: absolute;
    left: 233px;
    top: 148px;
    font-family: 'PingFangSC-Regular', 'PingFang SC';
    font-weight: 400;
    font-size: 12px;
    color: #989898;
}
.gsback {
    position: absolute;
    left: 584px;
    top: 634px;
    width: 81px;
    height: 32px;
    background-color: rgba(16, 142, 233, 1);
    border-radius: 4px;
    font-weight: 400;
    border: none;
    font-size: 12px;
    color: #FFFFFF;
    text-align:center;
}
.gssee {
    position: absolute;
    left: 675px;
    top: 634px;
    width: 85px;
    height: 32px;
    background-color: rgba(243, 243, 243, 1);
    border-width: 1px;
    border-style: solid;
    border-color: rgba(217, 217, 217, 1);
    border-radius: 4px;
    font-family: 'PingFangSC-Regular', 'PingFang SC';
    font-weight: 400;
    color: #666666;
    text-align: center;
    line-height: 21px;
}
.failimg {
    position: absolute;
    left: 651px;
    top: 311px;
    width: 73px;
    height: 79px;
    font-size: 144px;
    color: #F5222D;
}
.hafail {
    position: absolute;
    left: 639.5px;
    top: 407px;
    font-family: 'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
    font-weight: 650;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.847058823529412);
}
.fltip {
    position: absolute;
    left: 513px;
    top: 456px;
    font-size: 14px;
    font-family: 'PingFangSC-Regular', 'PingFang SC';
    font-weight: 400;
    color: rgba(0, 0, 0, 0.447058823529412);
}
.gfback {
    position: absolute;
    left: 595px;
    top: 533px;
    width: 89px;
    height: 32px;
    background-color: rgba(24, 144, 255, 1);
    border-radius: 4px;
    font-weight: 400;
    border: none;
    font-size: 14px;
    color: #FFFFFF;
    text-align:center;
    line-height: 22px;
}
.gfsee {
    position: absolute;
    left: 692px;
    top: 533px;
    width: 103px;
    height: 32px;
    background-color: rgba(255, 255, 255, 1);
    border:1px solid rgba(217, 217, 217, 1);
    border-radius: 4px;
    font-weight: 400;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.647058823529412);
    text-align:center;
    line-height: 22px;
}
.gdcont {
    position: absolute;
    left: 33px;
    top: 255px;
    width: 1000px;
    height: 80px;
}
.gdtext {
    position: absolute;
    left: 71px;
    top: 0px;
    width: 729px;
    height: 44px;
    font-family: 'PingFangSC-Regular', 'PingFang SC';
    font-weight: 400;
    font-size: 14px;
    color: #555555;
    line-height: 22px;
}
.gdextext {
    position: absolute;
    left: 0px;
    top: 60px;
    font-family: 'PingFangSC-Regular', 'PingFang SC';
    font-weight: 400;
    font-size: 14px;
    color: #555555;
}
.gdrelist {
    position: absolute;
    left: 33px;
    top: 385px;
    width: 81px;
    height: 32px;
    background-color: rgba(16, 142, 233, 1);
    border: none;
    border-radius: 3px;
    font-weight: 400;
    font-size: 12px;
    color: #FFFFFF;
    text-align: center;
}
.gdfile {
    position: absolute;
    left: 130px;
    top: 385px;
    width: 97px;
    height: 32px;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(217, 217, 217, 1);
    background-color: rgba(255, 255, 255, 1);
    border-radius: 4px;
    font-weight: 400;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.647058823529412);
    text-align: center;
    line-height: 11px;
}
.seletup {
    position: relative;
    left: -8px;
    top: 0px;
    width: 14px;
    height: 14px;
}
.sortarr {
    position: absolute;
    left: 342px;
    top: 308px;
    width: 14px;
    height: 20px;
}
.gdel {
    position: absolute;
    left: 1145px;
    top: 2px;
    width: 57px;
    height: 32px;
    background-color: rgba(255, 255, 255, 1);
    border-width: 1px;
    border-style: solid;
    border-color: rgba(217, 217, 217, 1);
    border-radius: 4px;
    font-family: 'PingFangSC-Regular', 'PingFang SC';
    font-weight: 400;
    font-size: 12px;
    color: #666666;
    align-self: center;
    text-align: center;
    line-height: 18px;
}
.gdelload {
    position: absolute;
    left: 1218px;
    top: 2px;
    width: 81px;
    height: 32px;
    background-color: rgba(255, 255, 255, 1);
    border-width: 1px;
    border-style: solid;
    border-color: rgba(217, 217, 217, 1);
    border-radius: 4px;
    font-family: 'PingFangSC-Regular', 'PingFang SC';
    font-weight: 400;
    font-size: 12px;
    color: #666666;
    text-align:center;
    line-height: 18px;
}
.graybg {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1920px;
    height: 1080px;
    background-color: rgba(0, 0, 0, 1);
    opacity: 0.5;
}
.realpage {
    position: absolute;
    left: 710px;
    top: 438px;
    width: 500px;
    height: 202px;
    background: inherit;
    border: none;
    background-color: rgba(255, 255, 255, 1);
}
.delgp {
    position: absolute;
    left: 28px;
    top: 17px;
    font-family: 'PingFangSC-Regular', 'PingFang SC';
    font-weight: 400;
    font-size: 16px;
    color: #000000;
}
.delsure {
    position: absolute;
    left: 24px;
    top:63px;
    font-family: 'PingFangSC-Regular', 'PingFang SC';
    font-weight: 400;
    font-size: 14px;
    color: #AAAAAA;
}
.delcancle {
    position: absolute;
    left: 191px;
    top: 138px;
    width: 140px;
    height: 40px;
    background-color: rgba(255, 255, 255, 1);
    border-width: 1px;
    border-style: solid;
    border-color: rgba(121, 121, 121, 1);
    border-radius: 5px;
}
.deldefine {
    position: absolute;
    left: 347px;
    top: 138px;
    width: 140px;
    height: 40px;
    background-color: rgba(22, 155, 213, 1);
    color: #FFFFFF;
    font-family: 'PingFangSC-Regular', 'PingFang SC';
    font-weight: 400;
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 5px;
    border: none;
}

.tagbd1 {
    position: absolute;
    /* left: 821px; */
    top: 169px;
    width: 53px;
    height: 20px;
    background-color: rgba(245, 245, 245, 1);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(217, 217, 217, 1);
    border-radius: 4px;
    font-family: 'PingFangSC-Regular', 'PingFang SC';
    font-weight: 400;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.647058823529412);
    text-align: center;
    line-height: 20px;
  }
  .tagbd2 {
    position: relative;
    left: 57px;
    top: 10px;
    width: 65px;
    height: 20px;
    background-color: rgba(245, 245, 245, 1);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(217, 217, 217, 1);
    border-radius: 4px;
    font-family: 'PingFangSC-Regular', 'PingFang SC';
    font-weight: 400;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.647058823529412);
    text-align: center;
    line-height: 20px;
  }
  .tagbd3 {
    position: relative;
    left: 127px;
    bottom: 10px;
    width: 65px;
    height: 20px;
    background-color: rgba(245, 245, 245, 1);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(217, 217, 217, 1);
    border-radius: 4px;
    font-family: 'PingFangSC-Regular', 'PingFang SC';
    font-weight: 400;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.647058823529412);
    text-align: center;
    line-height: 20px;
  }

.site-text {
  position: relative;
  padding: 25px;
  margin-top: 20px;
}