{% load staticfiles %}
<html>
<head>
    <title>login</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="{% static 'css/account/login.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/default.css' %}" type="text/css">
</head>
<body>
    <div id="base">
        <div id="background" class="ax_default placeholder">
            <img id="bg" class="bg_img" src="{% static 'images/account/bg.svg' %}">
            <div id="logo" class="ax_default placeholder">
                <img id="logo_img" src="{% static 'images/account/logo.svg' %}">
                <div id="logo_text" class="text">
                    <p>
                        <span>LOGO</span>
                    </p>
                </div>
            </div>
            <div id="illustration">
                <p>
                    <span>背景插图</span>
                </p>
            </div>
            <div id="login" class="ax_default text_p">
                <div id="wlc_login" class="text">
                    <p>
                        <span>欢迎登录！</span>
                    </p>
                </div>
                <div id="tool_name">
                    <p>
                        <span>测试部内部学习交流平台</span>
                    </p>
                </div>
                <form id="login-form" action="." method="post">{% csrf_token %}
                {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                <p class="errornote">
                    {{ error }}
                </p>
                {% endfor %}
                {% endif %}
                <div class="user">
                    <div id="usr_img">
                        <img src="{% static 'images/account/usr.svg' %}">
                    </div>
                    {% comment %} {{ form.username.errors }}
                    {{ form.username }} {% endcomment %}
                    <input type="text" id="login_usrname" name="username" placeholder="请输入用户名">
                </div>
                <div class="pwd">
                    <div id="pwd_img">
                        <img src="{% static 'images/account/pwd.svg' %}">
                    </div>
                    {% comment %} {{ form.password.errors }}
                    {{ form.password }} {% endcomment %}
                    <input type="password" id="login_pwd" name="password" placeholder="请输入密码">
                    <div id="eye_img">
                        <img src="{% static 'images/account/eye.png' %}">
                    </div>
                </div>
                <div>
                    <input id="submit" type="submit" value="登录">
                </div>
                </form>
                <div id="fg_pwd">
                    <a class="pwd_page" href="{% url 'password_reset_recover' %}">
                        <span>忘记密码？</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>