{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}我的信息{% endblock  %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/account/admin_group.css' %}">
<link rel="stylesheet" href="{% static 'css/default.css' %}">

<div class="base">
    <div class="baseplate">
        <div class="menuinfo">
            <div class="pt">
                <img src="{% static 'images/account/photo.svg' %}">
                <span class="chpt">更换头像</span>
            </div>
            <img src="images/admin/hand.png" class="hand">
            <div class="nm">
                <span>{{userinfo.realname}}</span>
            </div>
            <div class="pt_dp">
                <span>测试部 | 经理</span>
            </div>
            <div class="sc">
                <span>80</span>
            </div>
            <div class="hv">
                <span>29</span>
            </div>
            <div class="accum">
                <span>积分</span>
            </div>
            <div class="tc">
                <span>技术资产</span>
            </div>
            <div class="menu_gp1">
                <a href="{% url 'training:person_course' %}"><span class="train">我贡献的培训</span></a>
            </div>
            <div class="menu_gp2">
                <a href="#"><span class="pract">我的优秀实践</span></a>
            </div>
            <div class="menu_gp3">
                <a href="{% url 'asset:my_complaint' %}"><span class="Ct_Cp">我的客诉问题</span></a>
            </div>
            <div class="menu_gp4" style="background-color:white">
                <a href="{% url 'account:group_list' %}"><span class="this_page" style="color:#7F7F7F">小组信息</span></a>
            </div>
            <div class="menu_gp5" style="background-color: rgba(244, 244, 244, 1)">
                <div class="left_bd"></div>
                <a href="{% url 'account:my_information' %} "><span class="Per_Data" style="color:black">个人资料</span></a>
            </div>
        </div>
        <div class="info_base">
            <div class="base_info">
                <div id="info_text">
                    <p><span>基本信息</span></p>
                </div>
            </div>
            <div class="ax_default label">
                <div id="user_info">
                    <div class="base_information1"><span>姓名：</span></div>
                    <div id="real_name">
                        <span>{{userinfo.realname}}</span>
                    </div>
                    <div class="base_information2"><span>用户名：</span></div>
                    <div id="USER">
                        <span>{{user.username}}</span>
                    </div>
                    <div class="base_information3"><span>性别：</span></div>
                    <div id="gender">
                        <span>{{userinfo.gender}}</span>
                    </div>
                </div>
                <div id="level">
                    <div class="base_information1"><span>角色：</span></div>
                    <div id="role">
                        <span>{{userinfo.role}}</span>
                    </div>
                    <div class="base_information2"><span>职级：</span></div>
                    <div id="rank">
                        <span>{{userinfo.rank}}</span>
                    </div>
                    <div class="base_information3"><span>所在小组：</span></div>
                    <div id="group">
                        <span>{{userinfo.group}}</span>
                    </div>
                </div>
                <div id="Privacy">
                    <div class="base_information1"><span>邮箱：</span></div>
                    <div id="mail_name">
                        <span>{{userinfo.email}}</span>
                    </div>
                    <div class="base_information2"><span>联系电话：</span></div>
                    <div id="phone_num">
                        <span>{{userinfo.phone}}</span>
                    </div>
                    <div class="base_information3"><span>生日：</span></div>
                    <div id="birthday">
                        <span>{{userinfo.birth_day}}</span>
                    </div>
                </div>
            </div>
            <div id="vocation">
                <div id="vocation_text">
                    <p><span>职业信息</span></p>
                </div>
            </div>
            <div id="edu_bg">
                <div class="detail_information1"><span>学历：</span></div>
                <div id="edu_level">
                    <span>{{userinfo.education}}</span>
                </div>
                <div class="detail_information2"><span>毕业时间：</span></div>
                <div id="gd_time">
                    <span>{{userinfo.gradution_time}}</span>
                </div>
                <div class="detail_information3"><span>毕业学校：</span></div>
                <div id="school_name">
                    <span>{{userinfo.school}}</span>
                </div>
            </div>
            <div id="Working">
                <div class="detail_information1"><span>上一份工作：</span></div>
                <div id="company">
                    <span>{{userinfo.pre_job}}</span>
                </div>
                <div class="detail_information2"><span>身份证号：</span></div>
                <div id="ID_number">
                    <span>{{userinfo.id_card}}</span>
                </div>
            </div>
                <button type="button" id="btn" data-toggle="modal" data-target="#myModal">修改密码</button>
            </div>
        </div>
    </div>
</div>
{% endblock  %}