# Ignore useless files or some Configuration file for passwords.
#

# MacOS
.DS_Store

# windows
Thumbs.db
ehthumbs.db
Desktop.ini

# python cache
__pycache__/
*.py[cod]
*.egg
*.egg-info

# svn
/.svn

# my configuration
*.doc