{% extends 'base.html' %}

{% load staticfiles %}
{% block title %}添加客诉问题{% endblock  %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/account/admin_group.css' %} ">
<link rel="stylesheet" href="{% static 'css/account/manager.css' %} ">

<div class="cabase">
    <div class="cabaseplate">
        <div class="camenuinfo">
            <div class="menu_cp1">
                <a href="{% url 'asset:tec_list' %}"> <span class="m_mdata">优秀实践</span></a>
            </div>
            <div class="menu_cp2">
                <span class="left_bd"></span>
                <a href="{% url 'asset:complaint_list' %}"><span class="chpract">客诉问题</span></a>
            </div>
        </div>
        <div class="cainfo_base">
            <div class="Cp_title">
                <span class="Cust_Com">添加客诉问题</span>
            </div>
            <form action="." method="post" enctype="multipart/form-data">{% csrf_token %}
                <div class="catitle">
                    <div class="cainfo_title">
                        <span>基本信息</span>
                    </div>
                </div>
                <div class="caadd_info">
                    <div class="cafloor1">
                        <div class="cm_name">
                            <span>客诉名称</span>
                        </div>
                        <input type="text" class="cmit_name" name="cname" placeholder="">
                        <div class="cmtype">
                            <span>客诉类型</span>
                        </div>
                        <select class="typeselt" name="type">
                            <option value="品质">品质</option>
                            <option value="新需求">新需求</option>
                            <option value="软件Bug">软件Bug</option>
                            <option value="硬件Bug">硬件Bug</option>
                            <option value="重复Bug">重复Bug</option>
                        </select>
                        <div class="pickman">
                            <span>提交人</span>
                        </div>
                        <input type="text" class="selectman" name="submitter" placeholder="">
                    </div>
                    <div class="cafloor2">
                        <div class="cm_name">
                            <span>OA流程号</span>
                        </div>
                        <input type="text" class="cmit_name" name="oa_number" placeholder="">
                        <div class="cmtype">
                            <span>客诉时间</span>
                        </div>
                        <input type="date" class="pickdate" name="ctime" placeholder="年 /月/日" style="color: rgb(153, 153, 153);">
                        <div class="pickman">
                            <span>客诉区域</span>
                        </div>
                        <select class="selectman" name="area">
                            <option value="国内">国内</option>
                            <option value="海外">海外</option>
                        </select>
                    </div>
                </div>
                <div class="catitle2">
                    <div class="cainfo_title">
                        <span>产品信息</span>
                    </div>
                </div>
                <div class="caadd_info2">
                    <div class="cafloor1">
                        <div class="cm_name">
                            <span>产品型号</span>
                        </div>
                        <input type="text" class="cmit_name" name="product" placeholder="">
                        <div class="cmtype">
                            <span>产品线</span>
                        </div>
                        <select class="typeselt" name="product_line">
                            <option value="家用">家用</option>
                            <option value="商用">商用</option>
                            <option value="PON">PON</option>
                            <option value="PLC">PLC</option>
                            <option value="交换机">交换机</option>
                            <option value="便携">便携</option>
                            <option value="OEM">OEM</option>
                        </select>
                        <div class="pickman">
                            <span>软件版本信息</span>
                        </div>
                        <input type="text" class="swversion" name="version" placeholder="">
                    </div>
                    <div class="cafloor2">
                        <div class="cm_name">
                            <span>资产编号</span>
                        </div>
                        <input type="text" class="cmit_name" placeholder="">
                        <div class="cmtype">
                            <span>严重程度</span>
                        </div>
                        <select class="typeselt" name="level">
                            <option value="low">低</option>
                            <option value="mid">中</option>
                            <option value="high">高</option>
                        </select>
                    </div>
                </div>
                <div class="catitle3">
                    <div class="cainfo_title">
                        <span>问题详情</span>
                    </div>
                </div>
                <div class="caadd_info3">
                    <div class="cafloor1">
                        <div class="cm_name">
                            <span>是否分析</span>
                        </div>
                        <select class="analypick">
                            <option value="否">否</option>
                            <option value="是">是</option>
                        </select>
                        <div class="cmtype">
                            <span>分析负责人</span>
                        </div>
                        <input type="text" class="typeselt" name="tester" placeholder="请填写分析负责人">
                        <div class="pickman">
                            <span>分析完成时间</span>
                            <div style="width:200px;height:32px;top:6px;left:0px;position:relative">
                            <input type="text" class="layui-input" name="analysis_time" id="analysis_time" style="height:32px">
                            </div>
                        </div>
                        
                        {% comment %} <select class="timepick">
                            <input type="date" class="stepdate" name="analysis_time" placeholder="年 /月/日" style="color: rgb(153, 153, 153);">
                        </select> {% endcomment %}
                    </div>
                    <div class="cafloor2">
                        <div class="cm_name">
                            <span>改进措施</span>
                        </div>
                        <input type="text" class="cmit_name" placeholder="">
                        <div class="cmtype">
                            <span>措施状态</span>
                        </div>
                        <select class="typeselt" name="status">
                            <option value="Open">Open</option>
                            <option value="Closed">Closed</option>
                        </select>
                        <div class="pickman">
                            <span>措施完成时间</span>
                        </div>
                        <input type="date" class="stepdate" name="complete_time" placeholder="年 /月/日" style="color: rgb(153, 153, 153);">
                    </div>
                    <div class="cafloor3">
                        <div class="cm_name">
                            <span>问题分类</span>
                        </div>
                        <select class="analypick" name="category">
                            <option value="安全性">安全性</option>
                            <option value="场景类">场景类</option>
                            <option value="场景类">场景类</option>
                            <option value="功能类">功能类</option>
                            <option value="可靠性">可靠性</option>
                            <option value="需求类">需求类</option>
                        </select>
                        <div class="cmtype">
                            <span>计划闭环时间</span>
                        </div>
                        <input type="date" class="pickdate"  placeholder="年 /月/日" style="">
                    </div>
                    <div class="cafloor4">
                        <div class="cm_name">
                            <span>问题描述</span>
                        </div>
                        <textarea id="pbtext" cols="30" rows="10" name="description" placeholder=""></textarea>
                        <img src="{% static 'images/asset/texttag.png' %}" class="pbttag">
                    </div>
                    <div class="cafllor5">
                        <div class="cm_name">
                            <span>上传附件</span>
                        </div>
                        <div class="upload">
                            <input type="file" name="cfile">
                        </div>
                        {% comment %} <button class="upload">
                            <img src="images/4/uparrow.png" class="uparr">
                            <span class="ldtext">点击上传</span>
                        </button> {% endcomment %}
                        <span class="extenm">支持扩展名：.ppt .doc .xls .xlsx .rar .zip .pdf .md。</span>
                        <button id="handin" type="submit">
                            <span class="hdin">提 交</span>
                        {% comment %} <img src="images/admin/subm.png" class="hdin_img"> {% endcomment %}
                        </button>
                    </div>
                </div>
            </form>
            <button id="revoke" onclick="window.history.back()">取消</button>
        </div>
    </div>
</div>
<script>
layui.use('form', function(){
  var form = layui.form;
  
  //各种基于事件的操作，下面会有进一步介绍
});

// 日期时间控件
layui.use('laydate', function(){
  var laydate = layui.laydate;
  
  //执行一个laydate实例
  laydate.render({
    elem: '#analysis_time' //指定元素
    ,type: 'date'
    ,format: 'yyyy/MM/dd'
  });

});

</script>

{% endblock  %}