{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}添加优秀实践{% endblock  %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/account/admin_group.css' %}">
<link rel="stylesheet" href="{% static 'css/account/manager.css' %} ">

<div class="base">
    <div class="baseplate">
        <div class="menuinfo">
            <div class="gmenu_cp1">
                <span class="left_bd"></span>
                <a href="{% url 'asset:tec_list' %}"><span class="chpract">优秀实践</span></a>
            </div>
            <div class="gmenu_cp2">
                <a href="{% url 'asset:complaint_list' %}"><span class="m_mdata">客诉问题</span></a>
            </div>
        </div>
        <div class="info_base">
            <div class="Cp_title">
                <span class="Cust_Com">添加优秀实践</span>
            </div>
            <form action="." method="post" enctype="multipart/form-data">{% csrf_token %}
                <div class="gnbd">
                    <span class="gdname">优秀实践名称：</span>
                    <input type="text" class="input_gd layui-input" id="id_tname" name="tname" placeholder="">
                    {% comment %} <span class="gdtip">此处不能为空</span> {% endcomment %}
                </div>
                <div class="gnbd2">
                    <span class="auth">小组：</span>
                    <select class="atgpselt"  id="id_group" name="group"  onchange="handle();">
                        {% for group in groups %}
                        <option value="{{group.id}}">{{group.name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="gnbd3">
                    <span class="auth">作者：</span>
                    <select class="authselt" id="id_author" name="author">
                        <option value="0">请选择作者</option>
                    </select>
                </div>
                <div class="gnbd4">
                    <span class="tttag">实践类别：</span>
                    <div class="usrex">
                    {% for tag in tec_tags %}
                        <input type="checkbox" class="tagck" id="{{tag.id}}" name="tec_tag" value="{{tag.tag}}">
                        <span style="padding-right: 22px";>{{tag.tag}}</span>
                    {% endfor %}
                    </div>
                </div>
                <div class="gnbd5">
                    <span class="tttag">奖项级别：</span>
                    <select class="authselt" name="award">
                        <option value="鼓励奖">鼓励奖</option>
                        <option value="改进奖">改进奖</option>
                        <option value="突破奖">突破奖</option>
                    </select>
                </div>
                <div class="gnbd6">
                    <span class="contsum">内容概括：</span>
                    <textarea class="sumtext" cols="30" rows="10" name="body" placeholder=""></textarea>
                    {% comment %} <img src="{% static 'images/asset/texttag.png' %}" class="texttag"> {% endcomment %}
                </div>
                <div class="gnbd7">
                    <span class="contsum">上传附件：</span>
                    <div class="upextra">
                        {{form.file}}
                    </div>
                    <span class="fileformt">支持扩展名：.ppt .doc .xls .xlsx .rar .zip .pdf .md。</span>
                    <button id="gahandin" type="submit">
                        提 交
                        {% comment %} <img src="{% static 'images/account/subm.png' %} " class="gahdin_img"> {% endcomment %}
                    </button>
                    <button id="garevoke">取消</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock  %}