{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/account/admin_group.css' %} ">
<link rel="stylesheet" href="{% static 'css/default.css' %} ">
<link rel="stylesheet" href="{% static 'css/account/manager.css' %} ">

<div class="base">
    <div class="baseplate">
        <div class="menuinfo">
            <div class="pt">
                <img src="{% static 'images/account/photo.svg' %} ">
            <span class="chpt">更换头像</span>
            </div>
                <img src="images/admin/hand.png" class="hand">
            <div class="nm">
                <span>{{userinfo.realname}}</span>
            </div>
            <div class="pt_dp">
                <span>{{userinfo.group}}</span>
            </div>
            <div class="sc">
                <span>80</span>
            </div>
            <div class="hv">
                <span>29</span>
            </div>
            <div class="accum">
                <span>积分</span>
            </div>
            <div class="tc">
                <span>技术资产</span>
            </div>
            <div class="menu_gp1">
                <a href=""><span class="train">我贡献的培训</span></a>
            </div>
            <div class="chmenu_gp2">
                <span class="left_bd"></span>
                <a href="{% url 'asset:my_tec' %}"><span class="chpract">我的技术资产</span></a>
            </div>
            <div class="menu_gp3">
                <a href="{% url 'account:my_information' %}"><span class="m_mdata">个人资料</span></a>
            </div>
        </div>
        <div class="info_base">
            <div class="gp_title">
                <span class="Cust_Com">我的客诉问题</span>
            </div>
            <div class="Handle_State">
            <div class="chProcessed_bd">
                <a href="{% url 'asset:my_tec' %}"><span class="Processed_text" style="color:rgba(85, 85, 85, 0.647058823529412)">优秀实践（5）</span></a>
            </div>
            <div class="chUntreated_bd">
                <a href="{% url 'asset:assigned_list' %}"><span class="cut_compt" style="color:black">客诉问题（24）</span></a>
            </div>
            </div>
            <table class="te_table" align="center"">
            <thead>
                <tr class="te_th">
                <th class="ctt1">
                    <input type="checkbox" class="ck">
                </th>
                <th class="ctt2">序号</th>
                <th class="ctt3">
                    <span class="Cust_name">客诉名称</span>
                </th>
                <th class="ctt4">客诉类型</th>
                <th class="ctt5">提交人</th>
                <th class="ctt6">客诉时间
                    <img src="images/admin/up.svg" class="up_img">
                    <img src="images/admin/down.svg" class="down_img">
                </th>
                <th class="ctt7">严重程度</th>
                <th class="ctt8">产品线</th>
                <th class="ctt9">问题分类</th>
                <th class="ctt10">分析负责人</th>
                <th class="ctt11">分析完成时间</th>
                <th class="ctt12">措施状态</th>
                <th class="ctt13">操作</th>
                </tr>
            </thead>
            <tbody>
                <tr class="te_tr">
                <td class="ctt1">
                    <input type="checkbox" class="ck">
                </td>
                <td class="ctt2">1</td>
                <td class="ctt3">
                    <span class="sign"></span>
                    <span class="Cust_cont">02客户端模式透传需求</span>
                </td>
                <td class="ctt4">新需求</td>
                <td class="ctt5">李测试</td>
                <td class="ctt6">2019/10</td>
                <td class="ctt7">高</td>
                <td class="ctt8">家用</td>
                <td class="ctt9">安全性</td>
                <td class="ctt10">李负责</td>
                <td class="ctt11">-</td>
                <td class="ctt12">
                    <span style="font-family:'Helvetica';font-size:12px;color:#039D12;">●</span>
                    <span style="font-family:'Helvetica';font-size:12px;color:#999999;"> </span>
                    <span style="font-family:'PingFangSC-Regular', 'PingFang SC';color:#7F7F7F;">Open</span>
                </td>
                <td class="ctt13">
                    <span class="dload">查看 | 下载</span>
                    <img src="{% static 'images/account/see.png' %} " class="see_dload">
                </td>
                </tr>
                {% for complaint in complaints %}
                <tr class="te_tr">
                    <td class="ctt1"></td>
                    <td class="ctt2"></td>
                    <td class="ctt3"></td>
                    <td class="ctt4"></td>
                    <td class="ctt5"></td>
                    <td class="ctt6"></td>
                    <td class="ctt7"></td>
                    <td class="ctt8"></td>
                    <td class="ctt9"></td>
                    <td class="ctt10"></td>
                    <td class="ctt11"></td>
                    <td class="ctt12"></td>
                    <td class="ctt13"></td>
                </tr>
                {% endfor %}
                <tr class="te_tr">
                <td class="ctt1"></td>
                <td class="ctt2"></td>
                <td class="ctt3"></td>
                <td class="ctt4"></td>
                <td class="ctt5"></td>
                <td class="ctt6"></td>
                <td class="ctt7"></td>
                <td class="ctt8"></td>
                <td class="ctt9"></td>
                <td class="ctt10"></td>
                <td class="ctt11"></td>
                <td class="ctt12"></td>
                <td class="ctt13"></td>
                </tr>
                <tr class="te_tr">
                <td class="ctt1"></td>
                <td class="ctt2"></td>
                <td class="ctt3"></td>
                <td class="ctt4"></td>
                <td class="ctt5"></td>
                <td class="ctt6"></td>
                <td class="ctt7"></td>
                <td class="ctt8"></td>
                <td class="ctt9"></td>
                <td class="ctt10"></td>
                <td class="ctt11"></td>
                <td class="ctt12"></td>
                <td class="ctt13"></td>
                </tr>
                <tr class="te_tr">
                <td class="ctt1"></td>
                <td class="ctt2"></td>
                <td class="ctt3"></td>
                <td class="ctt4"></td>
                <td class="ctt5"></td>
                <td class="ctt6"></td>
                <td class="ctt7"></td>
                <td class="ctt8"></td>
                <td class="ctt9"></td>
                <td class="ctt10"></td>
                <td class="ctt11"></td>
                <td class="ctt12"></td>
                <td class="ctt13"></td>
                </tr>
                <tr class="te_tr">
                <td class="ctt1"></td>
                <td class="ctt2"></td>
                <td class="ctt3"></td>
                <td class="ctt4"></td>
                <td class="ctt5"></td>
                <td class="ctt6"></td>
                <td class="ctt7"></td>
                <td class="ctt8"></td>
                <td class="ctt9"></td>
                <td class="ctt10"></td>
                <td class="ctt11"></td>
                <td class="ctt12"></td>
                <td class="ctt13"></td>
                </tr>
                <tr class="te_tr">
                <td class="ctt1"></td>
                <td class="ctt2"></td>
                <td class="ctt3"></td>
                <td class="ctt4"></td>
                <td class="ctt5"></td>
                <td class="ctt6"></td>
                <td class="ctt7"></td>
                <td class="ctt8"></td>
                <td class="ctt9"></td>
                <td class="ctt10"></td>
                <td class="ctt11"></td>
                <td class="ctt12"></td>
                <td class="ctt13"></td>
                </tr>
                <tr class="te_tr">
                <td class="ctt1"></td>
                <td class="ctt2"></td>
                <td class="ctt3"></td>
                <td class="ctt4"></td>
                <td class="ctt5"></td>
                <td class="ctt6"></td>
                <td class="ctt7"></td>
                <td class="ctt8"></td>
                <td class="ctt9"></td>
                <td class="ctt10"></td>
                <td class="ctt11"></td>
                <td class="ctt12"></td>
                <td class="ctt13"></td>
                </tr>
                <tr class="te_tr">
                <td class="ctt1"></td>
                <td class="ctt2"></td>
                <td class="ctt3"></td>
                <td class="ctt4"></td>
                <td class="ctt5"></td>
                <td class="ctt6"></td>
                <td class="ctt7"></td>
                <td class="ctt8"></td>
                <td class="ctt9"></td>
                <td class="ctt10"></td>
                <td class="ctt11"></td>
                <td class="ctt12"></td>
                <td class="ctt13"></td>
                </tr>
                <tr class="te_tr">
                <td class="ctt1"></td>
                <td class="ctt2"></td>
                <td class="ctt3"></td>
                <td class="ctt4"></td>
                <td class="ctt5"></td>
                <td class="ctt6"></td>
                <td class="ctt7"></td>
                <td class="ctt8"></td>
                <td class="ctt9"></td>
                <td class="ctt10"></td>
                <td class="ctt11"></td>
                <td class="ctt12"></td>
                <td class="ctt13"></td>
                </tr>
            </tbody>
            </table>
            <div class="te_footer">
            <div id="te_total">
                <span>共计 24 条数据</span>
            </div>
            <img src="images/admin/left.png" class="Ct_left">
            <div id="te_page1">
                <span class="Ct_pg1">1</span>
            </div>
            <div class="Ct_pg2">
                <span>2</span>
            </div>
            <div class="Ct_pg3">
                <span>3</span>
            </div>
            <div class="Ct_pg4">
                <span>4</span>
            </div>
            <div class="Ct_pg5">
                <span>5</span>
            </div>
            <img src="images/admin/right.png" class="Ct_right">
            <button id="te_page">
                <span style="font-family:'ArialMT', 'Arial';">10</span>
                <span style="font-family:'PingFangSC-Regular', 'PingFang SC';">条/页</span>
                <img src="images/admin/right.png" class="Ct_img">
            </button>
            <div class="Ct_goto">
                <span>前往第</span>
            </div>
            <input type="text" id="te_input" placeholder="2">
            <div class="Ct_pages">
                <span>页</span>
            </div>
        </div> 
    </div>
</div>

{% endblock %}