{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}客诉列表{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/account/admin_group.css' %} ">
<link rel="stylesheet" href="{% static 'css/account/manager.css' %} ">
{% endblock  %}

{% block content %}
<div class="base">
    <div class="baseplate">
        <div class="menuinfo">
            <div class="menu_cp1">
                <a href="{% url 'asset:tec_list' %}"><span class="m_mdata">优秀实践</span></a>
            </div>
            <div class="menu_cp2">
                <span class="left_bd"></span>
                <a href="{% url 'asset:complaint_list' %}"><span class="chpract">客诉问题</span></a>
            </div>
            <div class="gmenu_cp3">
                <a href="{% url 'asset:patent_list' %}"><span class="m_mdata">专利</span></a>
            </div>
        </div>
        <div class="info_base">
            <div class="Cp_title">
                <span class="Cust_Com">客诉问题</span>
            </div>
            <div class="info_selt">
                
                <label for="" class="linenm">产品线：</label>
                <select class="lineselt" onchange="selectProduct()" id="selectProduct">
                    <option value="家用">家用</option>
                    <option value="商用">商用</option>
                    <option value="PON">PON</option>
                    <option value="PLC">PLC</option>
                    <option value="交换机">交换机</option>
                    <option value="便携">便携</option>
                    <option value="OEM">OEM</option>
                </select>
                <label for="" class="pdtime">时间选择：</label>
                <select class="pdtimepick" onchange="selectYear()" id="selectYear">
                    <option value="2019">2019</option>
                    <option value="2020">2020</option>
                </select>
                <label for="" class="pdclassific">问题分类：</label>
                <select class="typepick" onchange="selectType()" id="selectType">
                    <option value="安全性">安全性</option>
                    <option value="场景类">场景类</option>
                    <option value="兼容性">兼容性</option>
                    <option value="功能类">功能类</option>
                    <option value="可靠性">可靠性</option>
                    <option value="需求类">需求类</option>
                </select>
                <input type="text" class="itsearch" placeholder="请输入" id="search-com">
                <img src="{% static 'images/asset/icn_search.png' %}" id="btn2" class="sortimg">
                {% if userinfo.role_id == 3 or userinfo.role_id == 4 %}
                <a href="{% url 'asset:add_complaint' %}"><button class="adcustomer" type="button">新增客诉</button></a>
                {% endif %}
            </div>
            <div style="position:absolute;left:25px;top:126px;width:1180px">
                <table id="demo_table" lay-filter="test"></table>
            </div>
        </div>
    </div>
</div>
{% endblock  %}

{% block javascript %}
<script src="{% static '/layui/layui.js' %}"></script>
<script type="text/html" id="demobar">
  <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
  <a class="layui-btn layui-btn-xs" lay-event="download" >下载</a>
  {% if userinfo.role.role_name == "PL" %}
  <a class="layui-btn layui-btn-xs" lay-event="edit"">编辑</a>
  {% endif %}
</script>
<script type="text/html" id="barDemo">
  <div class="layui-btn-container">
    <button class="layui-btn layui-btn-sm" lay-event="add">添加</button>
    <button class="layui-btn layui-btn-sm" lay-event="delete">删除</button>
    <button class="layui-btn layui-btn-sm" lay-event="update">编辑</button>
  </div>
</script>
<script>
function showTipbox(target) {
    $el = $(target).find(".tip_box");
    if ($el.is(':visible')) {
        $el.hide()
    } else {
        $el.show()
    }
};
layui.use(['laypage', 'layer', 'table', 'element'], function(){
  var table = layui.table  // 表格
  ,layer = layui.layer     // 弹窗
  ,laypage = layui.laypage;    // 分页
  
  //table实例
  table.render({
    elem: '#demo_table'
    ,height: 512
    ,url: '/asset/complaint-list-data/' //数据接口
    ,page: true //开启分页
    ,toolbar: 'true'
    //,even: true
    //,skin: 'line'
    ,title: '客诉信息'
    ,cols: [[ //表头
      //{field: 'id', title: 'ID', width:50, sort: true, }
      {field: 'cname', title: '名称', width:280}
      ,{field: 'type', title: '客诉类型', width:86}
      ,{field: 'submitter', title: '提交人', width:86, sort: true}
      ,{field: 'ctime', title: '客诉时间', width:108, sort: true}
      ,{field: 'level', title: '严重程度', width:86} 
      ,{field: 'product_line', title: '产品线', width:72}
      ,{field: 'category', title: '问题分类', width:92}
      ,{field: 'tester', title: '分析负责人', width:100}
      ,{field: 'status', title: '措施状态', width:86}
      ,{field: 'oa_number', title:'oa流程号', hide:true}
      ,{field: 'area', title: '区域', hide:true}
      ,{field: 'product', title: '产品型号', hide:true}
      ,{field: 'version', title: '软件版本', hide:true}
      ,{field: 'created_by', title: '创建者', hide:true}
      ,{ title: '操作', toolbar:"#demobar"}
    ]]
  });
  
  // table行工具栏事件
  table.on('tool(test)', function(obj){
    var data = obj.data ,layEvent=obj.event;
    // console.log(data)
    if(layEvent === 'detail'){
        window.location.href="/asset/complaint-detail/" + data.id
    } else if(layEvent === 'download') {
        window.location.href="/asset/download-cfile/" + data.id
    } else if(layEvent === 'edit') {
        window.location.href="/asset/edit-complaint/" + data.id
    }
  });
  

});

function selectProduct() {
    var product_line = $("#selectProduct").val()
    layui.use(['table'], function(){
        var table = layui.table  // 表格
        table.reload('demo_table', {
            url: '/asset/filter-complaint-list/'
            ,where: { product_line: product_line } //设定异步数据接口的额外参数
            //,height: 300
        });
    });
};

function selectYear() {
    var year = $("#selectYear").val()
    layui.use(['table'], function(){
        var table = layui.table  // 表格
        table.reload('demo_table', {
            url: '/asset/filter-complaint-list/'
            ,where: { year: year } //设定异步数据接口的额外参数
            //,height: 300
        });
    });

};

function selectType() {
    var type = $("#selectType").val()
    layui.use(['table'], function(){
        var table = layui.table  // 表格
        table.reload('demo_table', {
            url: '/asset/filter-complaint-list/'
            ,where: { type: type } //设定异步数据接口的额外参数
            //,height: 300
        });
    });
}

$("#btn2").on("click",function(){
    var search_key = $("#search-com").val()
    // console.log(search_key)
    if (search_key != "") {
        layui.use(['table'], function(){
            var table = layui.table  // 表格
            table.reload('demo_table', {
                url: '/asset/search-complaint/'
                ,where: { search: search_key } //设定异步数据接口的额外参数
                //,height: 300
            });
        });
    } else {
        window.location.href="/asset/complaint-list/"
    }
});

</script>
{% endblock  %}