{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}客诉问题详情{% endblock  %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/account/admin_group.css' %} ">
<link rel="stylesheet" href="{% static 'css/default.css' %} ">
<link rel="stylesheet" href="{% static 'css/account/manager.css' %} ">

<div class="Ed_base">
    <div class="Ed_baseplate">
        <div class="Ed_menuinfo">
            <div class="menu_cp1">
                <a href=""><span class="m_mdata">优秀实践</span></a>
            </div>
            <div class="menu_cp2">
                <span class="left_bd"></span>
                <a href="{% url 'asset:complaint_list' %}"><span class="chpract">客诉问题</span></a>
            </div>
        </div>
        <div class="Ed_info_base">
            <div class="De_title">
                <div class="Route">
                    <span style="color:rgba(0, 0, 0, 0.447058823529412);">技术资产管理</span>
                    <span style="color:#999999;"> </span>
                    <span style="color:rgba(0, 0, 0, 0.447058823529412);"> /  </span>
                    <span style="color:rgba(0, 0, 0, 0.427450980392157);">客诉问题</span>
                    <span style="color:rgba(0, 0, 0, 0.447058823529412);">  /</span>
                    <span style="color:rgba(0, 0, 0, 0.847058823529412);">  客诉问题详情</span>
                </div>
                <div class="Page_Title">客诉问题详情</div>
            </div>
            <div class="cd_going">
                <span class="cd_info">基本信息</span>
            </div>
            <div class="cdgoing_cont">
                <span class="cdname">名称：{{complaint.cname}}</span>
                <span class="cdtype">客诉类型：{{complaint.type}}</span>
                <span class="hdname">提交人：{{complaint.submitter}}</span>
                <span class="cdoa">OA流程：{{complaint.oa_number}}</span>
                <span class="cdtime">客诉时间：{{complaint.ctime | date:'Y-m-d'}}</span>
                <span class="cdarea">客诉区域：{{complaint.area}}</span>
            </div>
            <div class="cdpdinfo">
                <span class="cd_info">产品信息</span>
            </div>
            <div class="cdgoing_cont2">
                <span class="cdname">产品型号：{{complaint.product}}</span>
                <span class="cdtype">产品线：{{complaint.product_line}}</span>
                <span class="hdname">软件版本信息：{{complaint.version}}</span>
                <span class="cdoa">资产编号：{{complaint.asset_id}}</span>
                <span class="cdtime">严重程度：{{complaint.level}}</span>
            </div>
            <div class="cddet">
                <span class="cd_info">问题详情</span>
            </div>
            <div class="cdgoing_cont3">
                <span class="cdname">是否分析：{{complaint.analysis}}</span>
                <span class="cdtype">分析责任人：{{complaint.tester}}</span>
                <span class="hdname">分析完成时间：{{complaint.complete_time}}</span>
                <span class="cdoa">改进措施：</span>
                <span class="egcont">{{complaint.improvement}}</span>
            </div>
            <div class="cdgoing_cont4">
                <span class="cdname">措施状态：{{complaint.status}}</span>
                <span class="cdtype">措施完成时间：{{complaint.complete_time}}</span>
                <span class="hdname">计划闭环时间：{{complaint.closed_time}}</span>
                <span class="cdoa">问题描述：</span>
                <span class="egcont2">{{complaint.description}}</span>
            </div>
            <a href="{% url 'asset:complaint_list' %}"><button class="bklist">返回列表</button></a>
            <a href="{% url 'asset:download_cfile' complaint.id %}"><button class="ddfile">下载附件</button></a>
        </div>
    </div>
</div>

{% endblock %}