{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}客诉列表{% endblock %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/account/admin_group.css' %} ">
<link rel="stylesheet" href="{% static 'css/account/manager.css' %} ">

<div class="base">
    <div class="baseplate">
        <div class="menuinfo">
            <div class="menu_cp1">
                <a href="{% url 'asset:tec_list' %}"><span class="m_mdata">优秀实践</span></a>
            </div>
            <div class="menu_cp2">
                <span class="left_bd"></span>
                <a href="{% url 'asset:complaint_list' %}"><span class="chpract">客诉问题</span></a>
            </div>
        </div>
        <div class="info_base">
            <div class="Cp_title">
                <span class="Cust_Com">客诉问题</span>
            </div>
            <div class="info_selt">
                <div class="selcom">
                    <span class="showcont">显示内容</span>
                    <img src="{% static 'images/asset/select.png' %}" class="sltimg">
                </div>
                <label for="" class="linenm">产品线：</label>
                <select class="lineselt" onchange="selectProduct()" id="selectProduct">
                    <option value="家用">家用</option>
                    <option value="商用">商用</option>
                    <option value="PON">PON</option>
                    <option value="PLC">PLC</option>
                    <option value="交换机">交换机</option>
                    <option value="便携">便携</option>
                    <option value="OEM">OEM</option>
                </select>
                <label for="" class="pdtime">时间选择：</label>
                <select class="pdtimepick" onchange="selectYear()" id="selectYear">
                    <option value="2019">2019</option>
                    <option value="2020">2020</option>
                </select>
                <label for="" class="pdclassific">问题分类：</label>
                <select class="typepick" onchange="selectType()" id="selectType">
                    <option value="安全性">安全性</option>
                    <option value="场景类">场景类</option>
                    <option value="兼容性">兼容性</option>
                    <option value="功能类">功能类</option>
                    <option value="可靠性">可靠性</option>
                    <option value="需求类">需求类</option>
                </select>
                <input type="text" class="itsearch" placeholder="请输入">
                <img src="{% static 'images/training/sort.svg' %}" class="sortimg">
                <img src="{% static 'images/asset/handle.svg' %}" class="sthandle">
                {% if userinfo.role_id == 3 or userinfo.role_id == 4 %}
                <a href="{% url 'asset:add_complaint' %}"><button class="adcustomer" type="button">添加客诉</button></a>
                {% endif %}
            </div>
            <div class="tbbd" hidden>
                <table align="center" class="hidtb">
                    <thead>
                    <tr class="tiptr">
                        <td>
                        <div class="tipcont">
                            <span class="tiptext">请选择表格要显示的内容</span>
                        </div>
                        </td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="tipselt">
                        <td>
                        <input type="checkbox" class="tipck"> 客诉名称
                        </td>
                    </tr>
                    <tr class="tipselt">
                        <td>
                        <input type="checkbox" class="tipck"> 客诉类型
                        </td>
                    </tr>
                    <tr class="tipselt">
                        <td>
                        <input type="checkbox" class="tipck"> 提交人
                        </td>
                    </tr>
                    <tr class="tipselt">
                        <td>
                        <input type="checkbox" class="tipck"> 客诉月份
                        </td>
                    </tr>
                    <tr class="tipselt">
                        <td>
                        <input type="checkbox" class="tipck"> 产品型号
                        </td>
                    </tr>
                    <tr class="tipselt">
                        <td>
                        <input type="checkbox" class="tipck"> 软件版本信息
                        </td>
                    </tr>
                    <tr class="tipselt">
                        <td>
                        <input type="checkbox" class="tipck"> 严重程度
                        </td>
                    </tr>
                    <tr class="tipselt">
                        <td>
                        <input type="checkbox" class="tipck"> 产品线
                        </td>
                    </tr>
                    <tr class="tipselt">
                        <td>
                        <input type="checkbox" class="tipck"> 问题分类
                        </td>
                    </tr>
                    <tr class="tipselt">
                        <td>
                        <input type="checkbox" class="tipck"> 分析负责人
                        </td>
                    </tr>
                    <tr class="tipselt">
                        <td>
                        <input type="checkbox" class="tipck"> 分析完成时间
                        </td>
                    </tr>
                    <tr class="tipselt">
                        <td>
                        <input type="checkbox" class="tipck"> 措施状态
                        </td>
                    </tr>
                    <tr class="tipselt">
                        <td>
                        <input type="checkbox" class="tipck"> 改进措施
                        </td>
                    </tr>
                    <tr class="tipselt">
                        <td>
                        <input type="checkbox" class="tipck"> 措施完成时间
                        </td>
                    </tr>
                    <tr class="tipselt">
                        <td>
                        <input type="checkbox" class="tipck"> 计划闭环时间
                        </td>
                    </tr>
                    <tr class="tipselt">
                        <td>
                        <input type="checkbox" class="tipck"> 问题根因
                        </td>
                    </tr>
                    <tr class="tipselt">
                        <td>
                        <input type="checkbox" class="tipck"> 问题引入点
                        </td>
                    </tr>
                    <tr class="tipselt">
                        <td>
                        <input type="checkbox" class="tipck"> 问题控制点
                        </td>
                    </tr>
                    <tr class="tipselt">
                        <td>
                        <input type="checkbox" class="tipck"> 是否分析
                        </td>
                    </tr>
                    <tr class="tipselt">
                        <td>
                        <input type="checkbox" class="tipck"> 客户影响分析
                        </td>
                    </tr>
                    <tr class="tipselt">
                        <td>
                        <input type="checkbox" class="tipck"> 典型问题
                        </td>
                    </tr>
                    <tr class="tipselt">
                        <td>
                        <input type="checkbox" class="tipck"> 资产编号
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            {% comment %}
            <table class="cc_table" align="center">
                <thead>
                    <tr class="cc_th">
                    <th class="cct1">
                        <input type="checkbox" class="ck">
                    </th>
                    <th class="cct2">序号</th>
                    <th class="cct3">
                        <span class="Cust_name">客诉名称</span>
                    </th>
                    <th class="cct4">客诉类型</th>
                    <th class="cct5">提交人</th>
                    <th class="cct6">客诉时间
                        <img src="images/admin/up.svg" class="up_img">
                        <img src="images/admin/down.svg" class="down_img">
                    </th>
                    <th class="cct7">严重程度</th>
                    <th class="cct8">产品线</th>
                    <th class="cct9">问题分类</th>
                    <th class="cct10">分析负责人</th>
                    <th class="cct11">措施状态</th>
                    <th class="cct12">操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="ct_trwiden">
                        <td class="cct1">
                            <input type="checkbox" class="ck">
                        </td>
                        <td>1</td>
                        <td>
                            <span class="sign"></span>
                            <span class="Cust_cont">02客户端模式透传需求</span>
                        </td>
                        <td>新需求</td>
                        <td>李测试</td>
                        <td>2019/10</td>
                        <td>高</td>
                        <td>家用</td>
                        <td>安全性</td>
                        <td>李负责</td>
                        <td>
                            <span style="font-family:'Helvetica';font-size:12px;color:#039D12;">●</span>
                            <span style="font-family:'Helvetica';font-size:12px;color:#999999;"> </span>
                            <span style="font-family:'PingFangSC-Regular', 'PingFang SC';color:#7F7F7F;">Open</span>
                        </td>
                        <td>
                            <span class="dload">查看 | 下载</span>
                            <img src="{% static 'images/asset/see.png' %} " class="see_dload">
                        </td>
                        </tr>
                        <tr class="extratr">
                        <td class="extratd" colspan="12">问题描述：客诉问题的概括，一两句话介绍客诉问题的的大概内容。</td>
                    </tr>
                    {% for complaint in complaints %}
                    <tr class="cc_tr">
                        <td class="cct1">
                            <input type="checkbox" class="ck">
                        </td>
                        <td>{{forloop.counter}}</td>
                        <td>
                            <span class="sign"></span>
                            <span class="Cust_cont">{{complaint.cname}}</span>
                        </td>
                        <td>{{complaint.type}}</td>
                        <td>{{complaint.submitter}}</td>
                        <td>{{complaint.ctime | date:"Y-m-d"}}</td>
                        <td>{{complaint.level}}</td>
                        <td>{{complaint.product_line}}</td>
                        <td>{{complaint.category}}</td>
                        <td>{{complaint.tester}}</td>
                        <td>
                            {% if complaint.status == "Open" %}
                            <span style="font-family:'Helvetica';font-size:12px;color:#039D12;">●</span>
                            <span style="font-family:'Helvetica';font-size:12px;color:#999999;"> </span>
                            <span style="font-family:'PingFangSC-Regular', 'PingFang SC';color:#7F7F7F; font-size:14px;">Open</span>
                            {% elif complaint.status == "Closed" %}
                            <span style="font-family:'Helvetica';font-size:12px;color:#999999;">● </span>
                            <span style="font-family:'PingFangSC-Regular', 'PingFang SC';color:#7F7F7F;">Closed</span>
                            {% endif %}
                        </td>
                        <td>
                            <span class="dload"><a href="{% url 'asset:complaint_detail' complaint.id %}">查看</a> | <a href="{% url 'asset:download_cfile' complaint.id %}">下载</a></span>
                            <a onclick="showTipbox(this)" style="position: relative;">
                                <img src="{% static 'images/asset/see.png' %}" class="see_dload">
                                <div class="tip_box" style="display: none;">
                                    <div class="tip_content">
                                        <span>删除</span>
                                        <span>编辑</span>
                                    </div>
                                </div>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                    <tr class="cc_tr">
                        <td class="cct1"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
            {% endcomment %}
            <div style="width:1415px;position:absolute;left:25px;top:126px;"><table id="demo_table" lay-filter="test"></table></div>
            {% comment %}
            <div class="cc_footer" id="test1">
                <div class="cc_total">
                    <span>共计 {{complaints.count}} 条数据</span>
                </div>
                <img src="images/admin/left.png" class="Ct_left">
                <div class="cc_page1">
                    <span class="Ct_pg1">1</span>
                </div>
                <div class="Ct_pg2">
                    <span>2</span>
                </div>
                <div class="Ct_pg3">
                    <span>3</span>
                </div>
                <div class="Ct_pg4">
                    <span>4</span>
                </div>
                <div class="Ct_pg5">
                    <span>5</span>
                </div>
                <img src="images/admin/right.png" class="Ct_right">
                <button class="cc_page">
                    <span style="font-family:'ArialMT', 'Arial';">10</span>
                    <span style="font-family:'PingFangSC-Regular', 'PingFang SC';">条/页</span>
                    <img src="images/admin/right.png" class="Ct_img">
                </button>
                <div class="Ct_goto">
                    <span>前往第</span>
                </div>
                <input type="text" class="cc_input" placeholder="2">
                <div class="Ct_pages">
                    <span>页</span>
                </div>
            </div>
            {% endcomment %}
        </div>
    </div>
</div>
<script src="{% static '/layui/layui.js' %}"></script>
<script type="text/html" id="demobar">
  <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
  <a class="layui-btn layui-btn-xs" lay-event="download" >下载</a>
  <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script type="text/html" id="barDemo">
  <div class="layui-btn-container">
    <button class="layui-btn layui-btn-sm" lay-event="add">添加</button>
    <button class="layui-btn layui-btn-sm" lay-event="delete">删除</button>
    <button class="layui-btn layui-btn-sm" lay-event="update">编辑</button>
  </div>
</script>
<script>
function showTipbox(target) {
        $el = $(target).find(".tip_box");
        if ($el.is(':visible')) {
            $el.hide()
        } else {
            $el.show()
        }
};
layui.use(['laypage', 'layer', 'table', 'element'], function(){
  var table = layui.table  // 表格
  ,layer = layui.layer     // 弹窗
  ,laypage = layui.laypage;    // 分页
  
  //table实例
  table.render({
    elem: '#demo_table'
    ,height: 512
    ,url: '/asset/complaint-list-data/' //数据接口
    ,page: true //开启分页
    ,even: true
    ,cols: [[ //表头
      {field: 'id', title: 'ID', width:80, sort: true, }
      ,{field: 'cname', title: '名称', width:296}
      ,{field: 'type', title: '客诉类型', width:96},{field: 'submitter', title: '提交人', width:100, sort: true}
      ,{field: 'ctime', title: '客诉时间', width:147, sort: true}
      ,{field: 'level', title: '严重程度', width:96} 
      ,{field: 'product_line', title: '产品线', width:101}
      ,{field: 'category', title: '问题分类', width:128}
      ,{field: 'tester', title: '分析负责人', width:110}
      ,{field: 'status', title: '措施状态', width:90}
      ,{field: '', title: '操作', toolbar:"#demobar"}
    ]]
  });
  
  // table行工具栏事件
  table.on('tool(test)', function(obj){
    var data = obj.data ,layEvent=obj.event;
    console.log(data)
    if(layEvent === 'detail'){
        window.location.href="/asset/complaint-detail/" + data.id
    } else if(layEvent === 'download') {
        window.location.href="/asset/download-cfile/" + data.id
    }
  });
  

});

function selectProduct() {
    var product_line = $("#selectProduct").val()
    layui.use(['table'], function(){
        var table = layui.table  // 表格
        table.reload('demo_table', {
            url: '/asset/filter-complaint-list/'
            ,where: { product_line: product_line } //设定异步数据接口的额外参数
            //,height: 300
        });
    });
};

function selectYear() {
    var year = $("#selectYear").val()
    layui.use(['table'], function(){
        var table = layui.table  // 表格
        table.reload('demo_table', {
            url: '/asset/filter-complaint-list/'
            ,where: { year: year } //设定异步数据接口的额外参数
            //,height: 300
        });
    });

};

function selectType() {
    var type = $("#selectType").val()
    layui.use(['table'], function(){
        var table = layui.table  // 表格
        table.reload('demo_table', {
            url: '/asset/filter-complaint-list/'
            ,where: { type: type } //设定异步数据接口的额外参数
            //,height: 300
        });
    });
}

</script>
{% endblock  %}