{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}我添加的优秀实践{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/account/admin_group.css' %}">
<link rel="stylesheet" href="{% static 'css/default.css' %}">
<link rel="stylesheet" href="{% static 'css/account/manager.css' %}">
<script src="{% static 'layui/layui.js' %}"></script>
{% endblock %}

{% block content %}

<div class="base">
    <div class="baseplate">
        <div class="menuinfo">
            <div class="pt">
                <img src="{% static 'images/account/photo.svg' %}">
            </div>
            <div class="nm">
                <span>{{userinfo.realname}}</span>
            </div>
            <div class="pt_dp">
                <span>{{userinfo.group}}</span>
            </div>
            <div class="sc">
                <span>80</span>
            </div>
            <div class="hv">
                <span>{{ste_tecs.count}}</span>
            </div>
            <div class="accum">
                <span>积分</span>
            </div>
            <div class="tc">
                <span>技术资产</span>
            </div>
            <div class="menu_gp1">
                <a href="{% url 'training:person_course' %}"><span class="train">我贡献的培训</span></a>
            </div>
            <div class="chmenu_gp2">
                <span class="left_bd"></span>
                <a href="{% url 'asset:my_tec' %}"><span class="chpract">我的技术资产</span></a>
            </div>
            <div class="menu_gp3">
                <a href="{% url 'account:my_information' %}"><span class="m_mdata">个人资料</span></a>
            </div>
        </div>
        <div class="info_base">
            <div class="gp_title">
                <span class="Cust_Com">我的技术资产</span>
            </div>
            <div class="Handle_State">
                <div class="Processed_bd">
                    <a href="{% url 'asset:my_tec' %}"><span class="ste_pract" style="color:black">优秀实践（{{ste_tecs.count}}）</span></a>
                </div>
                <div class="Untreated_bd">
                    <a href="{% url 'asset:assigned_list' %}"><span class="ste_compt" style="color:rgba(85, 85, 85, 0.647058823529412)">客诉问题</span></a>
                </div>
            </div>
            <div class="My_State">
                <span class="State_tt">状态：</span>
                <select class="pick_State" id="selectStatus" onchange="selectStatus()">
                    <option value="All" selected>所有状态</option>
                    <option value="3">成功</option>
                    <option value="1&2">进行中</option>
                    <option value="0">驳回</option>
                </select>
                {% if userinfo.role_id == 2 %}
                <button class="Ep_Record" id="ste_add">添加优秀实践</button>
                {% endif %}
            </div>
            <div class="content_data">
                <table id="tec_data" lay-filter="state"></table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script type="text/html" id="toolbar">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
    <a class="layui-btn layui-btn-xs" lay-event="download" >下载</a>
</script>
<script>
layui.use(['laypage', 'layer', 'table', 'element'], function(){
    var table = layui.table      // 表格
    ,layer = layui.layer         // 弹窗
    ,laypage = layui.laypage;    // 分页

    //table实例
    table.render({
        elem: '#tec_data'
        ,height: 512
        ,url: '/asset/my-tec-data/' //数据接口
        ,page: true //开启分页
        //,even: true
        //,skin: 'line'
        ,cols: [[ //表头
        {field: 'id', title: 'ID', width:60, sort: true, }
        ,{field: 'tname', title: '名称', width:327}
        ,{field: 'author', title: '作者', width:86}
        ,{field: 'group', title: '小组', width:120}
        ,{field: 'award', title: '奖项级别', width:86}
        ,{field: 'tec_tag', title: '类别', width: 180}
        ,{field: 'status', title:'状态', width: 80}
        ,{field: 'created_at', title: '编写时间', width: 105, sort: true}
        ,{field: '', title: '操作', toolbar:"#toolbar", width: 120}
        ]]
    });

    // table行工具栏事件
    table.on('tool(state)', function(obj){
        var data = obj.data ,layEvent=obj.event;
        console.log(data)
        if(layEvent === 'detail'){
            window.location.href="/asset/my-process-tec/" + data.id
        } else if(layEvent === 'download') {
            window.location.href="/asset/download-file/" + data.id
        }
    });
});

function selectStatus() {
    // 通过状态刷新表格
    var status = $("#selectStatus").val()
    if (status != 'All') {
        layui.use(['table'], function() {
            var table = layui.table  // 表格
            table.reload('tec_data', {
                url: '/asset/filter-tec-status/'
                ,where: {status:status}
                ,page: {
                    curr:1
                }
            });
        });
    } else {
        window.location.href="/asset/my-tec/"
    }
};
</script>
{% endblock  %}