{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}优秀实践{% endblock  %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/account/admin_group.css' %} ">
<link rel="stylesheet" href="{% static 'css/default.css' %} ">
<link rel="stylesheet" href="{% static 'css/account/manager.css' %} ">

<div class="base">
    <div class="baseplate">
        <div class="menuinfo">
            <div class="pt">
                <img src="{% static 'images/account/photo.svg' %}">
            </div>
            <div class="nm">
                <span>{{userinfo.realname}}</span>
            </div>
            <div class="pt_dp">
                <span>测试部｜经理</span>
            </div>
            <div class="sc">
                <span>80</span>
            </div>
            <div class="hv">
                <span>29</span>
            </div>
            <div class="accum">
                <span>积分</span>
            </div>
            <div class="tc">
                <span>技术资产</span>
            </div>
            <div class="menu_gp1">
                <a href="{% url 'training:person_course' %}"><span class="train">我贡献的培训</span></a>
            </div>
            <div class="chmenu_gp2">
            <span class="left_bd"></span>
                <a href="{% url 'asset:process_tec' %}"><span class="chpract">我的优秀实践</span></a>
            </div>
            <div class="menu_gp3">
                <a href="{% url 'asset:my_complaint' %}"><span class="train">我的客诉问题</span></a>
            </div>
            <div class="menu_gp4" style="background-color:white">
                <a href="{% url 'account:group_list' %}"><span class="this_page" style="color:#7F7F7F">小组信息</span></a>
            </div>
            <div class="menu_gp5">
                <a href="{% url 'account:my_information' %}"><span class="Per_Data">个人资料</span></a>
            </div>
        </div>
        <div class="info_base">
            <div class="gp_title">
                <span class="Cust_Com">我的优秀实践</span>
            </div>
            <div class="Handle_State">
                <div class="Processed_bd">
                    <a href="{% url 'asset:process_tec' %}"><span class="Processed_text" style="color:black">已处理（{{tec_list.count}}）</span></a>
                </div>
                <div class="Untreated_bd">
                    <a href="{% url 'asset:unprocess_tec' %}"><span class="Untreated_text" style="color: rgba(85, 85, 85, 0.647058823529412);">未处理</span></a>
                </div>
            </div>
            <div class="My_State">
                <span class="State_tt">状态：</span>
                <select class="pick_State">
                    <option value="所有状态" selected>所有状态</option>
                    <option value="成功">成功</option>
                    <option value="进行中">进行中</option>
                    <option value="驳回">驳回</option>
                </select>
                <button class="Ep_Record" id="madd_bt">添加记录</button>
            </div>
            <table class="Pra_data" align="center">
                <thead>
                    <tr class="Pra_th">
                    <td class="ep1">
                        <input type="checkbox" class="ck">
                    </td>
                    <td class="ep2">序号</td>
                    <td class="ep3">名称</td>
                    <td class="ep4">作者</td>
                    <td class="ep5">小组</td>
                    <td class="ep6">标签</td>
                    <td class="ep7">编写时间</td>
                    <td class="Mp8">状态</td>
                    <td class="Mp9">操作</td>
                    </tr>
                </thead>
                <tbody>
                    {% for tec in tecs %}
                    <tr class="Pra_tr">
                        <td class="ep1">
                            <input type="checkbox" class="ck">
                        </td>
                        <td class="ep2">{{forloop.counter}}</td>
                        <td class="ep3">
                            <span class="sign"></span>
                            <span class="Cust_cont">{{tec.tname}}</span>
                        </td>
                        <td class="ep4">{{tec.author.realname}}</td>
                        <td class="ep5">{{tec.group}}</td>
                        <td class="ep6">{{tec.tec_tag.all | join:' '}}</td>
                        <td class="ep7">{{tec.created_at | date:'Y-m-d'}}</td>
                        <td class="mp8">
                            {% if tec.status == '3' %}
                            <span style="font-family:'LucidaGrande', 'Lucida Grande';color:#52C41A;">●</span>
                            <span style="font-family:'Helvetica';color:rgba(0, 0, 0, 0.427450980392157);"> </span>
                            <span style="font-family:'PingFangSC-Regular', 'PingFang SC';color:rgba(0, 0, 0, 0.647058823529412);">成功</span>
                            {% elif tec.status == '0' %}
                            <span style="font-family:'LucidaGrande', 'Lucida Grande';color:#F5222D;">●</span>
                            <span style="font-family:'Helvetica';color:rgba(0, 0, 0, 0.427450980392157);"> </span>
                            <span style="font-family:'PingFangSC-Regular', 'PingFang SC';color:rgba(0, 0, 0, 0.647058823529412);">驳回</span>
                            {% else %}
                            <span style="font-family:'LucidaGrande', 'Lucida Grande';color:#1890FF;">●</span>
                            <span style="font-family:'Helvetica';color:#1890FF;"> </span>
                            <span style="font-family:'PingFangSC-Regular', 'PingFang SC';color:rgba(0, 0, 0, 0.647058823529412);">进行中</span>
                            {% endif %}
                        </td>
                        <td class="mp9">
                            <span class="dload"><a href="{% url 'asset:processed_tec_detail' tec.id %}">查看</a> | <a href="{% url 'asset:down_tec_file' tec.id %}">下载</a></span>
                            <img src="{% static 'images/asset/see.png' %} " class="see_dload">
                        </td>
                    </tr>
                    {% endfor %}        
                </tbody>
            </table>
            <div class="Ep_total" id="mpd_num">
            </div>
        </div>
    </div>
</div>
<script src="{% static 'layui/layui.js' %}"></script>
<script>
layui.use('laypage', function () {
    var laypage = layui.laypage;

    //执行一个laypage实例
    laypage.render({
        elem: 'mpd_num' //注意，这里的 test1 是 ID，不用加 # 号
        , limit: 10
        , count: {{ tec_list.count }} //数据总数，从服务端得到
        , curr: {{tecs.number}}
        , hash: 'fenye'
        , layout: ['count', 'prev', 'page', 'next', 'refresh', 'skip']
        , jump: function (obj, first) {
        console.log(obj.curr);
        console.log(obj.limit);
        page = obj.curr;
        limit = obj.limit;
        // 首次不执行
        if (!first) {
            location.href = `?page=${obj.curr}&limit=${obj.limit}`
        }
    }
  });
});
</script>
{% endblock  %}