{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/account/admin_group.css' %}">
<link rel="stylesheet" href="{% static 'css/default.css' %} ">
<link rel="stylesheet" href="{% static 'css/account/manager.css' %} ">

<div class="Ed_base">
    <div class="Ed_baseplate">
        <div class="Ed_menuinfo">
            <div class="pt">
            <img src="{% static 'images/account/photo.svg' %} ">
            {% comment %} <span class="chpt">更换头像</span> {% endcomment %}
            </div>
            {% comment %} <img src="images/admin/hand.png" class="hand"> {% endcomment %}
            <div class="nm">
                <span>{{userinfo.realname}}</span>
            </div>
            <div class="pt_dp">
                <span>经理 ｜ 测试部</span>
            </div>
            <div class="sc">
                <span>80</span>
            </div>
            <div class="hv">
                <span>29</span>
            </div>
            <div class="accum">
                <span>积分</span>
            </div>
            <div class="tc">
                <span>技术资产</span>
            </div>
            <div class="menu_gp1">
                <a href="{% url 'training:person_course' %}"><span class="train">我贡献的培训</span></a>
            </div>
            <div class="chmenu_gp2">
                <span class="left_bd"></span>
                <a href="{% url 'asset:process_tec' %}"><span class="chpract">我的优秀实践</span></a>
            </div>
            {% comment %} <div class="menu_gp3">
            <span class="m_mdata">个人资料</span>
            </div> {% endcomment %}
            <div class="menu_gp3">
                <a href="{% url 'asset:my_complaint' %}"><span class="train">我的客诉问题</span></a>
            </div>
            <div class="chmenu_gp4">
                <a href="{% url 'account:group_list' %}"><span class="Per_Data">小组信息</span></a>
            </div>
            <div class="menu_gp5">
                <a href="{% url 'account:my_information' %}"><span class="Per_Data">个人资料</span></a>
            </div>
        </div>
        <div class="Ed_info_base">
            <div class="gp_title">
                <span class="Cust_Com">优秀实践详情</span>
            </div>
            <div class="pj_going">
                <span class="pj_info">项目信息</span>
            </div>
            <div class="pjgoing_cont">
                <span class="Pjgoing_name">名称：{{tec.tname}}</span>
                <span class="Pjgoing_author">作者：{{tec.author.realname}}</span>
                <span class="Pjgoing_group">所在小组：{{tec.group}}</span>
                <span class="Pjgoing_tag">标签：{{tec.tec_tag.all | join:', '}}</span>
                <span class="Pjgoing_time">编写时间：{{tec.created_at}}</span>
                <span class="Pjgoing_Summary">内容概述：{{tec.body}}</span>
            </div>
            <div class="pjgoing_speed">
                <span class="spgoing_title">审核进度</span>
            </div>
            <div class="pjgoing_content">
                <span class="Sp_block">审核进度</span>
                <img src="{% static 'images/asset/success.svg' %}" class="Suc_img">
                <span class="mSuc_line"></span>
                <img src="{% static 'images/asset/success.svg' %}" class="pjgoing_Suc2">
                <img src="{% static 'images/asset/success.svg' %}" class="mSuc3">
                <img src="{% static 'images/asset/success2.svg' %}" class="mSuc4">
                <span class="Creat">创建项目</span>
                <span class="gpld_exam">组长初审</span>
                <span class="manag_check">经理复审</span>
                <span class="msuc_pass">完成</span>
                <div class="Pj_st">
                    <span class="exam_name">{{tec.author.realname}}</span>
                    <span class="st_time">{{tec.created_at | date:"Y-m-d"}}</span>
                    <span class="hms">{{tec.created_at | date:"H:i:s"}}</span>
                </div>
                <div class="Pj_gp">
                    <span class="exam_name">刘PL</span>
                    <span class="gp_time">2019-12-13</span>
                    <span class="gp_hms">16:18:42</span>
                </div>
                <div class="m_stage">
                    <span class="exam_name">李M</span>
                    <span class="gp_time">2019-12-14</span>
                    <span class="gp_hms">09:10:32</span>
                </div>
            </div>
            <div class="pjexam_hist">
                <span>审核历史</span>
            </div>
            <table class="pjexam_tb" align="center">
                <thead>
                    <tr class="ex_th">
                    <td class="ex1">节点名称</td>
                    <td class="ex2">执行人名称</td>
                    <td class="ex3">岗位</td>
                    <td class="ex4">审核意见</td>
                    <td class="ex5">操作时间</td>
                    <td class="ex6">意见说明</td>
                    </tr>
                </thead>
                <tbody>
                    <tr class="ex_tr">
                    <td class="ex1">010_创建项目</td>
                    <td class="ex2">{{tec.author.realname}}</td>
                    <td class="ex3">{{tec.author.rank}}</td>
                    <td class="ex4">提交</td>
                    <td class="ex5">{{tec.created_at}}</td>
                    <td class="ex6">初始化</td>
                    </tr>
                    <tr class="ex_tr">
                    <td class="ex1">020_组长审核</td>
                    <td class="ex2">刘PL</td>
                    <td class="ex3">商用测试组PL</td>
                    <td class="ex4">同意</td>
                    <td class="ex5">2019-12-13  16:18:42</td>
                    <td class="ex6">无</td>
                    </tr>
                    <tr class="ex_tr">
                    <td class="ex1">030_经理审核</td>
                    <td class="ex2">李M</td>
                    <td class="ex3">商用测试组M</td>
                    <td class="ex4">同意</td>
                    <td class="ex5">2019-12-13  16:18:42</td>
                    <td class="ex6">无</td>
                    </tr>
                </tbody>
            </table>
            <button id="mre_bt">
                <a href="{% url 'asset:process_tec' %}"><span>返回列表</span></a>
            </button>
        </div>
    </div>
</div>

{% endblock  %}
