{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}
     
<link rel="stylesheet" href="{% static 'css/account/admin_group.css' %}">
<link rel="stylesheet" href="{% static 'css/account/manager.css' %} ">
      
<div class="base">
    <div class="baseplate">
        <div class="menuinfo">
            <div class="gmenu_cp1">
                <span class="left_bd"></span>
                <a href="{% url 'asset:tec_list' %}"><span class="chpract">优秀实践</span></a>
            </div>
            <div class="gmenu_cp2">
                <a href="{% url 'asset:complaint_list' %}"><span class="m_mdata">客诉问题</span></a>
            </div>
        </div>
        <div class="info_base">
            <div class="De_title">
                <div class="Route">
                    <span style="color:rgba(0, 0, 0, 0.447058823529412);">技术资产管理</span>
                    <span style="color:#999999;"> </span>
                    <span style="color:rgba(0, 0, 0, 0.447058823529412);"> /  </span>
                    <span style="color:rgba(0, 0, 0, 0.427450980392157);">优秀实践</span>
                    <span style="color:rgba(0, 0, 0, 0.447058823529412);">  /</span>
                    <span style="color:rgba(0, 0, 0, 0.847058823529412);">  优秀实践详情</span>
                </div>
                <div class="Page_Title">优秀实践详情</div>
            </div>
            <div class="cd_going">
                <span class="cd_info">详情信息</span>
            </div>
            <div class="cdgoing_cont">
                <span class="cdname">名称：{{tec.tname}}</span>
                <span class="cdtype">作者：    {{tec.author.realname}}</span>
                <span class="hdname">所在小组：{{tec.author.group}}</span>
                <span class="cdoa">类别：{% for tag in tec.tec_tag.all %} {{tag.tag}} {% endfor %}</span>
                <span class="cdtime">编写时间：{{tec.created_at|date:"Y/m/d"}}</span>
            </div>
            <div class="gdcont">
                <span class="cdname">内容概述：</span>
                <span class="gdtext">{{tec.body}}</span>
                <span class="gdextext">附件：{{tec.file.name}}</span>
            </div>
            <button class="gdrelist" onclick="window.history.back()">返回列表</button>
            <a href="{% url 'asset:down_tec_file' tec.id %}"><button class="gdfile">下载附件</button></a>
        </div>
    </div>
</div>
{% endblock  %}