{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/account/admin_group.css' %}">
<link rel="stylesheet" href="{% static 'css/account/manager.css' %}">

<div class="base">
    <div class="baseplate">
        <div class="menuinfo">
            <div class="gmenu_cp1">
                <span class="left_bd"></span>
                <a href="{% url 'asset:tec_list' %}"><span class="chpract">优秀实践</span></a>
            </div>
                <div class="gmenu_cp2">
                <a href="{% url 'asset:complaint_list' %}"><span class="m_mdata">客诉问题</span></a>
            </div>
        </div>
        <div class="info_base">
            <div class="Cp_title">
                <span class="Cust_Com">优秀实践</span>
            </div>
            <div class="info_selt">
                <label for="" class="sortrg">搜索范围：</label>
                
                <select class="rgselect" onchange="selectRange()" id="selectRange">
                    <option value="0">测试部</option>
                    <option value="1">家用测试组</option>
                    <option value="2">OEM测试组</option>
                    <option value="3">接入测试组</option>
                    <option value="4">商用测试组</option>
                    <option value="5">便携测试组</option>
                    <option value="6">资料开发组</option>
                    <option value="7">自动化开发组</option>
                </select>
                <label for="" class="gptime">时间选择：</label>
                <select class="gptimepick" onchange="selectTime()" id="selectTime">
                    <option value="2019">2019</option>
                    <option value="2020">2020</option>
                </select>
                <label for="" class="lbselect">标签选择：</label>
                <select class="lbpick" onchange="selectTag()" id="selectTag">
                    <option value="0">所有标签</option>
                    <option value="1">用户体验</option>
                    <option value="2">协议相关</option>
                    <option value="3">方法创新</option>
                    <option value="4">自动化</option>
                </select>
                <input type="text" class="gpsearch" id="search-tec" placeholder="请输入">
                <img src="{% static 'images/asset/icn_search.png' %}" id="btn1" class="gpsortimg">
                {% if user.role_id  != 1 %}
                <a href="{% url 'asset:add_tec' %}"><button class="adcustomer" type="button">新增</button></a>
                {% endif %}
            </div>
            <div style="position:absolute;left:25px;top:120px;"><table id="demo" lay-filter="test"></table></div>
            {% comment %} <div class="autotip">
                <span class="attipcont">实验室资产管理平台定时发送邮件实现物品催还的方法与实施</span>
            </div> {% endcomment %}
        </div>
    </div>
</div>
<script src="{% static '/layui/layui.js' %}"></script>
<script type="text/html" id="bar">
  <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
  <a class="layui-btn layui-btn-xs" lay-event="download" >下载</a>
  {% if userinfo.role.role_name == "M" %}
  <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
  {% endif %}
</script>
<script type="text/html" id="toolbarDemo">
  <div class="layui-btn-container">
    <button class="layui-btn layui-btn-sm" lay-event="add">添加</button>
    <button class="layui-btn layui-btn-sm" lay-event="delete">删除</button>
    <button class="layui-btn layui-btn-sm" lay-event="update">编辑</button>
  </div>
</script>
<script>
function showTipbox(target) {
        $el = $(target).find(".tip_box");
        if ($el.is(':visible')) {
            $el.hide()
        } else {
            $el.show()
        }
};
layui.use(['laypage', 'layer', 'table', 'element'], function(){
  var table = layui.table  // 表格
  ,layer = layui.layer     // 弹窗
  ,laypage = layui.laypage;    // 分页
  
  //table实例
  table.render({
    elem: '#demo'
    ,height: 512
    ,url: '/asset/tec-list-data/' //数据接口
    ,page: true //开启分页
    //,even: true
    //,skin: 'line'
    ,cols: [[ //表头
      {field: 'id', title: 'ID', width:60, sort: true, }
      ,{field: 'tname', title: '名称', width:380}
      ,{field: 'author', title: '作者', width:100, sort: true}
      ,{field: 'group', title: '小组', width:120} 
      ,{field: 'tec_tag', title: '标签', width: 280}
      ,{field: 'created_at', title: '编写时间', width: 120, sort: true}
      ,{field: '', title: '操作', toolbar:"#bar", width: 125}
    ]]
  });
  
  // table行工具栏事件
  table.on('tool(test)', function(obj){
    var data = obj.data ,layEvent=obj.event;
    console.log(data)
    if(layEvent === 'detail'){
        window.location.href="/asset/tec-detail/" + data.id
    } else if(layEvent === 'download') {
        window.location.href="/asset/download-file/" + data.id
    }
  });

});

function selectRange() {
    // 选择范围，刷新表格
    var range = $("#selectRange").val()
    if(range != 0) {
        layui.use(['table'], function(){
            var table = layui.table  // 表格
            table.reload('demo', {
                url: '/asset/filter-tec-range/'
                ,where: { range_name: range } //设定异步数据接口的额外参数
                //,height: 300
            });
        });
    };
    if(range == 0) {
        window.location.href="/asset/tec-list/"
    }
};

function selectTag() {
    // 选择刷新标签、
    var tag = $("#selectTag").val()
    if(tag != 0) {
        layui.use(['table'], function(){
            var table = layui.table  // 表格
            table.reload('demo', {
                url: '/asset/filter-tec-range/'
                ,where: { tag_id: tag } //设定异步数据接口的额外参数
                //,height: 300
            });
        });
    };
    if(tag == 0) {
        window.location.href="/asset/tec-list/"
    }
};

function selectTime() {
    var time = $("#selectTime").val()
    layui.use(['table'], function(){
            var table = layui.table  // 表格
            table.reload('demo', {
                url: '/asset/filter-tec-range/'
                ,where: { time_year: time } //设定异步数据接口的额外参数
                //,height: 300
            });
    });
};


$("#btn1").on('click', function() {
    var text = $('#search-tec').val()
    console.log(text)
    if(text != "") {
        layui.use(['table'], function(){
            var table = layui.table  // 表格
            table.reload('demo', {
                url: '/asset/search-tec/'
                ,where: { search: text } //设定异步数据接口的搜索的关键字
                //,height: 300
            });
        });
    } else {
        window.location.href="/asset/tec-list/"
    }
});

</script>
{% endblock  %}