{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/account/admin_group.css' %}">
<link rel="stylesheet" href="{% static 'css/account/manager.css' %}">

<div class="base">
    <div class="baseplate">
        <div class="menuinfo">
            <div class="gmenu_cp1">
                <span class="left_bd"></span>
                <a href="{% url 'asset:tec_list' %}"><span class="chpract">优秀实践</span></a>
            </div>
                <div class="gmenu_cp2">
                <a href="{% url 'asset:complaint_list' %}"><span class="m_mdata">客诉问题</span></a>
            </div>
        </div>
        <div class="info_base">
            <div class="Cp_title">
                <span class="Cust_Com">优秀实践</span>
            </div>
            <div class="info_selt">
                <label for="" class="sortrg">搜索范围：</label>
                
                <select class="rgselect" onchange="selectRange()" id="selectRange">
                    <option value="0">测试部</option>
                    <option value="1">家用测试组</option>
                    <option value="2">OEM测试组</option>
                    <option value="3">接入测试组</option>
                    <option value="4">商用测试组</option>
                    <option value="5">便携测试组</option>
                    <option value="6">资料开发组</option>
                    <option value="7">自动化开发组</option>
                </select>
                <label for="" class="gptime">时间选择：</label>
                <select class="gptimepick" onchange="selectTime()" id="selectTime">
                    <option value="2019">2019</option>
                    <option value="2020">2020</option>
                </select>
                <label for="" class="lbselect">标签选择：</label>
                <select class="lbpick" onchange="selectTag()" id="selectTag">
                    <option value="0">所有标签</option>
                    <option value="1">用户体验</option>
                    <option value="2">协议相关</option>
                    <option value="3">方法创新</option>
                    <option value="4">自动化</option>
                </select>
                <input type="text" class="gpsearch" id="search-tec" placeholder="请输入">

                <img src="{% static 'images/asset/sort.svg' %}" id="btn1" class="gpsortimg">
                <img src="{% static 'images/asset/handle.svg' %}" class="gpsthandle">
                {% if user.role_id  != 1 %}
                <a href="{% url 'asset:add_tec' %}"><button class="adcustomer" type="button">添加优秀实践</button></a>
                {% endif %}
            </div>
            {% comment %} <table class="gd_table" align="center">
                <thead>
                    <tr class="gd_th">
                    <td class="gdt1">
                        <input type="checkbox" class="ck">
                    </td>
                    <td class="gdt2">序号</td>
                    <td class="gdt3">名称</td>
                    <td class="gdt4">作者</td>
                    <td class="gdt5">小组</td>
                    <td class="gdt6">标签</td>
                    <td class="gdt7">编写时间</td>
                    <td class="gdt8">操作</td>
                    </tr>
                </thead>
                <tbody>
                    <tr class="gd_trwiden">
                    <td class="gdt1">
                        <input type="checkbox" class="ck">
                    </td>
                    <td>1</td>
                    <td>
                        <span class="sign"></span>
                        <span class="Cust_cont">优化testlink数据库查询性能的方法与实施</span>
                    </td>
                    <td>李测试</td>
                    <td>商用测试组</td>
                    <td>
                        <div class="tag_bd">
                        <span class="tag_info">协议相关</span>
                        </div>
                    </td>
                    <td>2019/12/08</td>
                    <td>
                        <span class="dload">
                            <a href="">查看</a> | <a href="">下载</a>
                        </span>
                        <img src="{% static 'images/account/see.png' %}" class="see_dload">
                    </td>
                    </tr>
                    <tr class="gdextratr">
                    <td class="gpextratd" colspan="8">内容概括：客诉问题的概括，一两句话介绍客诉问题的的大概内容。</td>
                    </tr>
                    <tr class="gd_tr">
                    <td class="gdt1">
                        <input type="checkbox" class="ck">
                    </td>
                    <td>2</td>
                    <td>
                        <span class="sign"></span>
                        <span class="Cust_cont">实验室资产管理平台定时发送邮件实现物品催…</span>
                    </td>
                    <td>刘便携</td>
                    <td>家用测试组</td>
                    <td>
                        <div class="tagbd1">
                        <span class="tag_info">自动化</span>
                        </div>
                        <div class="tagbd2">
                        <span class="tag_info">用户体验</span>
                        </div>
                        <div class="tagbd3">
                        <span class="tag_info">方法创新</span>
                        </div>
                    </td>
                    <td>2019/12/08</td>
                    <td>
                        <span class="dload">查看 | 下载</span>
                        <img src="{% static 'images/account/see.png' %}" class="see_dload">
                    </td>
                    </tr>
                    {% for tec in tecs %}
                    <tr class="gd_tr">
                        <td class="gdt1"><input type="checkbox" class="ck"></td>
                        <td>{{forloop.counter}}</td>
                        <td>
                            <span class="sign"></span>
                            <span class="Cust_cont">{{tec.tname}}</span>
                        </td>
                        <td>{{tec.author.realname}}</td>
                        <td>{{tec.author.group}}</td>
                        <td>{{tec.tag}}</td>
                        <td>{{tec.created_at|date:"Y/m/d"}}</td>
                        <td>
                            <span class="dload">
                                <a href="{% url 'asset:tec_detail' tec.id %}">查看</a> | {% if tec.file != "" %}<a href="{% url 'asset:down_tec_file' tec.id %}">下载</a>{% endif %}
                            </span>
                            <a onclick="showTipbox(this)" style="position: relative;">
                                <img src="{% static 'images/asset/see.png' %}" class="see_dload">
                                <div class="tip_box" style="display: none;">
                                    <div class="tip_content">
                                        <span>删除</span>
                                        <span>编辑</span>
                                    </div>
                                </div>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>  {% endcomment %}
            <div style="width:1415px;position:absolute;left:25px;top:120px;"><table id="demo" lay-filter="test"></table></div>
            {% comment %} <div class="autotip">
                <span class="attipcont">实验室资产管理平台定时发送邮件实现物品催还的方法与实施</span>
            </div> {% endcomment %}
            {% comment %} <div class="gd_footer">
                <div class="cc_total">
                    <span>共计{{tecs.count}}条数据</span>
                </div>
                
                <div class="cc_page1">
                    <span class="Ct_pg1">1</span>
                </div>
                <div class="Ct_pg2">
                    <span>2</span>
                </div>
                <div class="Ct_pg3">
                    <span>3</span>
                </div>
                <div class="Ct_pg4">
                    <span>4</span>
                </div>
                <div class="Ct_pg5">
                    <span>5</span>
                </div>
                
                <button class="cc_page">
                    <span style="font-family:'ArialMT', 'Arial';">10</span>
                    <span style="font-family:'PingFangSC-Regular', 'PingFang SC';">条/页</span>
                
                </button>
                <div class="Ct_goto">
                    <span>前往第</span>
                </div>
                <input type="text" class="cc_input" placeholder="2">
                <div class="Ct_pages">
                    <span>页</span>
                </div>
            </div> {% endcomment %}
        </div>
    </div>
</div>
<script src="{% static '/layui/layui.js' %}"></script>
<script type="text/html" id="bar">
  <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
  <a class="layui-btn layui-btn-xs" lay-event="download" >下载</a>
  {% if userinfo.role.role_name == "M" %}
  <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
  {% endif %}
</script>
<script type="text/html" id="toolbarDemo">
  <div class="layui-btn-container">
    <button class="layui-btn layui-btn-sm" lay-event="add">添加</button>
    <button class="layui-btn layui-btn-sm" lay-event="delete">删除</button>
    <button class="layui-btn layui-btn-sm" lay-event="update">编辑</button>
  </div>
</script>
<script>
function showTipbox(target) {
        $el = $(target).find(".tip_box");
        if ($el.is(':visible')) {
            $el.hide()
        } else {
            $el.show()
        }
};
layui.use(['laypage', 'layer', 'table', 'element'], function(){
  var table = layui.table  // 表格
  ,layer = layui.layer     // 弹窗
  ,laypage = layui.laypage;    // 分页
  
  //table实例
  table.render({
    elem: '#demo'
    ,height: 512
    ,url: '/asset/tec-list-data/' //数据接口
    ,page: true //开启分页
    //,even: true
    //,skin: 'line'
    ,cols: [[ //表头
      {field: 'id', title: 'ID', width:80, sort: true, }
      ,{field: 'tname', title: '名称', width:435}
      ,{field: 'author', title: '作者', width:118, sort: true}
      ,{field: 'group', title: '小组', width:159} 
      ,{field: 'tec_tag', title: '标签', width: 280}
      ,{field: 'created_at', title: '编写时间', width: 180, sort: true}
      ,{field: '', title: '操作', toolbar:"#bar", width: 155}
    ]]
  });
  
  // table行工具栏事件
  table.on('tool(test)', function(obj){
    var data = obj.data ,layEvent=obj.event;
    console.log(data)
    if(layEvent === 'detail'){
        window.location.href="/asset/tec-detail/" + data.id
    } else if(layEvent === 'download') {
        window.location.href="/asset/download-file/" + data.id
    }
  });

});

function selectRange() {
    // 选择范围，刷新表格
    var range = $("#selectRange").val()
    if(range != 0) {
        layui.use(['table'], function(){
            var table = layui.table  // 表格
            table.reload('demo', {
                url: '/asset/filter-tec-range/'
                ,where: { range_name: range } //设定异步数据接口的额外参数
                //,height: 300
            });
        });
    };
    if(range == 0) {
        window.location.href="/asset/tec-list/"
    }
};

function selectTag() {
    // 选择刷新标签、
    var tag = $("#selectTag").val()
    if(tag != 0) {
        layui.use(['table'], function(){
            var table = layui.table  // 表格
            table.reload('demo', {
                url: '/asset/filter-tec-range/'
                ,where: { tag_id: tag } //设定异步数据接口的额外参数
                //,height: 300
            });
        });
    };
    if(tag == 0) {
        window.location.href="/asset/tec-list/"
    }
};

function selectTime() {
    var time = $("#selectTime").val()
    layui.use(['table'], function(){
            var table = layui.table  // 表格
            table.reload('demo', {
                url: '/asset/filter-tec-range/'
                ,where: { time_year: time } //设定异步数据接口的额外参数
                //,height: 300
            });
    });
};


$("#btn1").on('click', function() {
    var text = $('#search-tec').val()
    console.log(text)
    if(text != "") {
        layui.use(['table'], function(){
            var table = layui.table  // 表格
            table.reload('demo', {
                url: '/asset/search-tec/'
                ,where: { search: text } //设定异步数据接口的搜索的关键字
                //,height: 300
            });
        });
    } else {
        window.location.href="/asset/tec-list/"
    }
});

</script>
{% endblock  %}