{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}
{% endblock  %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/account/admin_group.css' %}">
<link rel="stylesheet" href="{% static 'css/account/manager.css' %}">
<link rel="stylesheet" href="{% static 'css/default.css' %}">

<div class="Ed_base">
    <div class="Ed_baseplate">
        <div class="Ed_menuinfo">
            <div class="pt">
                <img src="{% static 'images/account/photo.svg' %}">
                {% comment %} <span class="chpt">更换头像</span> {% endcomment %}
            </div>
            {% comment %} <img src="images/admin/hand.png" class="hand"> {% endcomment %}
            <div class="nm">
                <span>{{userinfo.realname}}</span>
            </div>
            <div class="pt_dp">
                <span>经理 ｜ 测试部</span>
            </div>
            <div class="sc">
                <span>80</span>
            </div>
            <div class="hv">
                <span>29</span>
            </div>
            <div class="accum">
                <span>积分</span>
            </div>
            <div class="tc">
                <span>技术资产</span>
            </div>
            <div class="menu_gp1">
                <a href="{% url 'training:person_course' %}"><span class="train">我贡献的培训</span></a>
            </div>
            <div class="chmenu_gp2">
                <span class="left_bd"></span>
                <a href="{% url 'asset:process_tec' %}"><span class="chpract">我的优秀实践</span></a>
            </div>
            {% comment %} <div class="menu_gp3">
            <span class="m_mdata">个人资料</span>
            </div> {% endcomment %}
            <div class="menu_gp3">
                <a href="{% url 'asset:my_complaint' %}"><span class="train">我的客诉问题</span></a>
            </div>
            <div class="chmenu_gp4">
                <a href="{% url 'account:group_list' %}"><span class="Per_Data">小组信息</span></a>
            </div>
            <div class="menu_gp5">
                <a href="{% url 'account:my_information' %}"><span class="Per_Data">个人资料</span></a>
            </div>
        </div>
        <div class="Ed_info_base">
            <div class="De_title">
            <div class="Route">
                <span style="color:rgba(0, 0, 0, 0.447058823529412);">个人中心</span>
                <span style="color:#999999;"> </span>
                <span style="color:rgba(0, 0, 0, 0.447058823529412);"> /  </span>
                <span style="color:rgba(0, 0, 0, 0.427450980392157);">我的优秀实践</span>
                <span style="color:rgba(0, 0, 0, 0.447058823529412);">  /</span>
                <span style="color:rgba(0, 0, 0, 0.847058823529412);">  未处理</span>
            </div>
            <div class="Page_Title">优秀实践详情</div>
            </div>
            <div class="De_content">
                <span class="Project_info">项目信息</span>
                <span class="Pj_name">名称：{{tec.tname}}</span>
                <span class="Pj_author">作者：{{tec.author.realname}}</span>
                <span class="Pj_group">所在小组：{{tec.group}}</span>
                <span class="Pj_tag">标签：{{tec.tec_tag.all | join:', '}}</span>
                <span class="Pj_time">编写时间：{{tec.created_at}}</span>
                <span class="Pj_Summary">内容概述：{{tec.body}}</span>
            </div>
            <div class="Pj_speed">
                <span class="Sp_title">审核进度</span>
            </div>
            <div class="mgoing_content">
                <span class="Sp_block">审核进度</span>
                <img src="{% static 'images/asset/success.svg' %}" class="Suc_img">
                <span class="Suc_line1"></span>
                <img src="{% static 'images/asset/success.svg' %}" class="mgoing_Suc2">
                <img src="{% static 'images/asset/success2.svg' %}" class="mgoing_Suc3">
                <img src="{% static 'images/asset/success3.svg' %}" class="Suc_4">
                <span class="Creat">创建项目</span>
                <span class="mgoing_exam">小组初审</span>
                <span class="depart_em">部门复审</span>
                <span class="mwait_line"></span>
                <span class="suc_pass">完成</span>
                <div class="Pj_st">
                    <span class="exam_name">{{tec.author.realname}}</span>
                    <p><span class="st_time">{{tec.created_at | date:"Y-m-d"}}</span></p>
                    <span class="hms">{{tec.created_at | date:"H:i:s"}}</span>
                </div>
                <div class="Pj_gp">
                    <span class="exam_name">{{node.pl_name}}</span>
                    <span class="gp_time">{{node.pl_time | date:'Y-m-d'}}</span>
                    <span class="gp_hms">{{node.pl_time | date:'H:i:s'}}</span>
                </div>
                <div class="m_name">
                    <span style="font-family:'PingFangSC-Regular', 'PingFang SC';color:#989898;">{{userinfo.realname}}</span>
                    {% comment %} <span style="font-family:'Helvetica';color:#999999;" class="m_lastnm">M</span> {% endcomment %}
                </div>
            </div>
            <div class="mexam_hist">
                <span>审核历史</span>
            </div>
            <table class="mexam_tb" align="center">
            <thead>
                <tr class="ex_th">
                <td class="ex1">节点名称</td>
                <td class="ex2">执行人名称</td>
                <td class="ex3">岗位</td>
                <td class="ex4">审核意见</td>
                <td class="ex5">操作时间</td>
                <td class="ex6">意见说明</td>
                </tr>
            </thead>
            <tbody>
                <tr class="ex_tr">
                <td class="ex1">010_创建项目</td>
                <td class="ex2">{{tec.author.realname}}</td>
                <td class="ex3">{{tec.author.rank}}</td>
                <td class="ex4">提交</td>
                <td class="ex5">{{tec.created_at}}</td>
                <td class="ex6">初始化</td>
                </tr>
                <tr class="ex_tr">
                <td class="ex1">020_组长审核</td>
                <td class="ex2">{{node.pl_name}}</td>
                <td class="ex3">{{tec.group}}PL</td>
                <td class="ex4">{{node.pl_decide}}</td>
                <td class="ex5">{{node.pl_time}}</td>
                <td class="ex6">{{node.pl_notes}}</td>
                </tr>
            </tbody>
            </table>
            <button id="m_sug" onclick="handle_m()">
                <span class="sug_text">审核意见</span>
                <img src="{% static 'images/asset/sug.svg' %}" class="sug_img">
                <img src="{% static 'images/asset/arrow.png' %}" class="arrow">
            </button>
            <a href="{% url 'asset:down_tec_file' tec.id %}"><button id="mdload">下载附件</button></a>
        </div>
    </div>
</div>
<script src="{% static 'js/layer.js' %}"></script>
<script>
function handle_m() {
    var index = layer.open({
        title:'审核意见',
        btn:['确定','取消'],
        area: ['420px', '250px'], //宽高
        content:'<div class="login-tip">审核意见：<select id="check_option" style="width:60px"><option value="同意">同意</option><option value="驳回">驳回</option></select></div><div style="padding-top:10px"><div>填写说明：</div><textarea type="text" id="option_text" style="width: 380px; height: 70px; margin: 0px;">无</textarea></div>',
        yes: function(index, layero) {
            option = $("#check_option").val();
            note = $("#option_text").val();
            tec_id = {{tec.id}}
            console.log(option,note,tec_id)
            $.ajax({
                url:'/asset/check-tec/',
                type:'POST',
                data:{"option":option,"note":note,"tec_id":tec_id},
                success: function(e) {
                    if (e=="1") {
                        layer.msg("审核成功，即将返回..");
                        setTimeout(function(){location.href ="{% url 'asset:unprocess_tec' %}";},2000);
                    } else {
                        layer.msg("审核提交失败")
                    }
                }
            });
        },
        btn2: function(index, layero) {
            layer.close(index);
        }
    });
}
</script>
{% endblock %}