{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}未处理的优秀实践{% endblock  %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/account/admin_group.css' %}">

<div class="base">
    <div class="baseplate">
        <div class="menuinfo">
            <div class="pt">
                <img src="{% static 'images/account/photo.svg' %} ">
            </div>
            <div class="nm">
                <span>{{userinfo.realname}}</span>
            </div>
            <div class="pt_dp">
                <span>{{userinfo.group}}</span>
            </div>
            <div class="sc">
                <span>80</span>
            </div>
            <div class="hv">
                <span>29</span>
            </div>
            <div class="accum">
                <span>积分</span>
            </div>
            <div class="tc">
                <span>技术资产</span>
            </div>
            <div class="menu_gp1">
                <a href="{% url 'training:person_course' %}"><span class="train">我贡献的培训</span></a>
            </div>
            <div class="chmenu_gp2">
            <span class="left_bd"></span>
                <a href="{% url 'asset:unprocess_tec' %}"><span class="chpract">我的优秀实践</span></a>
            </div>
            <div class="menu_gp3">
                <a href="{% url 'asset:my_complaint' %}"><span class="train">我的客诉问题</span></a>
            </div>
            <div class="chmenu_gp4">
                <a href="{% url 'account:group_user' %}"><span class="Per_Data">我的小组</span></a>
            </div>
            <div class="menu_gp5">
                <a href="{% url 'account:my_information' %}"><span class="Per_Data">个人资料</span></a>
            </div>
        </div>
        <div class="info_base">
            <div class="gp_title">
            <span class="Cust_Com">我的优秀实践</span>
            </div>
            <div class="Handle_State">
            <div class="chProcessed_bd">
                <a href="{% url 'asset:process_tec' %}"><span class="Processed_text" style="color: rgba(85, 85, 85, 0.647058823529412);">已处理</span></a>
            </div>
            <div class="chUntreated_bd">
                <a href="{% url 'asset:unprocess_tec' %}"><span class="Untreated_text" style="color:black">未处理（{{tec_list.count}}）</span></a>
            </div>
            </div>
            <table class="un_pt" align="center">
                <tbody>
                    <tr class="un_text">
                        <td class="untd1">
                            <img src="{% static 'images/asset/id_photo.svg' %}" class="unpt_img">
                        </td>
                        <td class="untd2">李测试</td>
                        <td class="untd3">优化testlink数据库查询性能的方法与实施</td>
                        <td class="untd4">2019-12-21  08:50:08</td>
                        <td class="untd5">
                            <span style="color:#108EE9;">查看</span>
                            <span style="color:#D7D7D7;">|</span>
                            <span style="color:#108EE9;">更多</span>
                            <img src="{% static 'images/asset/see.png' %}" class="see_dload">
                        </td>
                    </tr>
                    {% for tec in tec_list %}
                    <tr class="un_text">
                        <td class="untd1"></td>
                        <td class="untd2">{{tec.author.realname}}</td>
                        <td class="untd3">{{tec.tname}}</td>
                        <td class="untd4">{{tec.created_at}}</td>
                        <td class="untd5">
                            <a href=" {% url 'asset:unprocess_tec_detail' tec.id %} "><span style="color:#108EE9;">查看</span></a>
                            <span style="color:#D7D7D7;">|</span>
                            <a onclick="show_function()"><span style="color:#108EE9;" >更多</span></a>
                            <img src="{% static 'images/asset/see.png' %}" class="see_dload">
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="prompt_box">
                <span class="al_read">设为已读</span>
                <span class="Dload_ucs">下载附件</span>
            </div>
            <div class="Up_total">
                <span class="ept_text">共计 {{tec_list.count}} 条数据</span>
            </div>
        </div>
    </div>
</div>
<script>
$(document).on("click",function(e)
    {
        if($(e.target).parents(".prompt_box").length == 0)
        {
            $(".prompt_box").hide();
        }
});
function show_function() {
    $(".prompt_box").show();
};
</script>

{% endblock  %}