.ax_default {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:center;
  line-height:normal;
  text-transform:none;
}
.text_p {
  text-align:left;
}
/* a:-webkit-any-link {
    color: #333333;
    cursor: pointer;
    text-decoration: none;
} */
p {
    margin: 0px;
    text-rendering: optimizeLegibility;
    font-feature-settings: "kern" 1;
    -webkit-font-feature-settings: "kern";
    -moz-font-feature-settings: "kern";
    -moz-font-feature-settings: "kern=1";
    font-kerning: normal;
}
#login_usrname {
    height:44px;
    width: 423px;
    background:url(../images/login/usr.svg) no-repeat;
    font-size: 14px;
    border:0;
    padding-left:43px;
}
#login_pwd {
    height:44px;
    width: 423px;
    background:url(../images/login/usr.svg) no-repeat;
    font-size: 14px;
    border:0;
    padding-left:43px;
}
input::-webkit-input-placeholder {
    color:#333333;
}
button {
    color: #FFFFFF;
    text-align: center;
}

/* 个人中心页面复用css */
body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1920px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.BackGround {
  border-width:0px;
  position:absolute;
  width:1920px;
  height:1080px;
  background:inherit;
}
.base {
  border-width:0px;
  position:absolute;
  left:0px;
  top:64px;
  width:1920px;
  height:1016px;
  background:inherit;
  background-color:rgba(244, 244, 244, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
.baseplate {
  border-width:0px;
  position:absolute;
  left:128px;
  top:24px;
  width:1665px;
  height:912px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
.menuinfo {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 200px;
  height: 912px;
  background: inherit;
  background-color: rgba(255, 255, 255, 1);
  box-sizing: border-box;
  border:2px solid rgba(244, 244, 244, 1); 
  border-top:none;
  border-bottom:none;
  border-left:none;
}
.info_base {
  position: absolute;
  left: 200px;
  top: 0px;
  width: 1465px;
  height: 912px;
  background: inherit;
  background-color: rgba(255, 255, 255, 1);
  box-sizing: border-box;
}
.photo {
  border-width:0px;
  position:absolute;
  left:71px;
  top:48px;
  width:60px;
  height:60px;
}
/*  */