#header-navbar {
  border-width:0px;
  position:relative;
  width:1440px;
  height:64px;
  display:flex;
  background:inherit;
  background-color:#FFFFFF;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  margin-right: auto;
  margin-left: auto;
}
#navbar-user-info {
  position: relative;
  left: 1062px;
  width: 172px;
}
#logo {
  border-width: 0px;
  position: absolute;
  left: 10%;
  top: 20px;
  width: 140px;
  height: 23px;
  display: flex;
}

.home-img {
  border-width: 0px;
  position: absolute;
  left: 340px;
  top: 24px;
  display: flex;
}

.navbar-home {
  border-width: 0px;
  position: absolute;
  left: 364px;
  top: 22px;
  width: 33px;
  height: 22px;
  display: flex;
  opacity: 0.8;
  font-family: 'PingFangSC-Regular', 'PingFang SC';
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color:rgba(0,0,0,0.85);
  text-decoration:none;
}

.training-img {
  border-width: 0px;
  position: absolute;
  left: 445px;
  top: 24px;
  display: flex;
}

.navbar-training {
  border-width: 0px;
  position: absolute;
  left: 469px;
  top: 22px;
  width: 65px;
  height: 22px;
  display: flex;
  font-family: 'PingFangSC-Regular', 'PingFang SC';
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgba(0,0,0,0.85);
  text-decoration:none;
  opacity:0.8;
}

.asset-img {
  border-width: 0px;
  position: absolute;
  left: 582px;
  top: 24px;
  display: flex;
}

.navbar-asset {
  border-width: 0px;
  position: absolute;
  left: 606px;
  top: 22px;
  width: 97px;
  height: 22px;
  display: flex;
  opacity: 0.8;
  font-family: 'PingFangSC-Regular', 'PingFang SC';
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgba(0,0,0,0.85);
  text-decoration:none;
}

.center-img {
  border-width: 0px;
  position: absolute;
  left: 751px;
  top: 24px;
  display: flex;
}

.navbar-center {
  border-width: 0px;
  position: absolute;
  left: 775px;
  top: 22px;
  width: 65px;
  height: 22px;
  display: flex;
  opacity: 0.8;
  font-family: 'PingFangSC-Regular', 'PingFang SC';
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgba(0,0,0,0.85);
  text-decoration:none;
}

.help-img {
  border-width: 0px;
  position: absolute;
  left: 0px;
  top: 24px;
  width: 16px;
  height: 16px;
  display: flex;
}

.navbar-help {
  border-width: 0px;
  font-size: 14px;
  position: absolute;
  left: 24px;
  top: 22px;
  width: 29px;
  height: 20px;
  display: flex;
  font-family: 'PingFangSC-Regular', 'PingFang SC';
  font-weight: 400;
  font-style: normal;
  color: rgba(0,0,0,0.85);
  text-decoration:none;
}

.tip-img {
  border-width: 0px;
  position: absolute;
  left: 76px;
  top: 26px;
  display: flex;
}

.navbar-tip {
  border-width: 0px;
  font-size: 14px;
  position: absolute;
  left: 100px;
  top: 22px;
  width: 50px;
  height: 20px;
  display: flex;
  font-family: 'PingFangSC-Regular', 'PingFang SC';
  font-weight: 400;
  font-style: normal;
  color: rgba(0,0,0,0.85);
  text-decoration:none;
}

.user-img {
    border-width: 0px;
    position: absolute;
    left: 1713px;
    top: 16px;
    width: 32px;
    height: 32px;
    display: flex;
    font-size: 18px;
    color: #FFFFFF;
}


.navbar-user {
  border-width: 0px;
  position: absolute;
  left: 172px;
  top: 1px;
  display: flex;
  font-family: 'PingFangSC-Regular', 'PingFang SC';
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  color: #FFFFFF;
  text-align: left;
  
  
  align-self: center;
}

.text {
  position: absolute;
  align-self: center;
  padding: 2px 2px 2px 2px;
  box-sizing: border-box;
  width: 100%;
  font-family: 'PingFangSC-Regular', 'PingFang SC';
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  color: #FFFFFF;
}

#pop {
    border-width: 0px;
    position: absolute;
    left: 1643px;
    top: 52px;
    width: 160px;
    height: 101px;
    display: flex;
    font-family: 'MicrosoftYaHei', 'Microsoft YaHei';
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    text-align: left;
}

#pop1 {
  border-width: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 160px;
  height: 32px;
  display: flex;
  font-family: 'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.647058823529412);
  text-align: left;
  line-height: 22px;
  align-self: center;
  padding: 5px 16px 5px 34px;
  box-sizing: border-box;
  width: 100%;
}

#pop2 {
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 31px;
    width: 160px;
    height: 32px;
    display: flex;
    font-family: 'PingFangSC-Regular', 'PingFang SC';
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.647058823529412);
    text-align: left;
    line-height: 22px;
    align-self: center;
    padding: 5px 16px 5px 34px;
    box-sizing: border-box;
    width: 100%;
}

#pop3 {
  border-width: 0px;
    position: absolute;
    left: 1px;
    top: 63px;
    width: 160px;
    height: 38px;
    display: flex;
    font-family: 'MicrosoftYaHei', 'Microsoft YaHei';
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.647058823529412);
    text-align: left;
    line-height: 22px;
}

.img3 {
  border-width: 0px;
  position: absolute;
  left: -2px;
  top: -2px;
  width: 18px;
  height: 19px;
  border-width: 0px;
  position: absolute;
  left: 13px;
  top: 75px;
  width: 14px;
  height: 15px;
  display: flex;
}

.logout {
    position: absolute;
    align-self: center;
    padding: 2px 16px 2px 34px;
    box-sizing: border-box;
    width: 100%;
}

.layui-nav .layui-nav-child a {
  text-decoration: none;
}