{% load staticfiles %}
<!DOCTYPE html>
<html lang='zh-cn'>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'css/account/forget_pwd.css' %}">
        <link rel="stylesheet" href="{% static 'css/default.css' %}">
        <script src=" {% static 'js/jquery.min.js' %} "></script>
        <script src=" {% static 'js/bootstrap.min.js'%} "></script> 
    </head>
    <body>
        {% comment %} <div class="container"> {% endcomment %}
            {% block content %}
            {% endblock %}
        {% comment %} </div> {% endcomment %}
        {% include "footer.html" %}
    </body>
</html>