{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}添加优秀实践{% endblock  %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/account/admin_group.css' %}">
<link rel="stylesheet" href="{% static 'css/account/manager.css' %} ">
{% endblock  %}

{% block content %}
<div class="base">
    <div class="baseplate">
        <div class="menuinfo">
            <div class="gmenu_cp1" style="background-color: white">
                <a href="{% url 'asset:tec_list' %}"><span class="m_mdata">优秀实践</span></a>
            </div>
            <div class="gmenu_cp2">
                <a href="{% url 'asset:complaint_list' %}"><span class="m_mdata">客诉问题</span></a>
            </div>
            <div class="gmenu_cp3" style="background-color: rgba(244, 244, 244, 1)">
                <span class="left_bd"></span>
                <a href="{% url 'asset:patent_list' %}"><span class="chpract">专利</span></a>
            </div>
        </div>
        <div class="info_base">
            <div class="Cp_title">
                <span class="Cust_Com">添加专利</span>
            </div>
            <div class="site-text">
                <form action="{{patent.id}}" method="post" class="layui-form" enctype="multipart/form-data">{% csrf_token %}
                    <div class="gnbd">
                        <div class="layui-form-item">
                            <label class="layui-form-label" style="width:110px">专利名称：</label>
                            <div class="layui-input-block">
                                <input type="text" name="name" lay-verify="required" lay-reqtext="不能为空" placeholder="" autocomplete="off" class="layui-input" value="{{patent.name}}">
                            </div>
                        </div>
                    </div>
                    <div class="gnbd">
                        <div class="layui-form-item">
                            <label class="layui-form-label" style="width:110px">小组：</label>
                            <div class="layui-input-block">
                                <select lay-filter="group" class="atgpselt" lay-verify="required|number" id="id_group" name="group"  onchange="handle();">
                                    {% for group in groups %}
                                    <option value="{{group.id}}">{{group.name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="gnbd">
                        <div class="layui-form-item">
                            <label class="layui-form-label" style="width:110px">作者：</label>
                            <div class="layui-input-block">
                                <select lay-filter="author" class="authselt" id="id_author" name="author" placeholder="请选择作者" lay-verify="required">
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="gnbd">
                        <div class="layui-form-item">
                            <label class="layui-form-label" style="width:110px">专利类别：</label>
                            <div class="layui-input-block">
                                <select class="authselt" name="type" lay-verify="required">
                                    <option value="{{patent.type}}" selected="selected">{{patent.type}}</option> 
                                    <option value="发明专利">发明专利</option>
                                    <option value="实用新型专利">实用新型专利</option>
                                    <option value="外观专利">外观专利</option>
                                    <option value="PCT国际专利">PCT国际专利</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="gnbd">
                        <div class="layui-form-item">
                            <label class="layui-form-label" style="width:110px">申请时间：</label>
                            <div class="layui-input-block">
                                <input type="lay-date" class="layui-input" lay-verify="required" name="submit_time" id="submit_time" placeholder="年/月/日" value="{{patent.submit_time|date:'Y-m-d'}}" style="height:38px">
                            </div>
                        </div>
                    </div>
                    <div class="gnbd">
                        <div class="layui-form-item">
                            <label class="layui-form-label" style="width:110px">状态：</label>
                            <div class="layui-input-block">
                                <select name="status" lay-verify="required">
                                    <option value="{{patent.status}}">{{patent.status}}</option>
                                    <option value="审核中">审核中</option>
                                    <option value="发明公布">发明公布</option>
                                    <option value="已授权">已授权</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="gnbd">
                        <div class="layui-form-item">
                            <label class="layui-form-label" style="width:110px">专利号</label>
                            <div class="layui-input-block">
                                <input type="text" name="patent_id" lay-verify="required" lay-reqtext="不能为空" placeholder="" autocomplete="off" class="layui-input" value="{{patent.patent_id}}">
                            </div>
                        </div>
                    </div>
                    <div class="gnbd">
                        <div class="layui-form-item">
                            <label class="layui-form-label" style="width:110px">公司奖励：</label>
                            <div class="layui-input-block">
                                <select class="authselt" name="award" lay-verify="required">
                                    <option value="{{patent.award}}">{{patent.award}}</option>
                                    <option value="未申请">未申请</option>
                                    <option value="已申请-3000元">已申请-3000元</option>
                                    <option value="已申请-1000元">已申请-1000元</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="gnbd7">
                        <span class="contsum">专利材料：</span>
                        <div class="upextra">
                            {{form.file}}
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                        <button type="submit" class="layui-btn" lay-submit="" style="background-color:#FF8F00" lay-filter="demo1">立即提交</button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
layui.use('form', function(){
  var form = layui.form;
  form.on('select(group)', function(data) {
      var value = data.value
      //console.log(data.elem);  //得到select原始DOM对象
      //console.log(data.value); //得到被选中的值
      //console.log(data.othis); //得到美化后的DOM对象

      $.ajax({
        type:"post",
        url:"/asset/group-user/",
        data:{"group_id": value},
        datatype:'json',
        success: function(e) {
            if(e!=null){
                var author = $("#id_author");
                var dataObj = eval(e);
                var dataArr = dataObj.data;
                author.empty();
                // console.log(dataArr)
                if (dataArr!=null) {
                    for(var i=0;i<dataArr.length;i++){
                        var item =dataArr[i];
                        author.append("<option value = '"+item.id+"'>"+item.realname+"</option>")
                    };
                } else {
                    author.append("<option value = '-1'>"+"成员为空"+"</option>");
                }
            }
            layui.form.render("select");
        }
        
      });
  });
  // layui.form.render("select", 'author');

  //各种基于事件的操作，下面会有进一步介绍
  form.verify({
    // 验证多选框不能全为空
    otherReq: function(value,item){
      var $ = layui.$;
      var verifyName=$(item).attr('name')
        , verifyType=$(item).attr('type')
        ,formElem=$(item).parents('.layui-form')//获取当前所在的form元素,如果存在的话
        ,verifyElem=formElem.find('input[name='+verifyName+']')//获取需要校验的元素
        ,isTrue= verifyElem.is(':checked')//是否命中校验
        ,focusElem = verifyElem.next().find('i.layui-icon');//焦点元素
        if(!isTrue || !value){
            //定位焦点
            focusElem.css(verifyType=='radio'?{"color":"#FF5722"}:{"border-color":"#FF5722"});
            //对非输入框设置焦点
            focusElem.first().attr("tabIndex","1").css("outline","0").blur(function() {
                focusElem.css(verifyType=='radio'?{"color":""}:{"border-color":""});
            }).focus();
            return '必填项不能为空';
        }
    }
  });

});

// 进入页面后，即根据小组 更新 作者选择框数据
window.onload=function() {
    layui.use('form', function(){
        var form = layui.form;
        var group = $("#id_group").val()
        console.log('test',group)
        $.ajax({
            type:"post",
            url:"/asset/group-user/",
            data:{"group_id": group},
            datatype:'json',
            success: function(e) {
                if(e!=null){
                    var author = $("#id_author");
                    var dataObj = eval(e);
                    var dataArr = dataObj.data;
                    author.empty();
                    // console.log(dataArr)
                    if (dataArr!=null) {
                        for(var i=0;i<dataArr.length;i++){
                            var item =dataArr[i];
                            author.append("<option value = '"+item.id+"'>"+item.realname+"</option>")
                        };
                    } else {
                        author.append("<option value = '-1'>"+"成员为空"+"</option>");
                    }
                }
                form.render("select");
            }
            
        });
    })
}


layui.use('laydate', function(){
  var laydate = layui.laydate;
  
  //执行一个laydate实例
  laydate.render({
    elem: '#submit_time' //指定元素
  });
});

</script>

{% endblock  %}