{% load staticfiles %}
<!DOCTYPE html>
<html lang='zh-cn'>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static '/css/header.css' %}">
        <link rel="stylesheet" href="{% static 'css/default.css' %}">
        <link rel="stylesheet" href="{% static 'css/account/personal_data.css' %}">
        <link rel="stylesheet" href="{% static 'js/skin/default/layer.css' %}">
        <script src="{% static 'js/jquery.js' %}"></script>
        <script src="{% static 'js/bootstrap.js' %}"></script>
        <script src="{% static 'js/common.js' %}"></script>
        <link rel="stylesheet" href="{% static 'layui/css/layui.css' %}">
        <script type="text/javascript" src='{% static "layui/layui.js" %}'></script>
        {% block head %}{% endblock %}
    </head>
    <body>
        {% include "header.html" %}
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
        {% include "footer.html" %}
        {% block javascript %}{% endblock  %}          
    </body>

    <script>
        //注意：导航 依赖 element 模块，否则无法进行功能性操作
        layui.use('element', function(){
        var element = layui.element;
        
        //…
        });

        // 读取cookie值
        function getCookie(name){
                    var strCookie=document.cookie;
                    var arrCookie=strCookie.split("; ");
                    for(var i=0;i<arrCookie.length;i++){
                        var arr=arrCookie[i].split("=");
                        if(arr[0]==name)return arr[1];
                    }
                    return "";
        }

        // 页面加载即执行JQuery
        $(document).ready(function(){
            // document.cookie
            unproc_num = getCookie('unproc_num_cookie')
            // alert(unproc_num)    
            unproc_num = Number(unproc_num) //转换为数字类型
            // alert(typeof unproc_num)

            if (unproc_num > 0){    
                $("#tips").addClass("layui-badge-dot");
            } else {
                $("#tips").removeClass("layui-badge-dot");
            }
        });

        function show_help() {
            // console.log('test')
            layui.use('layer', function() {
                var $ = layui.jquery, layer = layui.layer;
                layer.open({
                    type: 1
                    ,title:  ['帮助信息', 'font-size:18px;'] // 标题栏
                    ,closeBtn: false
                    ,area: '400px;'
                    ,shade: 0.8
                    ,id: 'LAY_layuipro' //设定一个id，防止重复弹出
                    ,btn: ['我知道了']
                    ,btnAlign: 'c'
                    ,moveType: 1 //拖拽模式，0或者1
                    ,content: '<div style="padding: 50px; line-height: 22px; background-color: #393D49; color: #fff; font-weight: 300;">你知道吗？<br>本平台完全由自动化开发组开发完成。<br><br>平台实现对培训、优秀实践以及客诉等材料与数据的统一管理。你可以使用本平台获取培训材料、查看优秀实践设计以及获取客诉信息。<br><br>如果你在使用本平台的过程中遇到疑惑、Bug或者有其他改进建议，可以联系自动化开发组团队，提供协助。<br><br>希望对你有所帮助^_^</div>'
                });
            })
        };
    </script>
</html>