{% load staticfiles %}
<head>
<link type="text/css" rel="stylesheet" href="{% static 'css/header.css' %}"> 
<link href="{% static '/css/styles.css' %} " type="text/css" rel="stylesheet"/>
<link href="{% static '/css/axure_rp_page.css' %}" type="text/css" rel="stylesheet"/>
</head>

<div id="u1815" class="ax_default shape">
    <div id="u1815_div" class="">
            
        <div id="u2004" class="ax_default" data-left="116" data-top="14" data-width="724" data-height="36">
            <!-- logo (动态面板) -->
            <div id="u2005" class="ax_default" data-label="logo">
                <div id="u2005_state0" class="panel_state" data-label="State1" style="">
                    <div id="u2005_state0_content" class="panel_state_content">
                    </div>
                </div>
            </div>

            <!-- 首页 (动态面板) -->
            <div id="u2006" class="ax_default" data-label="首页">
                
                <div id="u2006_state0" class="panel_state" data-label="State1" style="">
                    <span>首页</span>
                    <div id="u2006_state0_content" class="panel_state_content">
                    
                    </div>
                </div>
            </div>

            <!-- 培训管理 (动态面板) -->
            <div id="u2007" class="ax_default" data-label="培训管理">
                <div id="u2007_state0" class="panel_state" data-label="State1" style="">
                    <div id="u2007_state0_content" class="panel_state_content">
                    </div>
                </div>
            </div>

            <!-- 资产技术管理 (动态面板) -->
            <div id="u2008" class="ax_default" data-label="资产技术管理">
                <div id="u2008_state0" class="panel_state" data-label="State1" style="">
                    <div id="u2008_state0_content" class="panel_state_content">
                    </div>
                </div>
            </div>

            <!-- 个人中心 (动态面板) -->
            <div id="u2009" class="ax_default" data-label="个人中心">
                <div id="u2009_state0" class="panel_state" data-label="State1" style="">
                    <div id="u2009_state0_content" class="panel_state_content">
                    </div>
                </div>
            </div>
        </div>

        <div id="u1983" class="ax_default" data-left="1572" data-top="22" data-width="49" data-height="20">
            <!-- Unnamed (组合) -->
            <div id="u1984" class="ax_default" data-left="1572" data-top="24" data-width="16" data-height="16">
                <!-- Unnamed (占位符) -->
                <div id="u1985" class="ax_default _形状">
                    <img id="u1985_img" class="img " src="{% static 'images/u1200.svg' %}"/>
                    <div id="u1985_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                    </div>
                </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u1986" class="ax_default label">
                <div id="u1986_div" class="text"><p><span>帮助</span></p></div> 
            </div>
        </div>


        <div id="u1987" class="ax_default" data-left="1637" data-top="22" data-width="49" data-height="20">

            <!-- Unnamed (组合) -->
            <div id="u1988" class="ax_default" data-left="1637" data-top="24" data-width="16" data-height="16">
                <!-- Unnamed (占位符) -->
                <div id="u1989" class="ax_default _形状">
                    <img id="u1989_img" class="img " src="{% static 'images/u1200.svg' %}"/>
                    <div id="u1989_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                    </div>
                </div>
                <!-- Unnamed (矩形) -->
                <div id="u1990" class="ax_default label">
                <div id="u1990_div" class="text"><p><span>提醒</span></p></div>            
                </div>
            </div>
        </div>

        <!-- Unnamed (组合) -->
        <div id="u1980" class="ax_default" data-left="1702" data-top="0" data-width="91" data-height="64">
            <!-- Unnamed (矩形) -->
            <div id="u1981" class="ax_default shape">
                <div id="u1981_div" class=""></div>
                <div id="u1981_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>
            <!-- Unnamed (矩形) -->
            <div id="u1982" class="ax_default shape">
                <div id="u1982_div" class=""></div>
                <div id="u1982_text" class="text ">
                    <p><span>{{user.username}}</span></p>
                </div>
            </div>
        </div>

    </div>
    <div id="u1815_text" class="text " style="display:none; visibility: hidden">
        <p></p>
    </div>
</div> 








{% comment %} <div class="container">
    <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" href=""><img src="{% static '/images/logo.png' %}" width="100px"></a>
        </div>
        <div>
            <ul class="nav navbar-nav" role="navigation">
                <li><a href="{% url 'home' %}">主页</a></li>
                <li><a href="{% url 'asset:blog_title' %}">技术资产</a></li>
                <li><a href="">培训管理</a></li>
                
            </ul>
            <ul class="nav navbar-nav navbar-right" style="margin-right:10px">
                {% if user.is_authenticated %}
                {% if user.is_superuser == 1 %}
                <li><a href="{% url 'admin:index' %}">后台管理</a></li>
                {% endif %}

                <li>
                    <div class="dropdown" style="margin-top:8px">
                    <button class="btn btn-default dropdown-toggle" type='button' id='dropdownMenu' data-toggle='dropdown'>{{user.username}}<span class='caret'></span></button>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'account:password_change' %}">修改密码</a></li>
                        <li><a href="{% url 'account:my_information' %}">个人信息</a></li>
                        {% if user.is_superuser == 1 or user.userinfo.role_id == 3 %}
                        <li><a href="{% url 'account:index' %}">用户管理</a></li>
                        {% endif %}
                        {% if user.userinfo.role_id == 2 %}
                        <li><a href="{% url 'account:group_user' %}">小组信息</a></li>
                        {% endif %}
                    </ul>
                    </div>
                </li>
                <li><a href="{% url 'account:user_logout' %}">退出</a></li>
                {% else %}
                <li><a href="{% url 'account:user_login' %}">登录</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
</div> {% endcomment %}
