{% load staticfiles %}

<div id="header-navbar" >
    <div id="logo">
        <img src="{% static '/images/Tenda-logo.png' %}" alt="Tenda Logo" class="logoimg">
    </div>
    <div class="navbar-tool">
        <div class="home">
            <img src="{% static '/images/header/nav_homepage_default.png' %}" alt="" class="home-img">
            <a href="{% url 'home' %}" class="navbar-home">首页</a>
        </div>
        <div class="training">
            <img src="{% static '/images/header/nav_course_default.png' %}" alt="" class="training-img">
            <a href="{% url 'training:course_list' %}" class="navbar-training">培训管理</a>
        </div>
        <div class="asset">
            <img src="{% static '/images/header/nav_skill_default.png' %}" alt="" class="asset-img">
            <a href="{% url 'asset:tec_list' %}" class="navbar-asset">技术资产管理</a>
        </div>
        <div class="center">
            <img src="{% static '/images/header/nav_personal_default.png' %}" alt="" class="center-img">
            <a href="{% url 'account:my_information' %}" class="navbar-center">个人中心</a>
        </div>
    </div>
    <div id="navbar-user-info">
        <div class="help">
            <img src="{% static '/images/header/icn_help.png' %}" alt="" class="help-img">
            <a href="" class="navbar-help">帮助</a>
        </div>
        <li class="layui-nav-item tip">
            <img src="{% static '/images/header/icn_notice.png' %}" alt="" class="tip-img">
            <a class="navbar-tip" href="{% url 'asset:unprocess_tec' %}">提醒<span id="tips" class=""></span></a>
        </li>
        
        <ul class="layui-nav navbar-user" style="background-color:#FFFFFF">  
            <li class="layui-nav-item">
                <a href style="text-decoration:none;color:rgba(0,0,0,0.85)">
                    {{user.userinfo.realname}}
                    <span class="layui-nav-more"></span>
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="{% url 'account:my_information' %}">个人中心</a></dd>
                    {% comment %} <dd><a href="javascript:;" onclick="change_pwd();">修改密码</a></dd> {% endcomment %}
                    <dd><a href="{% url 'account:user_logout' %}">退出登录</a></dd>
                </dl>
            </li>
        </ul>
    </div>
</div>