{% extends "base.html" %}

{% load staticfiles %}

{% block title %}Home Page{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/home.css' %} ">
<div class="homebase">
    <div class="contentbase">
        <div class="contentmenu1">
            <div class="menutitle">
                <p class="usedlink">常用链接</p>
            </div>
            <div class="menuconten1">
                <div class="shadowborder1">
                    <div class="menulink"></div>
                    <span class="linknum">1</span>
                    <a href="http://192.168.100.23/testlink/login.php"><span class="linkname">testlink</span></a>
                    <img src="{% static 'images/home/icn_check.png' %}" class="linkeye">
                    <span class="seenumber">789</span>
                </div>
                <div class="shadowborder2">
                    <div class="menulink"></div>
                    <span class="linknum">2</span>
                    <a href="http://192.168.100.23/bugfree/"><span class="linkname">bugfree</span></a>
                    <img src="{% static 'images/home/icn_check.png' %}" class="linkeye">
                    <span class="seenumber">654</span>
                </div>
                <div class="shadowborder3">
                    <div class="menulink"></div>
                    <span class="linknum">3</span>
                    <a href="http://eoa.tenda.cn"><span class="linkname">eoa</span></a>
                    <img src="{% static 'images/home/icn_check.png' %}" class="linkeye">
                    <span class="seenumber">623</span>
                </div>
                <div class="shadowborder4">
                    <img src="{% static 'images/home/link2.svg' %}" class="menulink">
                    <span class="linknum">4</span>
                    <a href="http://oa.tenda.cn"><span class="linkname">旧oa</span></a>
                    <img src="{% static 'images/home/icn_check.png' %}" class="linkeye">
                    <span class="seenumber">590</span>
                </div>
                <div class="shadowborder5">
                    <img src="{% static 'images/home/link2.svg' %}" class="menulink">
                    <span class="linknum">5</span>
                    <a href="http://172.16.100.12/login"><span class="linkname">资产设备管理平台</span></a>
                    <img src="{% static 'images/home/icn_check.png' %}" class="linkeye">
                    <span class="seenumber">123</span>
                </div>
                <div class="shadowborder6">
                    <img src="{% static 'images/home/link2.svg' %}" class="menulink">
                    <span class="linknum">6</span>
                    <a href="http://plm.tenda.cn:7001/Agile/default/login-cms.jsp"><span class="linkname">Agile平台</span></a>
                    <img src="{% static 'images/home/icn_check.png' %}" class="linkeye">
                    <span class="seenumber">113</span>
                </div>
                <div class="shadowborder7">
                    <img src="{% static 'images/home/link2.svg' %}" class="menulink">
                    <span class="linknum">7</span>
                    <a href="http://172.16.100.5:1808/"><span class="linkname">考勤查询</span></a>
                    <img src="{% static 'images/home/icn_check.png' %}" class="linkeye">
                    <span class="seenumber">110</span>
                </div>
            </div>
        </div>
        <div class="contentmenu2">
            <div class="menutitle">
                <p class="usedlink">数据中心</p>
            </div>
            <div class="menuconten2">
                <div class="menushadow1">
                    <img src="{% static 'images/home/dataimg.svg' %}" class="dataimg">
                    <span class="dataname">培训</span>
                    <span class="datanumber">{{courses.count}}</span>
                    <a href="{% url 'training:course_list' %}">   
                        <img src="{% static 'images/home/arrbase.svg' %}" class="arrbase">
                        <img src="{% static 'images/home/dataarr.svg' %}" class="dataarr">
                    </a>
                </div>
                <div class="menushadow2">
                    <img src="{% static 'images/home/dataimg.svg' %}" class="dataimg">
                    <span class="dataname">优秀实践</span>
                    <span class="datanumber">{{tecs.count}}</span>
                    <a href="{% url 'asset:tec_list' %}">
                        <img src="{% static 'images/home/arrbase.svg' %}" class="arrbase">
                        <img src="{% static 'images/home/dataarr.svg' %}" class="dataarr">
                    </a>
                </div>
                <div class="menushadow3">
                    <img src="{% static 'images/home/dataimg.svg' %}" class="dataimg">
                    <span class="dataname">客诉问题</span>
                    <span class="datanumber">{{coms.count}}</span>
                    <a href="{% url 'asset:complaint_list' %}">
                        <img src="{% static 'images/home/arrbase.svg' %}" class="arrbase">
                        <img src="{% static 'images/home/dataarr.svg' %}" class="dataarr">
                    </a>
                </div>
            </div>
        </div>
        <div class="layui-carousel picturebase" id="autoplay">
            <div carousel-item>
                <div><img src="{% static 'images/home/banner_center.png' %}"></div>
                <div><img src="{% static 'images/home/banner_center.png' %}"></div>
            </div>
        </div>
        <div class="tablebase">
            <span class="recent">近期培训</span>
            <span class="alltrain">所有培训</span>
            <a href="{% url 'training:course_list' %}"> <img src="{% static 'images/home/arrbase.svg' %}" class="trainarr">
            <img src="{% static 'images/home/dataarr.svg' %}" class="gototrain"></a>
            <table class="train_records" align="center">
                <thead>
                    <tr class="train_head">
                        <td class="train_td1">序号</td>
                        <td class="train_td2">培训名称</td>
                        <td class="train_td3">培训范围</td>
                        <td class="train_td4">主讲人</td>
                        <td class="train_td5">培训地址</td>
                        <td class="train_td6">培训时间</td>
                    </tr>
                </thead>
                <tbody>
                    {% for course in  last_courses %}
                    <tr class="train_body1">
                        <td class="train_td1">{{forloop.counter}}</td>
                        <td>
                            <span class="name_flag"></span>
                            <span class="train_name">{{course.cname}}</span>
                        </td>
                        <td>{{course.range}}</td>
                        <td>{{course.teacher.realname}}</td>
                        <td class="train_name">{{course.address}}</td>
                        <td>{{course.course_time | date:"Y/m/d H:i"}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="courseware">
            <div class="down_title">
                <p class="title_text">培训课件</p>
                <select id="select_group">
                    <option value="0">测试部</option>
                    <option value="1">家用测试组</option>
                    <option value="2">OEM组</option>
                    <option value="3">便携测试组</option>
                    <option value="4">商用测试组</option>
                    <option value="5">接入测试组</option>
                    <option value="6">自动开发组</option>
                    <option value="7">资料开发组</option>
                    <option value="8">自动化开发组</option>
                </select>
            </div>
            <div class="downbase">
                {% for course in files %}
                <div class="fileshadow">
                    <div class="file_tip">
                        <img src="{% static 'images/training/format_ppt.png' %}" >
                    </div>
                    <span class="file_name">{{course.cname}}</span>
                    <span class="file_group">{{course.range}} {{course.course_time | date:'Y.m.d'}}</span>
                    <a href="{% url 'training:download_file' course.id %}"></a> <button class="file_down">下载</button>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="flie_list">
            <div class="down_title">
                <p class="title_text">技术文档</p>
            </div>
            <img src="{% static 'images/home/status_empty.png' %}" class="fileimg">
        </div>
    </div>
</div>
<script>
// 实现页面图片轮播
layui.use('carousel', function(){
  var carousel = layui.carousel;
  //建造实例
  carousel.render({
    elem: '#autoplay'
    ,width: '877px' //设置容器宽度
    ,height: '240px'
    ,autoplay: 'true'
    ,interval: '2000' //自动切换时间间隔
    ,arrow: 'always' //始终显示箭头
    //,anim: 'updown' //切换动画方式
  });
});
</script>

{% endblock %}