{% extends "base.html" %}

{% load staticfiles %}

{% block title %}Home Page{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/home.css' %} ">
<div class="homebase">
    <div class="contentbase">
        <div class="contentmenu1">
            <div class="menutitle">
                <p class="usedlink">常用链接</p>
            </div>
            <div class="menuconten1">
                <div class="shadowborder1">
                    <div class="menulink"></div>
                    <span class="linknum">1</span>
                    <a href={{ links.0.url}} onclick="clickNumberAdd(event)" >  <span class="linkname"> {{links.0.links_name}} </span> </a>
                    <img src="{% static 'images/home/icn_check.png' %}" class="linkeye">
                    <span class="seenumber">{{links.0.click_number}}</span>
                </div>
                <div class="shadowborder2">
                    <div class="menulink"></div>
                    <span class="linknum">2</span>
                    <a href={{ links.1.url}} onclick="clickNumberAdd(event)">  <span class="linkname"> {{links.1.links_name}} </span> </a>
                    <img src="{% static 'images/home/icn_check.png' %}" class="linkeye">
                    <span class="seenumber">{{links.1.click_number}}</span>
                </div>
                <div class="shadowborder3">
                    <div class="menulink"></div>
                    <span class="linknum">3</span>
                    <a href={{ links.2.url}} onclick="clickNumberAdd(event)">  <span class="linkname"> {{links.2.links_name}} </span> </a>
                    <img src="{% static 'images/home/icn_check.png' %}" class="linkeye">
                    <span class="seenumber">{{links.2.click_number}}</span>
                </div>
                <div class="shadowborder4">
                    <img src="{% static 'images/home/link2.svg' %}" class="menulink">
                    <span class="linknum">4</span>
                    <a href={{ links.3.url}}  onclick="clickNumberAdd(event)"> <span class="linkname"> {{links.3.links_name}} </span> </a>
                    <img src="{% static 'images/home/icn_check.png' %}" class="linkeye">
                    <span class="seenumber">{{links.3.click_number}}</span>
                </div>
                <div class="shadowborder5">
                    <img src="{% static 'images/home/link2.svg' %}" class="menulink">
                    <span class="linknum">5</span>
                    <a href={{ links.4.url}} onclick="clickNumberAdd(event)"><span class="linkname"> {{links.4.links_name}} </span></a>
                    <img src="{% static 'images/home/icn_check.png' %}" class="linkeye">
                    <span class="seenumber">{{links.4.click_number}}</span>
                </div>
                <div class="shadowborder6">
                    <img src="{% static 'images/home/link2.svg' %}" class="menulink">
                    <span class="linknum">6</span>
                    <a href={{ links.5.url}} onclick="clickNumberAdd(event)"><span class="linkname"> {{links.5.links_name}} </span></a>
                    <img src="{% static 'images/home/icn_check.png' %}" class="linkeye">
                    <span class="seenumber">{{links.5.click_number}}</span>
                </div>
                <div class="shadowborder7">
                    <img src="{% static 'images/home/link2.svg' %}" class="menulink">
                    <span class="linknum">7</span>
                    <a href={{ links.6.url}} onclick="clickNumberAdd(event)"><span class="linkname"> {{links.6.links_name}} </span></a>
                    <img src="{% static 'images/home/icn_check.png' %}" class="linkeye">
                    <span class="seenumber">{{links.6.click_number}}</span>
                </div>
            </div>
        </div>
        <div class="contentmenu2">
            <div class="menutitle">
                <p class="usedlink">数据中心</p>
            </div>
            <div class="menuconten2">
                <div class="menushadow1">
                    <img src="{% static 'images/home/dataimg.svg' %}" class="dataimg">
                    <span class="dataname">培训</span>
                    <span class="datanumber">{{courses.count}}</span>
                    <a href="{% url 'training:course_list' %}">   
                        <img src="{% static 'images/home/arrbase.svg' %}" class="arrbase">
                        <img src="{% static 'images/home/dataarr.svg' %}" class="dataarr">
                    </a>
                </div>
                <div class="menushadow2">
                    <img src="{% static 'images/home/dataimg.svg' %}" class="dataimg">
                    <span class="dataname">优秀实践</span>
                    <span class="datanumber">{{tecs.count}}</span>
                    <a href="{% url 'asset:tec_list' %}">
                        <img src="{% static 'images/home/arrbase.svg' %}" class="arrbase">
                        <img src="{% static 'images/home/dataarr.svg' %}" class="dataarr">
                    </a>
                </div>
                <div class="menushadow3">
                    <img src="{% static 'images/home/dataimg.svg' %}" class="dataimg">
                    <span class="dataname">客诉问题</span>
                    <span class="datanumber">{{coms.count}}</span>
                    <a href="{% url 'asset:complaint_list' %}">
                        <img src="{% static 'images/home/arrbase.svg' %}" class="arrbase">
                        <img src="{% static 'images/home/dataarr.svg' %}" class="dataarr">
                    </a>
                </div>
            </div>
        </div>
        <div class="layui-carousel picturebase" id="autoplay">
            <div carousel-item>
                <div><img src="{% static 'images/home/banner_center.png' %}"></div>
                <div><img src="{% static 'images/home/banner_2.png' %}"></div>
            </div>
        </div>
        <div class="tablebase">
            <div class="tableheader">
                <span class="recent">近期培训</span>
                <span class="alltrain"><a href="{% url 'training:course_list' %}" style="color: #FF8F00;">所有培训</a></span>
            </div>
            <table class="train_records" align="center">
                <thead>
                    <tr class="train_head">
                        <td class="train_td2">培训名称</td>
                        <td class="train_td3">培训范围</td>
                        <td class="train_td4">主讲人</td>
                        <td class="train_td5">培训地址</td>
                        <td class="train_td6">培训时间</td>
                    </tr>
                </thead>
                <tbody>
                    {% for course in  last_courses %}
                    <tr class="train_body1">
                        
                        <td>
                            <span class="train_name">{{course.cname}}</span>
                        </td>
                        <td>{{course.range}}</td>
                        <td>{{course.teacher.realname}}</td>
                        <td class="train_name">{{course.address}}</td>
                        <td>{{course.course_time | date:"Y/m/d H:i"}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="courseware">
            <div class="down_title">
                <p class="title_text">培训课件</p>
                    <select id="select_group" onchange="selectGroup()">
                        <option value="0">所有</option>
                        <option value="测试部">测试部</option>
                        <option value="家用测试组">家用测试组</option>
                        <option value="ISP运营商测试组">ISP运营商测试组</option>
                        <option value="接入测试组">接入测试组</option>
                        <option value="商用测试组">商用测试组</option>
                        <option value="智能外设测试组">智能外设测试组</option>
                        <option value="资料开发组">资料开发组</option>
                        <option value="自动化开发组">自动化开发组</option>
                    </select>                    
            </div>
            <div class="downbase" id="downbase">
                <!-- {% for course in files %}
                <div class="fileshadow">
                    <div class="file_tip">
                        <img src="{% static 'images/training/format_ppt.png' %}" >
                    </div>
                    <span class="file_name">{{course.cname}}</span>
                    <span class="file_group">{{course.range}} {{course.course_time | date:'Y.m.d'}}</span>
                    <a href="{% url 'training:download_file' course.id %}"> <span class="file_down">下载</span></a>
                    <a href="{% url 'training:course_detail' course.id %}"> <span class="file_detail">查看</span></a>    
                </div>
                {% endfor %} -->
            </div>
        </div>
        <div class="flie_list">
            <div class="down_title">
                <p class="title_text">技术文档</p>
            </div>
            <img src="{% static 'images/home/status_empty.png' %}" class="fileimg">
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script>
// 实现页面图片轮播
layui.use('carousel', function(){
  var carousel = layui.carousel;
  //建造实例
  carousel.render({
    elem: '#autoplay'
    ,width: '760px'   //设置容器宽度
    ,height: '240px'
    ,autoplay: 'true'
    ,interval: '2000' //自动切换时间间隔
    ,arrow: 'hover'   //隐藏显示箭头
    //,anim: 'updown' //切换动画方式
  });
});

$(document).ready(function(){
    selectGroup();
});

function selectGroup() {
    var range = $("#select_group").val();
    // ajax动态获取后台json数据，并加载到页面
    $.ajax({
        type: "GET",
        data: {range: range},
        url: "/home/home-course-list-data",
        success:function(data){           
            var course_list = "";   
            for (var i = 0; i < data.count; i++) {   
                //获得文件扩展名 
                var fileName = data.data[i].file_name;
                var fileExtension = fileName.split('.').pop();               
                if (fileExtension=='xls' || fileExtension=='xlsx') {
                    file_pic = '/static/images/training/format_xsl.png';
                }
                else if (fileExtension=='ppt') {
                    file_pic = '/static/images/training/format_ppt.png';
                }
                else if (fileExtension=='pdf') {
                    file_pic = '/static/images/training/format_pdf.png';
                }
                else if (fileExtension=='doc') {
                    file_pic = '/static/images/training/format_doc.png';
                }
                else if (fileExtension=='rar' || fileExtension=='zip') {
                    file_pic = '/static/images/training/format_rar_zip.png';
                }
                else {
                    file_pic = '/static/images/training/format_ppt.png';
                };
                // var course_time = data.data[i].course_time.substring(0,10);
                var course_time = data.data[i].course_time;
                var download_url = "/training/download-coursefile/" + data.data[i].id;
                var detail_url = "/training/course-detail/" + data.data[i].id;
                // 显示查询的培训课件信息
                course_list += "<div class='fileshadow'>" +
                    "<div class='file_tip'>" +   
                    "<img src=" + file_pic + ">" + 
                    "</div>" + 
                    "<span class='file_name'>" + data.data[i].cname + "</span>" + 
                    "<span class='file_group'>" + data.data[i].range + " " + course_time + "</span>" +
                    "<a href=" + download_url + "> <span class='file_down'>下载</span></a>" + 
                    "<a href=" + detail_url + "> <span class='file_detail'>查看</span></a>" + 
                    "</div>" ;
            };            
            downbase.innerHTML = course_list;   //将数据写入html中                  
        }
    });
};
function clickNumberAdd() {
        var obj=event.srcElement;  //event在ie中自带有，可以不用传入，其他少数浏览器需要传入
        var linksname=obj.innerHTML
        $.ajax({
            url:"/account/click_add",
            data:{"linksname": linksname},
            type:'POST',
        });
}
</script>
{% endblock %}