{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}编辑项目数据{% endblock  %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/account/admin_group.css' %}">
<link rel="stylesheet" href="{% static 'css/account/manager.css' %} ">
<style type="text/css">
input::placeholder {
  color: gray;
  font-size: 12px;
}
</style>
{% endblock  %}

{% block content %}
<div class="cabase">
    <div class="cabaseplate">
        <div class="camenuinfo">
            <div class="menu_cp1">
                <a href="{% url 'asset:tec_list' %}"><span class="m_mdata">优秀实践</span></a>
            </div>
            <div class="gmenu_cp2">
                <a href="{% url 'asset:complaint_list' %}"><span class="m_mdata">客诉问题</span></a>
            </div>
            <div class="gmenu_cp3" >
                <a href="{% url 'asset:patent_list' %}"><span class="m_mdata">专利</span></a>
            </div>
            <div class="gmenu_cp4" style="background-color: orange">
                <a href="{% url 'asset:project_list' %}"><span class="chpract">项目数据</span></a>
            </div>
        </div>
        <div class="cainfo_base">
            <blockquote class="layui-elem-quote layui-text" style="margin-top:10px;margin-left:1px">
                添加项目过程数据。标注测试即由测试领域人员填写。其他标注软件和硬件同理
            </blockquote>
            <fieldset class="layui-elem-field layui-field-title" style="margin-top: 10px;">
                <legend style="width:160px;border-bottom:none;margin-bottom:0px;color: orange">项目说明(测试)</legend>
            </fieldset>
            <div class="site-text" style="padding:5px">
                <form action="{{project.id}}" method="post" class="layui-form" enctype="multipart/form-data">{% csrf_token %}
                    <div class="layui-form-item">
                        <label class="layui-form-label" style="width:100px">项目名称</label>
                        <div class="layui-input-inline">
                            <input type="text" name="name" value="{{project.name}}" lay-verify="required" lay-reqtext="不能为空" placeholder="测试填写" autocomplete="off" class="layui-input">
                        </div>
                        <label class="layui-form-label" style="width:100px">项目类型</label>
                        <div class="layui-input-inline" style="width:100px;height:38px">
                            <select name="type" lay-verify="required">
                                <option value="{{project.type}}">{{project.type}}</option>
                                <option value="全新">全新</option>
                                <option value="小改进">小改进</option>
                                <option value="OEM">OEM</option>
                                <option value="大改进">大改进</option>
                                <option value="技术项目">技术项目</option>
                            </select>
                        </div>
                        <label class="layui-form-label" style="width:100px">立项时间</label>
                        <div class="layui-input-inline" style="width:100px">
                            <input type="lay-date" class="layui-input" lay-verify="required" name="created_at" id="created_at" value="{{project.created_at|date:'Y-m-d'}}" placeholder="测试填写" style="height:38px">
                        </div>
                        <label class="layui-form-label" style="width:100px">TR5/6时间</label>
                        <div class="layui-input-inline" style="width:100px">
                            <input type="lay-date" class="layui-input" lay-verify="" name="completed_time" value="{{project.completed_time|date:'Y-m-d'}}" id="completed_time" placeholder="测试填写" style="height:38px">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label" style="width:100px">软件owner</label>
                        <div class="layui-input-inline" style="width:85px">
                            <input type="text" name="coder" value="{{project.coder}}" lay-verify="required" lay-reqtext="不能为空" placeholder="" autocomplete="off" class="layui-input">
                        </div>
                        <label class="layui-form-label" style="width:100px">硬件owner</label>
                        <div class="layui-input-inline" style="width:85px">
                            <input type="text" name="developer" value="{{project.developer}}" lay-verify="required" lay-reqtext="不能为空" placeholder="测试填写" autocomplete="off" class="layui-input">
                        </div>
                        <label class="layui-form-label" style="width:100px">测试owner</label>
                        <div class="layui-input-inline" style="width:85px">
                            <input type="text" name="tester" value="{{project.tester}}" lay-verify="required" lay-reqtext="不能为空" placeholder="测试填写" autocomplete="off" class="layui-input">
                        </div>
                        <label class="layui-form-label" style="width:120px">需求变更次数</label>
                        <div class="layui-input-inline" style="width:100px">
                            <input type="lay-date" class="layui-input" lay-verify="required" name="changed" id="changed" value="{{project.changed|default_if_none:''}}" placeholder="测试填写" style="height:38px">
                        </div>
                    </div>
                    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 10px;">
                        <legend style="width:100px;border-bottom:none;margin-bottom:0px;color: orange">过程质量</legend>
                    </fieldset>
                    <div class="layui-form-item">
                        <label class="layui-form-label" style="width:150px">性能板子交付时间</label>
                        <div class="layui-input-inline">
                            <input type="lay-date" class="layui-input" lay-verify="" name="deliver" value="{{project.deliver|date:'Y-m-d'}}" id="deliver" placeholder="硬件填写" style="height:38px">
                        </div>
                        <label class="layui-form-label" style="width:110px">缺陷引入率</label>
                        <div class="layui-input-inline" style="width:80px">
                            <input type="text" name="newbug_percent" value="{{project.newbug_percent|default_if_none:''}}" lay-verify="" lay-reqtext="不能为空" placeholder="软件填写" autocomplete="off" class="layui-input">
                        </div>
                        <label class="layui-form-label" style="width:150px">缺陷回归不通过数</label>
                        <div class="layui-input-inline" style="width:80px">
                            <input type="text" name="reopen_count" value="{{project.reopen_count|default_if_none:''}}" lay-verify="" lay-reqtext="不能为空" placeholder="软件填写" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label" style="width:100px">测试轮次</label>
                        <div class="layui-input-inline" style="width:80px">
                            <input type="text" name="test_round" value="{{project.test_round|default_if_none:''}}" lay-verify="" lay-reqtext="不能为空" placeholder="测试填写" autocomplete="off" class="layui-input">
                        </div>
                        {% comment %} <div class="layui-form-mid layui-word-aux">测试</div> {% endcomment %}
                        <label class="layui-form-label" style="width:100px">驳回轮次</label>
                        <div class="layui-input-inline" style="width:80px">
                            <input type="text" name="reject_count" value="{{project.reject_count|default_if_none:''}}" lay-verify="" lay-reqtext="不能为空" placeholder="测试填写" autocomplete="off" class="layui-input">
                        </div>
                        <label class="layui-form-label" style="width:100px">漏测率</label>
                        <div class="layui-input-inline" style="width:80px">
                            <input type="text" name="missing_percent" value="{{project.missing_percent|default_if_none:''}}" lay-verify="" lay-reqtext="不能为空" placeholder="测试填写" autocomplete="off" class="layui-input">
                        </div>
                        <label class="layui-form-label" style="width:120px">用例外Bug数</label>
                        <div class="layui-input-inline" style="width:80px">
                            <input type="text" name="nocase_found" value="{{project.nocase_found|default_if_none:''}}" lay-verify="" lay-reqtext="不能为空" placeholder="测试填写" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item layui-form-text">
                        <label class="layui-form-label" style="width:100px">驳回原因</label>
                        <div class="layui-input-block" style="width:600px">
                        <textarea name="reject_reason" placeholder="测试填写"  class="layui-textarea">{{project.reject_reason}}</textarea>
                        </div>
                    </div>
                    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 10px;">
                        <legend style="width:100px;border-bottom:none;margin-bottom:0px;color: orange">项目效率</legend>
                    </fieldset>
                    <div class="layui-form-item">
                        <label class="layui-form-label" style="width:120px">进度偏差天数</label>
                        <div class="layui-input-inline" style="width:80px">
                            <input type="text" name="delay" value="{{project.delay|default_if_none:''}}" lay-verify="" lay-reqtext="不能为空" placeholder="测试填写" autocomplete="off" class="layui-input">
                        </div>
                        <label class="layui-form-label" style="width:120px">进度偏差率</label>
                        <div class="layui-input-inline" style="width:80px">
                            <input type="text" name="delay_percent" value="{{project.delay_percent|default_if_none:''}}" lay-verify="" lay-reqtext="不能为空" placeholder="测试填写" autocomplete="off" class="layui-input">
                        </div>
                        <label class="layui-form-label" style="width:120px">转测试天数/轮</label>
                        <div class="layui-input-inline" style="width:80px">
                            <input type="text" name="day_round" value="{{project.day_round|default_if_none:''}}" lay-verify="" lay-reqtext="不能为空" placeholder="软件填写" autocomplete="off" class="layui-input">
                        </div>
                        <label class="layui-form-label" style="width:140px">人均人力天/版本</label>
                        <div class="layui-input-inline" style="width:80px">
                            <input type="text" name="per_version" value="{{project.per_version|default_if_none:''}}" lay-verify="" lay-reqtext="不能为空" placeholder="测试填写" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item layui-form-text">
                        <label class="layui-form-label" style="width:100px">偏差原因</label>
                        <div class="layui-input-block" style="width:600px">
                        <textarea name="delay_reason"  placeholder="请输入内容" class="layui-textarea">{{project.delay_reason}}</textarea>
                        </div>
                    </div>
                    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 10px;">
                        <legend style="width:100px;border-bottom:none;margin-bottom:0px;color:orange">产品质量</legend>
                    </fieldset>
                    <div class="layui-form-item">
                        <label class="layui-form-label" style="width:160px">关键性能超越竞品数</label>
                        <div class="layui-input-inline" style="width:80px">
                            <input type="text" name="perf_count" value="{{project.perf_count|default_if_none:''}}" lay-verify="" lay-reqtext="不能为空" placeholder="测试填写" autocomplete="off" class="layui-input">
                        </div>
                        <label class="layui-form-label" style="width:160px">Beta/内测问题数</label>
                        <div class="layui-input-inline" style="width:80px">
                            <input type="text" name="beta_bug" value="{{project.beta_bug|default_if_none:''}}" lay-verify="" lay-reqtext="不能为空" placeholder="测试填写" autocomplete="off" class="layui-input">
                        </div>
                        <label class="layui-form-label" style="width:160px">OA客诉问题数</label>
                        <div class="layui-input-inline" style="width:80px">
                            <input type="text" name="customer_bug" value="{{project.customer_bug|default_if_none:''}}" lay-verify="" lay-reqtext="不能为空" placeholder="测试填写" autocomplete="off" class="layui-input">
                        </div>
                        <label class="layui-form-label" style="width:160px">重大质量事故数</label>
                        <div class="layui-input-inline" style="width:80px">
                            <input type="text" name="quality_issue" value="{{project.quality_issue|default_if_none:''}}" lay-verify="" lay-reqtext="不能为空" placeholder="测试填写" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 10px;">
                        <legend style="width:120px;border-bottom:none;margin-bottom:0px;color:orange">领域竞争力</legend>
                    </fieldset>
                    <div class="layui-form-item">
                        <label class="layui-form-label" style="width:130px">解决方案满意度</label>
                        <div class="layui-input-inline" style="width:80px">
                            <input type="text" name="solution" value="{{project.solution|default_if_none:''}}" lay-verify="" lay-reqtext="不能为空" placeholder="测试填写" autocomplete="off" class="layui-input">
                        </div>
                        <label class="layui-form-label" style="width:130px">目标成本达成率</label>
                        <div class="layui-input-inline" style="width:80px">
                            <input type="text" name="cost_percent" value="{{project.cost_percent|default_if_none:''}}" lay-verify="" lay-reqtext="不能为空" placeholder="硬件填写" autocomplete="off" class="layui-input">
                        </div>
                        <label class="layui-form-label" style="width:130px">PCB打板次数</label>
                        <div class="layui-input-inline" style="width:80px">
                            <input type="text" name="pcb_count" value="{{project.pcb_count|default_if_none:''}}" lay-verify="" lay-reqtext="不能为空" placeholder="硬件填写" autocomplete="off" class="layui-input">
                        </div>
                        <label class="layui-form-label" style="width:130px">材料优选率</label>
                        <div class="layui-input-inline" style="width:80px">
                            <input type="text" name="item_percent" value="{{project.item_percent|default_if_none:''}}" lay-verify="" lay-reqtext="不能为空" placeholder="硬件填写" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 10px;">
                        <legend style="width:100px;border-bottom:none;margin-bottom:0px;color:orange">技术领域</legend>
                    </fieldset>
                    <div class="layui-form-item">
                        <label class="layui-form-label" style="width:110px">技术项目数</label>
                        <div class="layui-input-inline" style="width:100px">
                            <input type="text" name="tec_count" value="{{project.tec_count|default_if_none:''}}" lay-verify="" lay-reqtext="不能为空" placeholder="SE或测试填写" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item layui-form-text">
                        <label class="layui-form-label" style="width:100px">技术项目</label>
                        <div class="layui-input-block" style="width:600px">
                        <textarea name="tec"  placeholder="技术模块  立项时间  交付时间" class="layui-textarea">{{project.tec}}</textarea>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                        <button type="submit" class="layui-btn" lay-submit="" style="background-color:#FF8F00" lay-filter="demo1">立即提交</button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>

layui.use('laydate', function(){
  var laydate = layui.laydate;
  
  //执行一个laydate实例
  laydate.render({
    elem: '#created_at' //立项时间
  });

  laydate.render({
    elem: '#completed_time' //结项时间
  });
  
  laydate.render({
    elem: '#deliver'     // 性能板子交付时间
  })

});

layui.use('form', function(){
  var form = layui.form; //只有执行了这一步，部分表单元素才会自动修饰成功
  
  //……
  
  //如果你的 HTML 是动态生成的，自动渲染就会失效
  //因此你需要在相应的地方，执行下述方法来进行渲染
  form.render();
});  
</script>

{% endblock  %}