{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}添加培训课程{% endblock %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/account/admin_group.css' %} ">
<link rel="stylesheet" href="{% static 'css/account/manager.css' %} ">
<link rel="stylesheet" href="{% static 'css/training/train.css' %} ">

<div class="base">
    <div class="tnbaseplate">
        <div class="menuinfo">
            <div class="gmenu_cp1">
                <span class="left_bd"></span>
                <a href="{% url 'training:course_list' %}"><span class="chpract">培训课程</span></a>
            </div>
            <div class="gmenu_cp2">
                <a href="{% url 'training:point_list' %}"><span class="m_mdata">积分展示</span></a>
            </div>
        </div>
        <div class="info_base">
            <div class="De_title">
                <div class="Route">
                    <span style="color:rgba(0, 0, 0, 0.447058823529412);">培训管理  /  培训记录</span>
                    <span style="color:#999999;"> </span>
                    <span style="color:rgba(0, 0, 0, 0.447058823529412);"> /  </span>
                    <span style="color:rgba(0, 0, 0, 0.847058823529412);">   培训记录详情</span>
                </div>
                <div class="Page_Title">培训记录详情</div>
            </div>
            <div class="cd_going">
                <span class="cd_info">培训信息</span>
            </div>
            <div class="cdgoing_cont">
                <span class="cdname">名称：{{course.cname}}</span>
                <span class="cdtype">主持人：    {{course.teacher.realname}}</span>
                <span class="hdname">培训范围：{{course.range}}</span>
                <span class="cdoa">培训地址：{{course.address}}</span>
                <span class="cdtime">培训时间：{{course.course_time}}</span>
            </div>
            <div class="tdcont">
                <span class="cdname">参加成员：{% for username in course.student.all %}{{username.realname}} {% endfor %}</span>
                <span class="cdoa">内容概述：{{course.cdescription}}</span>
            </div>
            <button class="tdrelist" onclick="window.history.back()">返回列表</button>
        </div>
    </div>
</div>

{% endblock  %}