{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}培训管理{% endblock  %}

{% block content %}
{% comment %} <link rel="stylesheet" href="{% static 'css/training/training.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
<div class="all-container">
    <div class="uk-container">
        <div class="side-bar">
            <div class="bar1">
            <!--改动-->
               <div class="menu1_icon"></div>
             <!--改动-->
                <a href="#" class="menu1 btn-default" role="button">培训</a>
            </div>
            <div class="bar2">
                <a href="#" class="menu2 btn-default" role="button">积分</a>
            </div>
        </div>
        <div class="mid">
            <img src="{% static 'images/training/mid.svg' %}" alt="" class="separate">
        </div>
        <div class="content">
            <div class="title">
                <span>培训</span>
            </div>
            <div class="group1 default">
                <span>搜索范围：</span>
            </div>
            <div class="group2 default">
                <select id="group-select" class="department form-control default" style="font-size: 13px;">
                    <option selected value="测试部" class="select_option">测试部</option>
                    <option value="1" class="">1</option>
                </select>
            </div>
            <div class="time1 default">
                <span>时间选择：</span>
            </div>
            <div class="time2 default">
                <select id="time-year" class="year form-control default" style="font-size: 13px;">
                    <option value="2020">2020</option>
                </select>
            </div>
            <div class="search default">
                <input type="text" id="search1" value="请输入">
            </div>
            <div class="addbutton">
                {% if userinfo.role_id == 3 or userinfo.role_id == 4 %}
                <a href="{% url 'training:add_course' %}"><button id="add">添加</button></a>
                {% endif %}
            </div>
            <div class="table-train">
                <table class="table table-text table-hover">
                    <thead class="thead-style">
                        <tr>
                            <th><input type="checkbox" id=all onclick=""></th>
                            <th>序号</th>
                            <th>名称</th>
                            <th>培训范围</th>
                            <th>主讲人</th>
                            <th>参加成员</th>
                            <th>培训地址</th>
                            <th>培训时间</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input type="checkbox" name="box" onclick=""></td>
                            <td>1</td>
                            <td>RF框架-架构篇</td>
                            <td>商用测试组</td>
                            <td>李测试</td>
                            <td>19人</td>
                            <td>5楼5号会议室</td>
                            <td>2019/12/08</td>
                            <td>
                                <div class="operate">
                                    <a name="look-over">查看</a>
                                    <a name="download">下载</a>
                                    <img src="{% static 'images/training/button.png' %}" href="#" class="img-button">
                                </div>
                            </td>
                        </tr>
                        {% for course in courses %}
                        <tr>
                            <td><input type="checkbox" name="box" onclick=""></td>
                            <td>{{forloop.counter}}</td>
                            <td>{{course.cname}}</td>
                            <td>{{course.range}}</td>
                            <td>{{course.teacher}}</td>
                            <td></td>
                            <td>{{course.address}}</td>
                            <td>{{course.course_time}}</td>
                            <td>
                                <div class="operate">
                                    <a name="look-over">查看</a>
                                    <a name="download">下载</a>
                                    <img src="{% static 'images/training/button.png' %}" href="#" class="img-button">
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="page-foot">
                <div class="data-num"></div>
                
            </div>
        </div>
    </div>
</div>
{% endcomment %}


<link rel="stylesheet" href="{% static 'css/account/admin_group.css' %}">
<link rel="stylesheet" href="{% static 'css/account/manager.css' %}">
<link rel="stylesheet" href="{% static 'css/training/train.css' %}">

<div class="base">
    <div class="tnbaseplate">
        <div class="menuinfo">
            <div class="gmenu_cp1">
                <span class="left_bd"></span>
                <a href="{% url 'training:course_list' %}"><span class="chpract">培训课程</span></a>
            </div>
            <div class="gmenu_cp2">
                <a href="{% url 'training:point_list' %}"><span class="m_mdata">积分展示</span></a>
            </div>
        </div>
        <div class="info_base">
            <div class="Cp_title">
                <span class="Cust_Com">培训课程</span>
            </div>
            <div class="tnseltinfo">
                <label for="" class="sortrg">搜索范围：</label>
                <select class="rgselect">
                    <option value="0">测试部</option>
                    <option value="1">自动化开发组</option>
                    <option value="2">接入测试组</option>
                    <option value="3">家用测试组</option>
                    <option value="4">商用测试组</option>
                    <option value="5">便携测试组</option>
                    <option value="6">资料开发组</option>
                    <option value="7">OEM测试组</option>
                </select>
                <label for="" class="gptime">时间选择：</label>
                <select class="gptimepick">
                    <option value="0">2019</option>
                    <option value="1">2020</option>
                </select>
                <input type="text" class="trsearch" placeholder="请输入">
                <img src="{% static 'images/training/sort.svg' %}" class="trsortimg">
                <img src="{% static 'images/asset/handle.svg' %}" class="trsthandle">
                {% if userinfo.role_id == 3 or userinfo.role_id == 4 %}
                <a href="{% url 'training:add_course' %}"><button class="adcustomer" type="button">添加</button></a>
                {% endif %}
            </div>
            <table class="tntable" align="center">
                <thead>
                    <tr class="gd_th">
                        <td class="tntd1">
                            <input type="checkbox" class="tnck">
                        </td>
                        <td class="tntd2">序号</td>
                        <td class="tntd3">名称</td>
                        <td class="tntd4">培训范围</td>
                        <td class="tntd5">主讲人</td>
                        <td class="tntd6">参加成员</td>
                        <td class="tntd7">培训地址</td>
                        <td class="tntd8">培训时间</td>
                        <td class="tntd9">操作</td>
                    </tr>
                </thead>
                <tbody>
                    <tr class="tntr">
                        <td class="tntd1">
                            <input type="checkbox" class="tnck">
                        </td>
                        <td>1</td>
                        <td>
                            <span class="sign"></span>
                            <span class="Cust_cont">RF框架-架构篇</span>
                        </td>
                        <td>商用测试组</td>
                        <td>李测试</td>
                        <td>
                            <span>19人</span>
                            <span class="sign"></span>
                        </td>
                        <td>5楼5号会议室</td>
                        <td>2019/12/08</td>
                        <td>
                            <span class="dload"><a href="">查看</a> | <a href="">下载</a></span>
                            <img src="{% static 'images/account/see.png' %}" class="see_dload">
                        </td>
                    </tr>
                    {% for course in courses %}
                    <tr class="tntr">
                        <td class="tntd1">
                            <input type="checkbox" class="tnck">
                        </td>
                        <td>{{forloop.counter}}</td>
                        <td>
                            <span class="sign"></span>
                            <span class="Cust_cont">{{course.cname}}</span>
                        </td>
                        <td>{{course.range}}</td>
                        <td>{{course.teacher.realname}}</td>
                        <td>{{course.student.all.count}}人</td>
                        <td>{{course.address}}</td>
                        <td>{{course.course_time|date:"Y/m/d H:i"}}</td>
                        <td>
                            <span class="dload"><a href="{% url 'training:course_detail' course.id %}">查看</a> | <a href="">下载</a></span>
                            <img src="{% static 'images/account/see.png' %}" class="see_dload">
                        </td>
                    </tr>
                    {% endfor %}
                    <tr class="tntr">
                        <td class="tntd1"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="tntr">
                        <td class="tntd1"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="tntr">
                        <td class="tntd1"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="tntr">
                        <td class="tntd1"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="tntr">
                        <td class="tntd1"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="tntr">
                        <td class="tntd1">
                            <input type="checkbox" class="tnck">
                        </td>
                        <td>8</td>
                        <td>
                            <span class="sign"></span>
                            <span class="Cust_cont">实验室资产管理平台定时发送邮件实现物品催…</span>
                        </td>
                        <td>自动化开发组</td>
                        <td>李家用</td>
                        <td>
                            <span>10人</span>
                            <span class="sign"></span>
                        </td>
                        <td>5楼5号会议室</td>
                        <td>2019/12/08</td>
                        <td>
                            <span class="dload">查看 | 下载</span>
                            
                        </td>
                    </tr>
                    <tr class="tntr">
                        <td class="tntd1"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
            <div class="tnfooter">
                <div class="cc_total">
                    <span>共计{{courses.count}}条数据</span>
                </div>
                {% comment %} <img src="{% static 'images/asset/left.png' %}" class="Ct_left"> {% endcomment %}
                <div class="cc_page1">
                    <span class="Ct_pg1">1</span>
                </div>
                <div class="Ct_pg2">
                    <span>2</span>
                </div>
                <div class="Ct_pg3">
                    <span>3</span>
                </div>
                <div class="Ct_pg4">
                    <span>4</span>
                </div>
                <div class="Ct_pg5">
                    <span>5</span>
                </div>
                {% comment %} <img src="images/admin/right.png" class="Ct_right"> {% endcomment %}
                <button class="cc_page">
                    <span style="font-family:'ArialMT', 'Arial';">10</span>
                    <span style="font-family:'PingFangSC-Regular', 'PingFang SC';">条/页</span>
                    {% comment %} <img src="images/admin/right.png" class="Ct_img"> {% endcomment %}
                </button>
                <div class="Ct_goto">
                    <span>前往第</span>
                </div>
                <input type="text" class="cc_input" placeholder="2">
                <div class="Ct_pages">
                    <span>页</span>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock  %}