{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}培训管理{% endblock  %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/account/admin_group.css' %}">
<link rel="stylesheet" href="{% static 'css/account/manager.css' %}">
<link rel="stylesheet" href="{% static 'css/training/train.css' %}">
{% endblock  %}

{% block content %}
<div class="base">
    <div class="tnbaseplate">
        <div class="menuinfo">
            <div class="gmenu_cp1">
                <span class="left_bd"></span>
                <a href="{% url 'training:course_list' %}"><span class="chpract">培训课程</span></a>
            </div>
            <div class="gmenu_cp2">
                <a href="{% url 'training:point_list' %}"><span class="m_mdata">积分展示</span></a>
            </div>
        </div>
        <div class="info_base">
            <div class="Cp_title">
                <span class="Cust_Com">培训课程</span>
            </div>
            <div class="tnseltinfo">
                <label for="" class="sortrg">搜索范围：</label>
                <select class="rgselect" onchange="selectGroup()" id="selectGroup">
                    <option value="测试部">测试部</option>
                    <option value="自动化开发组">自动化开发组</option>
                    <option value="接入测试组">接入测试组</option>
                    <option value="家用测试组">家用测试组</option>
                    <option value="商用测试组">商用测试组</option>
                    <option value="智能外设测试组">智能外设测试组</option>
                    <option value="资料开发组">资料开发组</option>
                    <option value="ISP运营商测试组">ISP运营商测试组</option>
                </select>
                <label for="" class="gptime">时间选择：</label>
                <select class="gptimepick" onchange="selectCTime()" id="selectCTime">
                    <option value="All">所有</option>
                    <option value="2020">2020</option>
                </select>
                <input type="text" class="trsearch" placeholder="请输入课程名, 培训地点" id="search-course">
                <img src="{% static 'images/asset/icn_search.png' %}" id="btn3" class="trsortimg">
                {% if userinfo.role_id == 3 or userinfo.role_id == 4 %}
                <a href="{% url 'training:add_course' %}"><button class="adcustomer" type="button">新增</button></a>
                {% endif %}
            </div>
            <div style="position:absolute;left:25px;top:118px;width:1162px"><table id="train_table" lay-filter="test"></table></div>
        </div>
    </div>
</div>
{% endblock  %}

{% block javascript %}
<script type="text/html" id="oper_tool">
  <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
  {% if userinfo.role.role_name == "PL" %}
  <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
  {% endif %}
  <a class="layui-btn layui-btn-xs" lay-event="download" >下载</a>
</script>
<script type="text/html" id="add_tool">
  <div class="layui-btn-container">
    <button class="layui-btn layui-btn-sm" lay-event="add">添加</button>
    <button class="layui-btn layui-btn-sm" lay-event="delete">删除</button>
    <button class="layui-btn layui-btn-sm" lay-event="update">编辑</button>
  </div>
</script>
<script type="text/html" id="toolbar">
  <div class="layui-btn-container">
    <button class="layui-btn layui-btn-sm" lay-event="getCheckData">获取选中行数据</button>
    <button class="layui-btn layui-btn-sm" lay-event="getCheckLength">获取选中数目</button>
    <button class="layui-btn layui-btn-sm" lay-event="isAll">验证是否全选</button>
  </div>
</script>
<script>
function showTipbox(target) {
    $el = $(target).find(".tip_box");
    if ($el.is(':visible')) {
        $el.hide()
    } else {
        $el.show()
    }
};
layui.use(['laypage', 'layer', 'table', 'element'], function () {
    var table = layui.table  // 表格
        , layer = layui.layer     // 弹窗
        , laypage = layui.laypage;    // 分页

    //table实例
    table.render({
        elem: '#train_table'
        , height: 550
        , url: '/training/course-list-data/' //数据接口
        , page: true //开启分页
        , limit: 10
        , toolbar: 'true'
        , defaultToolbar: ['filter', 'exports', 'print', { //自定义头部工具栏右侧图标。如无需自定义，去除该参数即可
            title: '提示'
            ,layEvent: 'LAYTABLE_TIPS'
            ,icon: 'layui-icon-tips'
        }]
        //, even: true
        //, skin: 'line'
        , title: '课程培训表'
        , cols: [[ //表头
            {type: 'checkbox', fixed: 'left'}
            //{ field: 'id', title: 'ID', width: 60, sort: true, }
            , { field: 'cname', title: '课程名', width: 343 }
            , { field: 'range', title: '课程范围', width: 120 }
            , { field: 'teacher', title: '主讲人', width: 96, sort: true }
            , { field: 'number', title: '参加人数', width: 100, sort: true }
            , { field: 'address', title: '培训地点', width: 134 }
            , { field: 'course_time', title: '培训时间', width: 149, sort:true}
            , { field: 'cdescription', title: '内容简介', hide: true}
            , { field: 'student', title: '培训签到', hide: true}
            , { fixed: 'right', title: '操作', toolbar: "#oper_tool" }
        ]]
    });
    // table 头工具栏事件


    // table行工具栏事件
    table.on('tool(test)', function (obj) {
        var data = obj.data, layEvent = obj.event;
        // console.log(data)
        if (layEvent === 'detail') {
            window.location.href = "/training/course-detail/" + data.id
        } else if (layEvent === 'download') {
            window.location.href = "/training/download-coursefile/" + data.id
        } else if (layEvent === 'edit') {
            window.location.href = "/training/edit-course/" + data.id
        }
    });

});

function selectGroup(){
    var range = $("#selectGroup").val()
    layui.use(['table'], function(){
        var table = layui.table  // 表格
        table.reload('train_table', {
            url: '/training/filter-course-list/'
            ,where: { range: range } //设定异步数据接口的额外参数
            //,height: 300
        });
    });
};

function selectCTime() {
    var year = $("#selectCTime").val()
    layui.use(['table'], function(){
        var table = layui.table  // 表格
        table.reload('train_table', {
            url: '/training/filter-course-list/'
            ,where: { year: year } //设定异步数据接口的额外参数
            //,height: 300
        });
    });
}

$("#btn3").on('click', function() {
    var search_key = $("#search-course").val()
    if(search_key != "") {
        layui.use(['table'], function(){
            var table = layui.table  // 表格
            table.reload('train_table', {
                url: '/training/search-course/'
                ,where: { search: search_key } //设定异步数据接口的搜索的关键字
                //,height: 300
            });
        });
    } else {
        window.location.href="/training/course-list/"
    }
})

// 绑定回车键、搜索课程
$(document).bind('keyup', function(e) {
    if (event.keyCode == 13) {
        var search_key = $("#search-course").val()
        if(search_key != "") {
            layui.use(['table'], function(){
                var table = layui.table  // 表格
                table.reload('train_table', {
                    url: '/training/search-course/'
                    ,where: { search: search_key } //设定异步数据接口的搜索的关键字
                    //,height: 300
                });
            });
        } else {
            window.location.href="/training/course-list/"
        }
    }
});


/*
function delete_course(the, course_id){
    var name = $(the).parents("tr").children("td").eq(1).text();
    layer.open({
        type:1,
        skin:"layui-layer-rim",
        area:["400px","200px"],
        title:"删除栏目",
        content:'<div class="text-center" style="margin-top:20px"><p>是否确定删除?</p></div>',
        btn:['确定','取消'],
        yes: function(){
            $.ajax({
                url:'/training/delete-course/',
                type:'POST',
                data:{"pk":course_id},
                success: function(e){
                    if (e=="1") {
                        parent.location.reload();
                        layer.msg("has been deleted");
                    } else {
                        layer.msg("删除成功");
                    }
                },
            })
        },
    });
};
*/


</script>
{% endblock  %}