{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}培训管理{% endblock  %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/training/training.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
<div class="all-container">
    <div class="uk-container">
        <div class="side-bar">
            <div class="bar1">
            <!--改动-->
               <div class="menu1_icon"></div>
             <!--改动-->
                <a href="#" class="menu1 btn-default" role="button">培训</a>
            </div>
            <div class="bar2">
                <a href="#" class="menu2 btn-default" role="button">积分</a>
            </div>
        </div>
        <div class="mid">
            <img src="{% static 'images/training/mid.svg' %}" alt="" class="separate">
        </div>
        <div class="content">
            <div class="title">
                <span>培训</span>
            </div>
            <div class="group1 default">
                <span>搜索范围：</span>
            </div>
            <div class="group2 default">
                <select id="group-select" class="department form-control default" style="font-size: 13px;">
                    <option selected value="测试部" class="select_option">测试部</option>
                    <option value="1" class="">1</option>
                </select>
            </div>
            <div class="time1 default">
                <span>时间选择：</span>
            </div>
            <div class="time2 default">
                <select id="time-year" class="year form-control default" style="font-size: 13px;">
                    <option value="2020">2020</option>
                </select>
            </div>
            <div class="search default">
                <input type="text" id="search1" value="请输入">
            </div>
            <div class="addbutton">
                <a href="{% url 'training:add_course' %}"><button id="add">添加</button></a>
            </div>
            <div class="table-train">
                <table class="table table-text table-hover">
                    <thead class="thead-style">
                        <tr>
                            <th><input type="checkbox" id=all onclick=""></th>
                            <th>序号</th>
                            <th>名称</th>
                            <th>培训范围</th>
                            <th>主讲人</th>
                            <th>参加成员</th>
                            <th>培训地址</th>
                            <th>培训时间</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input type="checkbox" name="box" onclick=""></td>
                            <td>1</td>
                            <td>RF框架-架构篇</td>
                            <td>商用测试组</td>
                            <td>李测试</td>
                            <td>19人</td>
                            <td>5楼5号会议室</td>
                            <td>2019/12/08</td>
                            <td>
                                <div class="operate">
                                    <a name="look-over">查看</a>
                                    <a name="download">下载</a>
                                    <img src="{% static 'images/training/button.png' %}" href="#" class="img-button">
                                </div>
                            </td>
                        </tr>
                        {% for course in courses %}
                        <tr>
                            <td><input type="checkbox" name="box" onclick=""></td>
                            <td>{{forloop.counter}}</td>
                            <td>{{course.cname}}</td>
                            <td>{{course.range}}</td>
                            <td>{{course.teacher}}</td>
                            <td></td>
                            <td>{{course.address}}</td>
                            <td>{{course.course_time}}</td>
                            <td>
                                <div class="operate">
                                    <a name="look-over">查看</a>
                                    <a name="download">下载</a>
                                    <img src="{% static 'images/training/button.png' %}" href="#" class="img-button">
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="page-foot">
                <div class="data-num"></div>
                
            </div>
        </div>
    </div>
</div>
{% endblock  %}