{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}编辑培训课程{% endblock  %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/account/admin_group.css' %} ">
<link rel="stylesheet" href="{% static 'css/account/manager.css' %} ">
<link rel="stylesheet" href="{% static 'css/training/train.css' %}">

<div class="base">
    <div class="baseplate">
        <div class="menuinfo">
            <div class="gmenu_cp1">
                <span class="left_bd"></span>
                <a href="{% url 'training:course_list' %}"><span class="chpract">培训课程</span></a>
            </div>
            <div class="gmenu_cp2">
                <a href="{% url 'training:point_list' %}"><span class="m_mdata">积分展示</span></a>
            </div>
        </div>
        <div class="info_base">
            <div class="Cp_title">
                <span class="Cust_Com">编辑培训课程</span>
            </div>
            <div class="add-course">
                <form action="{% url  'training:edit_course' course.id %}" method="post" enctype="multipart/form-data">{% csrf_token %}
                    <div class="tabd">
                        <span class="taname">培训名称：</span>
                        <input type="text" class="course-name" name="cname" placeholder="请输入培训名称" value="{{course.cname}}">
                    </div>
                    <div class="tabd">
                        <span class="taname">培训时间：</span>
                        <input type="text" name="course_time" id="course_time" style="color: rgb(153, 153, 153);" class="tatm" value="{{course.course_time | date:'Y/m/d H:i:s'}}">
                    </div>
                    <div class="tabd">
                        <span class="taauth">主讲人：</span>
                        <select class="group-user" name="" id="groups-user" onchange="change_teacher();">
                            {% for group in groups %}
                            {% if group.name == course.teacher.group.name %}
                            <option value="{{group.id}}" selected>{{group.name}}</option>
                            {% endif %}
                            <option value="{{group.id}}">{{group.name}}</option>
                            {% endfor %}
                        </select>
                        <select class="taauthpick" id="id_teacher" name="teacher">
                            <option value="{{course.teacher.id}}">{{course.teacher.realname}}</option>
                        </select>
                    </div>
                    <div class="tabd">
                        <span class="taname">培训地址：</span>
                        <input type="text" class="ittaname" name="address" value="{{course.address}}" placeholder="请输入培训地址">
                        <div class="tabd-range">
                            <span class="taname">培训范围：</span>
                            <select class="tarang" name="range">
                                <option value="测试部">测试部</option>
                                <option value="自动化开发组">自动化开发组</option>
                                <option value="接入测试组">接入测试组</option>
                                <option value="家用测试组">家用测试组</option>
                                <option value="商用测试组">商用测试组</option>
                                <option value="智能外设测试组">智能外设测试组</option>
                                <option value="资料开发组">资料开发组</option>
                                <option value="ISP运营商测试组">ISP运营商测试组</option>
                            </select>
                        </div>
                    </div>
                    <div class="tabd-joined">
                        <span class="taname">签到成员：</span>
                        <div class="tree-select">
                            <input type="hidden" name="student-joined" value="">
                            <div id="joined"></div>
                        </div>
                    </div>
                    <div class="tabd-content">
                        <span class="tacontsum">内容概括：</span>
                        <textarea class="tasumtext" cols="30" rows="10" name="cdescription" placeholder="请简单概括一下培训记录的大致内容">{{course.cdescription}}</textarea>
                    </div>
                    <div class="tabd-file">
                        <span class="taname">上传附件：</span>
                        <div class="taupextra">
                            {{this_form.file_name}}
                        </div>
                        <input type="submit" id="tahandin" value="提交">
                        <button id="tarevoke"  onclick="window.history.back()">取消</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="{% static 'js/layer.js' %}"></script>
<script>
layui.use('transfer', function(){
    var transfer = layui.transfer;
    let $ = layui.$;
    $.get('/training/get-userinfo/',{id:{{course.id}} }, 
        function(data,status) {
            //console.log(data['data']);
            //渲染
            transfer.render({
                elem: '#joined'  //绑定元素
                ,data: data['data']
                ,id: 'demo1' //定义索引
                ,width:162
                ,title:['未参加成员','参加成员']
                ,showSearch: true
                ,value: data['select']
                ,parseData: function (res) {
                    return {
                        "value": res.id
                        ,"title": res.realname
                        ,"disabled": res.disabled
                        ,"checked": res.checked
                    }
                }
                ,onchange: function (data, index) {
                    var transfer = layui.transfer;
                    var data = transfer.getData('demo1');
                    var ids = [];
                    for(let i = 0, len=data.length; i<len; i++) {
                        let value = data[i].value
                        ids.push(value)
                    };
                    $("input[name='student-joined']").attr("value",ids.join(','));
                }
            });
            var data = transfer.getData('demo1'); //获得右侧数据
            // console.log(data)
        }, "json");
});

// 日期时间控件
layui.use('laydate', function(){
  var laydate = layui.laydate;
  
  //执行一个laydate实例
  laydate.render({
    elem: '#course_time' //指定元素
    ,type: 'datetime'
    ,format: 'yyyy/MM/dd HH:mm:ss'
  });
});
</script>

{% endblock  %}