{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}添加培训课程{% endblock  %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/account/admin_group.css' %} ">
<link rel="stylesheet" href="{% static 'css/account/manager.css' %} ">
<link rel="stylesheet" href="{% static 'css/training/train.css' %}">

<div class="base">
    <div class="baseplate">
        <div class="menuinfo">
            <div class="gmenu_cp1">
                <span class="left_bd"></span>
                <a href="{% url 'training:course_list' %}"><span class="chpract">培训课程</span></a>
            </div>
            <div class="gmenu_cp2">
                <a href="{% url 'training:point_list' %}"><span class="m_mdata">积分展示</span></a>
            </div>
        </div>
        <div class="info_base">
            <div class="Cp_title">
                <span class="Cust_Com">编辑培训课程</span>
            </div>
            <form action="." method="post" enctype="multipart/form-data">{% csrf_token %}
                <div class="gnbd">
                    <span class="taname">培训名称：</span>
                    <input type="text" class="ittaname" name="cname" placeholder="请输入培训名称">
                </div>
                <div class="tabd2">
                    <span class="taname">培训时间：</span>
                    <input type="text" name="course_time" style="color: rgb(153, 153, 153);" class="tatm">
                </div>
                <div class="tabd3">
                    <span class="taauth">主讲人：</span>
                    <select class="group-user" name="" id="groups-user" onchange="change_teacher();">
                        {% for group in groups %}
                        <option value="{{group.id}}">{{group.name}}</option>
                        {% endfor %}
                    </select>
                    <select class="taauthpick" id="id_teacher" name="teacher">
                        
                    </select>
                </div>
                <div class="tabd4">
                    <span class="taname">参与成员：</span>
                    <select class="tampick">
                        <option value="0"></option>
                    </select>
                    <img src="{% static 'images/training/msel.svg' %} " class="tamsel">
                    <div class="mselbd">
                        <span class="mselname">张测试</span>
                        <img src="{% static 'images/training/mseldel.png' %}" class="mseldel">
                    </div>
                    <div class="mselbd2">
                        <span class="mselname">杨阳</span>
                        <img src="{% static 'images/training/mseldel.png' %}" class="mseldel2">
                    </div>
                    <div class="mselbd3">
                        <span class="mselname">李伟</span>
                        <img src="{% static 'images/training/mseldel.png' %}" class="mseldel2">
                    </div>
                    <div class="mselbd4">
                        <span class="mselname">何末</span>
                        <img src="{% static 'images/training/mseldel.png' %}" class="mseldel2">
                    </div>
                    <div class="mselbd5">
                        <span class="mselname">赵行</span>
                        <img src="{% static 'images/training/mseldel.png' %}" class="mseldel2">
                    </div>
                </div>
                <div class="tabd5">
                    <span class="taname">培训地址：</span>
                    <input type="text" class="ittaname" name="address" value="{{coure.address}}" placeholder="请输入培训地址">
                </div>
                <div class="tabd6">
                    <span class="taname">培训范围：</span>
                    <select class="tarang" name="range">
                        <option value="测试部">测试部</option>
                        <option value="自动化开发组">自动化开发组</option>
                        <option value="接入测试组">接入测试组</option>
                        <option value="家用测试组">家用测试组</option>
                        <option value="商用测试组">商用测试组</option>
                        <option value="便携测试组">便携测试组</option>
                        <option value="资料开发组">资料开发组</option>
                        <option value="OEM测试组">OEM测试组</option>
                    </select>
                </div>
                <div class="tabd7">
                    <span class="tacontsum">内容概括：</span>
                    <textarea class="tasumtext" cols="30" rows="10" name="cdescription" placeholder="请简单概括一下培训记录的大致内容"></textarea>
                </div>
                <div class="tabd8">
                    <span class="taname">上传附件：</span>
                    <div class="taupextra">
                        {{form.file_name}}
                    </div>
                    <span class="tafileformt">支持扩展名：.ppt .doc .xls .xlsx .rar .zip .pdf .md。</span>
                    <input type="submit" id="tahandin" value="提交">
                    <button id="tarevoke"  onclick="window.history.back()">取消</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript" src="{% static 'js/layer.js' %}"></script>
<script>

</script>

{% endblock  %}