{% extends 'base.html' %}

{% load staticfiles %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/account/admin_group.css' %}">
<link rel="stylesheet" href="{% static 'css/default.css' %}">
<link rel="stylesheet" href="{% static 'css/account/manager.css' %}">
{% endblock  %}

{% block content %}
<div class="base">
    <div class="baseplate">
        {% if userinfo.role_id == 3 %}
            {% include "training/siderbar_pl.html" %}
        {% elif userinfo.role_id == 4 %}
            {% include "training/siderbar_m.html" %}
        {% else %}
            {% include "training/siderbar_te.html" %}
        {% endif %}
        <div class="info_base">
            <div class="gp_title">
                <span class="Cust_Com">我贡献的培训</span>
            </div>
            <div class="tr_table">
                <table id="person-course" lay-filter="action"></table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script type="text/html" id="person-tool">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
    <a class="layui-btn layui-btn-xs" lay-event="download" >下载</a>
</script>
<script>
layui.use('table', function(){
    var table = layui.table;
    
    //table实例
    table.render({
        elem: '#person-course'
        , height: 512
        , url: '/training/person-course-data/' //数据接口
        , page: true //开启分页
        , limit: 10
        //, even: true
        //, skin: 'line'
        , cols: [[ //表头
            { field: 'id', title: 'ID', width: 60, sort: true, }
            , { field: 'cname', title: '课程名', width: 343 }
            , { field: 'range', title: '培训范围', width: 120 }
            , { field: 'teacher', title: '主讲人', width: 96, sort: true }
            , { field: 'number', title: '参加人数', width: 100, sort: true }
            , { field: 'address', title: '培训地点', width: 134 }
            , { field: 'course_time', title: '培训时间', width: 142 }
            , { field: '', title: '操作', toolbar: "#person-tool" }
        ]]
    });
    
    // table行工具栏事件
    table.on('tool(action)', function (obj) {
        var data = obj.data, layEvent = obj.event;
        // console.log(data)
        if (layEvent === 'detail') {
            window.location.href = "/training/course-detail/" + data.id
        } else if (layEvent === 'download') {
            window.location.href = "/training/download-coursefile/" + data.id
        }
    });

});
</script>

{% endblock  %}