{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/account/admin_group.css' %}">
<link rel="stylesheet" href="{% static 'css/default.css' %}">
<link rel="stylesheet" href="{% static 'css/account/manager.css' %}">

<div class="base">
    <div class="baseplate">
        {% if userinfo.role_id == 3 %}
            {% include "training/siderbar_pl.html" %}
        {% elif userinfo.role_id == 4 %}
            {% include "training/siderbar_m.html" %}
        {% else %}
            {% include "training/siderbar_te.html" %}
        {% endif %}
        <div class="info_base">
            <div class="gp_title">
            <span class="Cust_Com">我贡献的培训</span>
            </div>
            <table class="tr_table" align="center">
            <thead>
                <tr class="ct_th">
                <th class="tra1">序号</th>
                <th class="tra2">培训名称</th>
                <th class="tra3">培训范围</th>
                <th class="tra4">主讲人</th>
                <th class="tra5">参加成员</th>
                <th class="tra6">培训地址</th>
                <th class="tra7">培训时间</th>
                <th class="tra8">操作</th>
                </tr>
            </thead>
            <tbody>
                {% comment %} <tr class="gp_tr">
                    <td class="tra1">1</td>
                    <td class="tra2">
                        <span></span>
                        <span class="colr">网评分析工具二次开发需求实现</span>
                    </td>
                    <td class="tra3">自动化开发组</td>
                    <td class="tra4">李测试</td>
                    <td class="tra5">12人
                        <span></span>
                    </td>
                    <td class="tratd6">5楼1号会议室</td>
                    <td class="tra7">2019/12/08</td>
                    <td class="tra8">
                        <span class="dload">查看 | 下载</span>
                    </td>
                </tr> {% endcomment %}
                {% for course in course_list %}
                <tr class="gp_tr">
                    {% if strat %}
                    <td class="tra1">{{forloop.counter|add:strat}}</td>
                    {% else %}
                    <td class="tra1">{{forloop.counter}}</td>
                    {% endif %}
                    <td class="tra2">
                        <span class="colr">{{course.cname}}</span>
                    </td>
                    <td class="tra3">{{course.range}}</td>
                    <td class="tra4">{{course.teacher.realname}}</td>
                    <td class="tra5">{{course.student.all.count}}人</td>
                    <td class="tratd6">{{course.address}}</td>
                    <td class="tra7">{{course.course_time}}</td>
                    <td class="tra8">
                        <span class="dload"><a href="{% url 'training:course_detail' course.id %}">查看</a> | <a href="">下载</a></span>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            </table>
            <div class="tra_total" id="page_foot">
                <span class="ept_text">共计 {{courses_list.count}} 条数据</span>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'layui/layui.js' %}"></script>
<script>
layui.use('laypage', function(){
  var laypage = layui.laypage;
  
  //执行一个laypage实例
  laypage.render({
    elem: 'page_foot' //注意，这里的 test1 是 ID，不用加 # 号
    ,limit: 10
    ,count: {{courses_list.count}} //数据总数，从服务端得到
    ,curr: {{course_list.number}}
    ,hash:'fenye'
    ,layout: ['count', 'prev', 'page', 'next',  'refresh', 'skip']
    ,jump: function(obj, first) {
        console.log(obj.curr);
        console.log(obj.limit);
        page=obj.curr; 
        limit=obj.limit;
        // 首次不执行
        if ( !first) {
            location.href=`?page=${obj.curr}&limit=${obj.limit}`
        }
    }
  });
});
</script>

{% endblock  %}