{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}培训积分表{% endblock  %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/account/admin_group.css' %} ">
<link rel="stylesheet" href="{% static 'css/default.css' %} ">
<link rel="stylesheet" href="{% static 'css/account/manager.css' %} ">
<link rel="stylesheet" href="{% static 'css/training/train.css' %} ">

<div class="base">
    <div class="tnbaseplate">
        <div class="menuinfo">
            <div class="tmenu_cp1">
                <a href="{% url 'training:course_list' %}"><span class="m_mdata">培训课程</span></a>
            </div>
            <div class="tmenu_cp2">
                <span class="left_bd"></span>
                <a href="{% url 'training:point_list' %}"><span class="chpract">积分展示</span></a>
            </div>
        </div>
        <div class="info_base">
            <div class="Cp_title">
                <span class="Cust_Com">积分展示</span>
            </div>
            <div class="tnseltinfo">
                <label for="" class="sortrg">搜索范围：</label>
                <select class="rgselect" onchange="selectDepart()" id="selectDepart">
                    <option value="0">测试部</option>
                    <option value="1">家用测试组</option>
                    <option value="2">OEM测试组</option>
                    <option value="3">接入测试组</option>
                    <option value="4">商用测试组</option>
                    <option value="5">便携测试组</option>
                    <option value="6">资料开发组</option>
                    <option value="7">自动化开发组</option>
                </select>
                <label for="" class="gptime">时间选择：</label>
                <select class="gptimepick" onchange="selectYear()" id="selectDepart">
                    <option value="2019">2019</option>
                    <option value="2020">2020</option>
                </select>
                {% comment %} <input type="text" class="trsearch" placeholder="请输入">
                <img src="{% static 'images/training/sort.svg' %}" class="trsortimg">
                <img src="{% static 'images/asset/handle.svg' %} " class="trsthandle"> {% endcomment %}
            </div>
            {% comment %}
            <table class="tmtable" align="center">
                <thead>
                    <tr class="gd_th">
                        <td class="tmtd1">序号</td>
                        <td class="tmtd2">姓名</td>
                        <td class="tmtd3">
                            <span class="tmgroup">所属组</span>
                        </td>
                        <td class="tmtd4">参加培训积分</td>
                        <td class="tmtd5">组织小组训积分</td>
                        <td class="tmtd6">组织部门训积分</td>
                        <td class="tmtd7">
                            <span class="tmsore">总积分</span>
                            <img src="{% static 'images/asset/up.svg' %}" class="tmupimg">
                            <img src="{% static 'images/asset/down.svg' %}" class="tmdownimg">
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr class="tntr">
                        <td class="tmtd1">1</td>
                        <td class="tmtd2">李测试</td>
                        <td class="tmtd3">
                            <span class="tmgroup">商用测试组</span>
                        </td>
                        <td class="tmtd4">42</td>
                        <td class="tmtd5">20</td>
                        <td class="tmtd6">30</td>
                        <td class="tmtd7">
                            <span class="tmsums">92</span>
                        </td>
                    </tr>
                    {% for point in points %}
                    <tr class="tntr">
                        <td class="tmtd1"></td>
                        <td class="tmtd2"></td>
                        <td class="tmtd3">
                            <span class="tmgroup"></span>
                        </td>
                        <td class="tmtd4"></td>
                        <td class="tmtd5"></td>
                        <td class="tmtd6"></td>
                        <td class="tmtd7">
                            <span class="tmsums"></span>
                        </td>
                    </tr>
                    {% endfor %}
                    <tr class="tntr">
                        <td class="tmtd1"></td>
                        <td class="tmtd2"></td>
                        <td class="tmtd3">
                            <span class="tmgroup"></span>
                        </td>
                        <td class="tmtd4"></td>
                        <td class="tmtd5"></td>
                        <td class="tmtd6"></td>
                        <td class="tmtd7">
                            <span class="tmsums"></span>
                        </td>
                    </tr>
                    <tr class="tntr">
                        <td class="tmtd1"></td>
                        <td class="tmtd2"></td>
                        <td class="tmtd3">
                            <span class="tmgroup"></span>
                        </td>
                        <td class="tmtd4"></td>
                        <td class="tmtd5"></td>
                        <td class="tmtd6"></td>
                        <td class="tmtd7">
                            <span class="tmsums"></span>
                        </td>
                    </tr>
                    <tr class="tntr">
                        <td class="tmtd1"></td>
                        <td class="tmtd2"></td>
                        <td class="tmtd3">
                            <span class="tmgroup"></span>
                        </td>
                        <td class="tmtd4"></td>
                        <td class="tmtd5"></td>
                        <td class="tmtd6"></td>
                        <td class="tmtd7">
                            <span class="tmsums"></span>
                        </td>
                    </tr>
                    <tr class="tntr">
                        <td class="tmtd1"></td>
                        <td class="tmtd2"></td>
                        <td class="tmtd3">
                            <span class="tmgroup"></span>
                        </td>
                        <td class="tmtd4"></td>
                        <td class="tmtd5"></td>
                        <td class="tmtd6"></td>
                        <td class="tmtd7">
                            <span class="tmsums"></span>
                        </td>
                    </tr>
                    <tr class="tntr">
                        <td class="tmtd1"></td>
                        <td class="tmtd2"></td>
                        <td class="tmtd3">
                            <span class="tmgroup"></span>
                        </td>
                        <td class="tmtd4"></td>
                        <td class="tmtd5"></td>
                        <td class="tmtd6"></td>
                        <td class="tmtd7">
                            <span class="tmsums"></span>
                        </td>
                    </tr>
                    <tr class="tntr">
                        <td class="tmtd1"></td>
                        <td class="tmtd2"></td>
                        <td class="tmtd3">
                            <span class="tmgroup"></span>
                        </td>
                        <td class="tmtd4"></td>
                        <td class="tmtd5"></td>
                        <td class="tmtd6"></td>
                        <td class="tmtd7">
                            <span class="tmsums"></span>
                        </td>
                    </tr>
                    <tr class="tntr">
                        <td class="tmtd1"></td>
                        <td class="tmtd2"></td>
                        <td class="tmtd3">
                            <span class="tmgroup"></span>
                        </td>
                        <td class="tmtd4"></td>
                        <td class="tmtd5"></td>
                        <td class="tmtd6"></td>
                        <td class="tmtd7">
                            <span class="tmsums"></span>
                        </td>
                    </tr>
                    <tr class="tntr">
                        <td class="tmtd1"></td>
                        <td class="tmtd2"></td>
                        <td class="tmtd3">
                            <span class="tmgroup"></span>
                        </td>
                        <td class="tmtd4"></td>
                        <td class="tmtd5"></td>
                        <td class="tmtd6"></td>
                        <td class="tmtd7">
                            <span class="tmsums"></span>
                        </td>
                    </tr>
                </tbody>
            </table>
            {% endcomment %}
            <div style="position:absolute;left:25px;top:117px;"><table id="point_table" lay-filter="test"></table></div>
        </div>
    </div>
</div>
<script src="{% static '/layui/layui.js' %}"></script>
<script>
function showTipbox(target) {
    $el = $(target).find(".tip_box");
    if ($el.is(':visible')) {
        $el.hide()
    } else {
        $el.show()
    }
};
layui.use(['laypage', 'layer', 'table', 'element'], function () {
    var table = layui.table  // 表格
        , layer = layui.layer     // 弹窗
        , laypage = layui.laypage;    // 分页

    //table实例
    table.render({
        elem: '#point_table'
        , height: 512
        , url: '/training/point-list-data/' //数据接口
        , page: true //开启分页
        //, even: true
        //, skin: 'line'
        , cols: [[ //表头
            { field: 'id', title: 'ID', width: 60, sort: true, }
            , { field: 'person', title: '姓名', width: 200 }
            , { field: 'group', title: '所属组', width: 190 }
            , { field: 'joined', title: '参加培训积分', width: 160, sort:true}
            , { field: 'teached_group', title: '组织小组培训积分', width: 168}
            , { field: 'teached', title: '组织部门培训积分', width: 180 }
            , { field: 'total', title: '总积分', sort:true, width:180}
        ]]
    });

    // table行工具栏事件
    table.on('tool(test)', function (obj) {
        var data = obj.data, layEvent = obj.event;
        console.log(data)
        if (layEvent === 'detail') {
            window.location.href = "/asset/complaint-detail/" + data.id
        } else if (layEvent === 'download') {
            window.location.href = "/asset/download-cfile/" + data.id
        }
    });

});

function selectDepart() {
    var group = $("#selectDepart").val()
    if(group != 0) {
        layui.use(['table'], function(){
        var table = layui.table  // 表格
        table.reload('point_table', {
            url: '/training/filter-point-list/'
            ,where: { group: group } //设定异步数据接口的额外参数
            //,height: 300
            });
        });
    } else {
        window.location.href="/training/point-list/"
    }
}

function selectYear() {
    var year = $("#selectYear").val()
    layui.use(['table'], function(){
        var table = layui.table  // 表格
        table.reload('point_table', {
            url: '/training/filter-point-list/'
            ,where: { year: year } //设定异步数据接口的额外参数
            //,height: 300
        });
    });
}

</script>
{% endblock %}