{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}添加成功{% endblock %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/account/admin_group.css' %}">
<link rel="stylesheet" href="{% static 'css/account/manager.css' %}">
<link rel="stylesheet" href="{% static 'css/training/train.css' %}">

<div class="base">
    <div class="baseplate">
        <div class="menuinfo">
            <div class="gmenu_cp1">
                <span class="left_bd"></span>
                <a href="{% url 'training:course_list' %}"><span class="chpract">培训课程</span></a>
            </div>
            <div class="gmenu_cp2">
                <a href="{% url 'training:point_list' %}"><span class="m_mdata">积分展示</span></a>
            </div>
        </div>
        <div class="info_base">
            <div class="Cp_title">
                <span class="Cust_Com">添加培训课程</span>
            </div>
            <img src="{% static 'images/asset/success.png' %}" class="tshdsuc">
            <span class="tssbtsuc">添加成功</span>
            <span class="tssuctext">您添加的培训课程已经提交成功，请返回列表或查看详情。</span>
        </div>
        <a href="{% url 'training:course_list' %}">
            <button class="tsback">返回列表</button>
        </a>
        <a href="{% url 'training:course_detail' course.id %}">
            <button class="tssee">查看详情</button>
        </a>
    </div>
</div>

{% endblock %}